﻿@using MMB.ePay.Web.Resources

@inject IWebResourceManager WebResourceManager
@{
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/morris.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/raphael.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.flot.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.waypoints.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.counterup.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/topojson.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.easypiechart.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/chartist.min.js");
}

<div class="TopStatsContainer h-100">
    <div class="row row-no-padding row-col-separator-xl">
        <div class="col">
            <div class="card card-custom bgi-no-repeat card-stretch gutter-b new-subscription-statistics h-100">
                <div class="card-body">
                    <a href="#" class="card-title text-left font-weight-bolder text-dark font-size-h6 mb-0 text-hover-state-dark d-block">
                        Total Profit
                    </a>
                    <span class="text-muted font-weight-bold text-left float-left col-12 p-0 mb-4">All Customs Value</span>
                    <div class="font-weight-bold text-muted font-size-sm text-left">
                        <span class="text-primary font-weight-bolder font-size-h2 mr-2 dashboard-placeholder2 counterup" id="totalProfit">...</span>
                    </div>
                    <div class="progress progress-xs bg-primary-o-60">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 76%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <span class="text-muted mr-2 font-size-sm font-weight-bold">
                            Change
                        </span>
                        <span class="text-muted font-size-sm font-weight-bold">
                            76%
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-custom bgi-no-repeat card-stretch gutter-b new-subscription-statistics h-100">
                <div class="card-body">
                    <a href="#" class="card-title text-left font-weight-bolder text-dark font-size-h6 mb-0 text-hover-state-dark d-block">
                        New Feedbacks
                    </a>
                    <span class="text-muted font-weight-bold text-left float-left col-12 p-0 mb-4">Customer Review</span>
                    <div class="font-weight-bold text-muted font-size-sm text-left">
                        <span class="text-info font-weight-bolder font-size-h2 mr-2 dashboard-placeholder2 counterup" id="newFeedbacks">...</span>
                    </div>
                    <div class="progress progress-xs bg-info-o-60">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 85%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <span class="text-muted mr-2 font-size-sm font-weight-bold">
                            Change
                        </span>
                        <span class="text-muted font-size-sm font-weight-bold">
                            85%
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-custom bgi-no-repeat card-stretch gutter-b new-subscription-statistics h-100">
                <div class="card-body">
                    <a href="#" class="card-title text-left font-weight-bolder text-dark font-size-h6 mb-0 text-hover-state-dark d-block">
                        New Orders
                    </a>
                    <span class="text-muted font-weight-bold text-left float-left col-12 p-0 mb-4">Fresh Order Amount</span>
                    <div class="font-weight-bold text-muted font-size-sm text-left">
                        <span class="text-danger font-weight-bolder font-size-h2 mr-2 dashboard-placeholder2 counterup" id="newOrders">...</span>
                    </div>
                    <div class="progress progress-xs bg-info-o-60">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 45%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <span class="text-muted mr-2 font-size-sm font-weight-bold">
                            Change
                        </span>
                        <span class="text-muted font-size-sm font-weight-bold">
                            45%
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-custom bgi-no-repeat card-stretch gutter-b new-subscription-statistics h-100">
                <div class="card-body">
                    <a href="#" class="card-title text-left font-weight-bolder text-dark font-size-h6 mb-0 text-hover-state-dark d-block">
                        New Users
                    </a>
                    <span class="text-muted font-weight-bold text-left float-left col-12 p-0 mb-4">Joined New User</span>
                    <div class="font-weight-bold text-muted font-size-sm text-left">
                        <span class="text-success font-weight-bolder font-size-h2 mr-2 dashboard-placeholder2 counterup" id="newUsers">...</span>
                    </div>
                    <div class="progress progress-xs bg-success-o-60">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 57%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <span class="text-muted mr-2 font-size-sm font-weight-bold">
                            Change
                        </span>
                        <span class="text-muted font-size-sm font-weight-bold">
                            57%
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
