﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.StatutoryPosted
@model CreateOrEditStatutoryPostedModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditStatutoryPosted")) : L("CreateNewStatutoryPosted")))

<div class="modal-body">
    <div id="StatutoryPostedInformationsTab">
        <form name="StatutoryPostedInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.StatutoryPosted.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryPosted_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control" id="StatutoryPosted_PayrollNo" value="@Model.StatutoryPosted.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryPosted_StatutoryTypeId">@L("StatutoryType")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="StatutoryPosted.StatutoryTypeId" asp-items="Model.StatutoryTypeList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryPosted_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control" id="StatutoryPosted_Amount" value="@Model.StatutoryPosted.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryPosted_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control" id="StatutoryPosted_EmployeeId" value="@Model.StatutoryPosted.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")