﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.StatutoryPosted
@model StatutoryPostedViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="StatutoryPostedInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.StatutoryPosted.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("StatutoryCode") :</h6>
                @Model.StatutoryPosted.StatutoryType
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.StatutoryPosted.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.StatutoryPosted.EmployeeId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")