﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EarningTmp
@model CreateOrEditEarningTmpModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEarningTmp")) : L("CreateNewEarningTmp")))

<div class="modal-body">
    <div id="EarningTmpInformationsTab">
        <form name="EarningTmpInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.EarningTmp.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningTmp_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningTmp_PayrollNo" value="@Model.EarningTmp.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningTmp_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningTmp_Amount" value="@Model.EarningTmp.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningTmp_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningTmp_EmployeeId" value="@Model.EarningTmp.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningTmp_EarningTypeId">@L("EarningTypeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningTmp_EarningTypeId" value="@Model.EarningTmp.EarningTypeId.ToString(CultureInfo.InvariantCulture)" type="number" name="earningTypeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningTmp_RecurEarningId">@L("RecurEarningId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningTmp_RecurEarningId" value="@Model.EarningTmp.RecurEarningId.ToString(CultureInfo.InvariantCulture)" type="number" name="recurEarningId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningTmp_SessionId">@L("SessionId")</label>
                <div class="col-9">
                    <input class="form-control" id="EarningTmp_SessionId" value="@Model.EarningTmp.SessionId" type="text" name="sessionId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")