﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EarningTmp
@model EarningTmpViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="EarningTmpInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.EarningTmp.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.EarningTmp.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.EarningTmp.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EarningTypeId") :</h6>
                @Model.EarningTmp.EarningTypeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("RecurEarningId") :</h6>
                @Model.EarningTmp.RecurEarningId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("SessionId") :</h6>
                @Model.EarningTmp.SessionId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")