﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.OvertimeTypes
@using MMB.ePay.Web.Areas.App.Startup
@model OvertimeTypesViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Common.OvertimeTypes; }
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/OvertimeTypes/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">
    @{ var g1Count = Model.Group1.Count;
                    var g2Count = Model.Group2.Count; }

    <form asp-action="Edit">
        <input type="hidden" id="IsEditMode" asp-for="IsEditMode" />

        <abp-page-subheader title="@L("OvertimeTypes")">
            @if (IsGranted(AppPermissions.Pages_OvertimeTypes_Create))
            {
<button id="saveBtn" type="submit" class="btn btn-success">
    <i class="fa fa-save"></i>
    @L("Update")
</button>            }
        </abp-page-subheader>

        <div class="@(await GetContainerClass())">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row align-items-center">
                        <table id="OvertimeTypesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th width="10%">Type</th>
                                    <th>Description</th>
                                    @foreach (var group2 in Model.Group2)
                                    {
                        <th>@group2</th>
}
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < g1Count; i++)
                                {
                    <tr>
                        <td>
                            @Model.Group1[i].Item1
                        </td>
                        <td>
                            @Model.Group1[i].Item2
                        </td>
                        @for (var j = 0; j < g2Count; j++)
                        {
                            <td>
                                <input type="text" class="form-control" name="OvertimeTypes" value="@Model.OvertimeTypes[j+(g2Count*i)]" />
                            </td>
                        }
                    </tr>
                        }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>