﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ProcessHistory
@model CreateOrEditProcessHistoryModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditProcessHistory")) : L("CreateNewProcessHistory")))

<div class="modal-body">
    <div id="ProcessHistoryInformationsTab">
        <form name="ProcessHistoryInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.ProcessHistory.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ProcessHistory_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control" id="ProcessHistory_PayrollNo" value="@Model.ProcessHistory.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ProcessHistory_StatusCode">@L("ProcessStatus")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="ProcessHistory.ProcessStatusId" asp-items="Model.ProcessStatusList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ProcessHistory_Remarks">@L("Remarks")</label>
                <div class="col-9">
                    <input class="form-control" id="ProcessHistory_Remarks" value="@Model.ProcessHistory.Remarks" type="text" name="remarks" maxlength="@MMB.ePay.Payroll.ProcessHistoryConsts.MaxRemarksLength" minlength="@MMB.ePay.Payroll.ProcessHistoryConsts.MinRemarksLength" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")