﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.CompanyStatutoryInfo
@model CreateOrEditCompanyStatutoryInfoModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditStatutoryInfo")) : L("CreateNewStatutoryInfo")))

<div class="modal-body">
    <div id="CompanyStatutoryInfoInformationsTab">
        <form name="CompanyStatutoryInfoInformationsForm" role="form" novalidate class="form-validation">

            <input type="hidden" name="statutoryType" value="@Model.CompanyStatutoryInfo.StatutoryType" />

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.CompanyStatutoryInfo.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="CompanyStatutoryInfo_StatutoryType">@L("StatutoryType")</label>
                <div class="col-9">
                    <input class="form-control" value="@Model.CompanyStatutoryInfo.StatutoryType" type="text" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="CompanyStatutoryInfo_Branch">@L("Branch")</label>
                <div class="col-9">
                    <input class="form-control" id="CompanyStatutoryInfo_Branch" value="@Model.CompanyStatutoryInfo.Branch" type="text" name="branch"
                           maxlength="@MMB.ePay.Payroll.CompanyStatutoryInfoConsts.MaxBranchLength"
                           minlength="@MMB.ePay.Payroll.CompanyStatutoryInfoConsts.MinBranchLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="CompanyStatutoryInfo_SignatoryId">@L("Signatory")</label>
                <div class="col-9">
                    <select class="form-control" id="CompanyStatutoryInfo_SignatoryId" asp-for="CompanyStatutoryInfo.SignatoryId" asp-items="Model.SignatoryList" name="signatoryId"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="CompanyStatutoryInfo_StatutoryAcctNo">@L("AccountNo")</label>
                <div class="col-9">
                    <input class="form-control" id="CompanyStatutoryInfo_StatutoryAcctNo" value="@Model.CompanyStatutoryInfo.StatutoryAcctNo" type="text" name="statutoryAcctNo"
                           maxlength="@MMB.ePay.Payroll.CompanyStatutoryInfoConsts.MaxStatutoryAcctNoLength"
                           minlength="@MMB.ePay.Payroll.CompanyStatutoryInfoConsts.MinStatutoryAcctNoLength" />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")