﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.CompanyStatutoryInfo
@model CompanyStatutoryInfoViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="CompanyStatutoryInfoInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("StatutoryType") :</h6>
            <div class="col-6 col-form-label">
                @Model.CompanyStatutoryInfo.StatutoryType
            </div>
            <h6 class="col-6 col-form-label">@L("AccountNo") :</h6>
            <div class="col-6 col-form-label">
                @Model.CompanyStatutoryInfo.StatutoryAcctNo
            </div>
            <h6 class="col-6 col-form-label">@L("Signatory") :</h6>
            <div class="col-6 col-form-label">
                @Model.CompanyStatutoryInfo.SignatoryName
            </div>
            <h6 class="col-6 col-form-label">@L("BranchName") :</h6>
            <div class="col-6 col-form-label">
                @Model.CompanyStatutoryInfo.Branch
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")