﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.CompanyStatutoryInfo
@using MMB.ePay.Web.Areas.App.Startup
@model CompanyStatutoryInfoViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.CompanyStatutoryInfo;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/CompanyStatutoryInfo/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("CompanyStatutoryInfo")">
        @if (IsGranted(AppPermissions.Pages_CompanyStatutoryInfo_Create))
        {
        <button id="CreateNewCompanyStatutoryInfoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewCompanyStatutoryInfo")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="CompanyStatutoryInfoTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("StatutoryType")</th>
                                <th>@L("AccountNo")</th>
                                <th>@L("Signatory")</th>
                                <th>@L("Branch")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
