﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@model LookupModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.Title ?? L("SelectRoles")))

<div class="modal-body">
    <form>
        <div class="input-group">
            <input class="form-control add-role-filter-text" placeholder="@L("SearchWithThreeDot")" type="text">
            <span class="input-group-btn">
                <button class="btn btn-primary add-role-filter-button" type="submit"><i class="flaticon-search-1" aria-label="@L("Search")"></i></button>
            </span>
        </div>
    </form>
    <table id="addRoleModalTable" class="display table table-separate table-head-custom no-footer dtr-inline dt-responsive nowrap">
        <thead>
        <tr>
            <th>@L("Select")</th>
            <th>@L("Role")</th>
        </tr>
        </thead>
    </table>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-dismiss="modal">@L("Cancel")</button>
    <button type="button" id="btnAddRolesToOrganization" class="btn btn-primary save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
</div>