﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.TenantBanks
@model CreateOrEditTenantBanksModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditTenantBanks")) : L("CreateNewTenantBanks")))

<div class="modal-body">
    <div id="TenantBanksInformationsTab">
        <form name="TenantBanksInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.TenantBanks.Id" />
                <input type="hidden" name="bankId" value="@Model.TenantBanks.BankId" />
                <input type="hidden" name="bankBranchId" value="@Model.TenantBanks.BankBranchId" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="TenantBanks_BankId">@L("Bank")</label>
                    <div class="col-9">
                        <select class="form-control" asp-for="TenantBanks.BankId" name="bankId" asp-items="Model.BankList" disabled></select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="TenantBanks_BankBranchId">@L("BankBranch")</label>
                    <div class="col-9">
                        <select class="form-control" asp-for="TenantBanks.BankBranchId" name="bankBranchId" asp-items="Model.BankBranchList" disabled></select>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="TenantBanks_BankId">@L("Bank")</label>
                    <div class="col-9">
                        <select class="form-control" id="TenantBanks_BankId" asp-for="TenantBanks.BankId" asp-items="Model.BankList" name="bankId"></select>
                    </div>
                </div>

                <div class="form-group row" id="divBankBranch" style="display: none">
                    <label class="col-3 col-form-label" for="TenantBanks_BankBranchId">@L("BankBranch")</label>
                    <div class="col-9">
                        <select class="form-control" id="TenantBanks_BankBranchId" name="bankBranchId"></select>
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TenantBanks_BankAccountNumber">@L("BankAccountNumber")</label>
                <div class="col-9">
                    <input class="form-control" id="TenantBanks_BankAccountNumber" value="@Model.TenantBanks.BankAccountNumber" type="text" name="bankAccountNumber"
                           required maxlength="@MMB.ePay.Payroll.TenantBanksConsts.MaxBankAccountNumberLength"
                           minlength="@MMB.ePay.Payroll.TenantBanksConsts.MinBankAccountNumberLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TenantBanks_BankAccountType">@L("BankAccountType")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="TenantBanks.BankAccountType" asp-items="Model.BankAccountTypeList" name="bankAccountType"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TenantBanks_BranchNumber">@L("BranchNumber")</label>
                <div class="col-9">
                    <input class="form-control" id="TenantBanks_BranchNumber" value="@Model.TenantBanks.BranchNumber" type="text" name="branchNumber"
                           maxlength="@MMB.ePay.Payroll.TenantBanksConsts.MaxBranchNumberLength"
                           minlength="@MMB.ePay.Payroll.TenantBanksConsts.MinBranchNumberLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TenantBanks_CorporateId">@L("CorporateId")</label>
                <div class="col-9">
                    <input class="form-control" id="TenantBanks_CorporateId" value="@Model.TenantBanks.CorporateId" type="text" name="corporateId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")