﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.TenantBanks
@model TenantBanksViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="TenantBanksInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("BankAccountNumber") :</h6>
            <div class="col-6 col-form-label">
                @Model.TenantBanks.BankAccountNumber
            </div>
            <h6 class="col-6 col-form-label">@L("BankAccountType") :</h6>
            <div class="col-6 col-form-label">
                @Model.TenantBanks.BankAccountType
            </div>
            <h6 class="col-6 col-form-label">@L("BranchNumber") :</h6>
            <div class="col-6 col-form-label">
                @Model.TenantBanks.BranchNumber
            </div>
            <h6 class="col-6 col-form-label">@L("BankBranchId") :</h6>
            <div class="col-6 col-form-label">
                @Model.TenantBanks.BankBranch
            </div>
            <h6 class="col-6 col-form-label">@L("CorporateId") :</h6>
            <div class="col-6 col-form-label">
                @Model.TenantBanks.CorporateId
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")