﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.TenantBanks
@using MMB.ePay.Web.Areas.App.Startup
@model TenantBanksViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.TenantBanks;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/TenantBanks/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("TenantBanks")">
        @if (IsGranted(AppPermissions.Pages_TenantBanks_Create))
        {
        <button id="CreateNewTenantBanksButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewTenantBanks")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="TenantBanksTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("BranchName")</th>
                                <th>@L("BankAccountNumber")</th>
                                <th>@L("BankAccountType")</th>
                                <th>@L("BranchNumber")</th>
                                <th>@L("CorporateId")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>