﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Deductions
@model CreateOrEditDeductionsModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditDeductions")) : L("CreateNewDeductions")))

<div class="modal-body">
    <div id="DeductionsInformationsTab">
        <form name="DeductionsInformationsForm" role="form" novalidate class="form-validation">
            <input type="hidden" name="employeeId" value="@Model.Deductions.EmployeeId" />

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Deductions.Id" />
                <input type="hidden" name="deductionTypeId" value="@Model.Deductions.DeductionTypeId" />
                <input type="hidden" name="payrollNo" value="@Model.Deductions.PayrollNo" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="Deductions_DeductionTypeId">@L("DeductionType")</label>
                    <div class="col-9">
                        <select class="form-control" asp-for="Deductions.DeductionTypeId" asp-items="Model.DeductionTypeList" disabled></select>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="Deductions_DeductionTypeId">@L("DeductionType")</label>
                    <div class="col-9">
                        <select class="form-control" id="Deductions_DeductionTypeId" name="deductionTypeId" asp-for="Deductions.DeductionTypeId" asp-items="Model.DeductionTypeList"></select>
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Deductions_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="Deductions_Amount" value="@Model.Deductions.Amount?.ToString(CultureInfo.InvariantCulture)" required type="number" name="amount" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")