﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Deductions
@model DeductionsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="DeductionsInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.Deductions.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.Deductions.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.Deductions.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DeductionTypeId") :</h6>
                @Model.Deductions.DeductionTypeId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")