﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EmployeePayroll
@model CreateOrEditEmployeePayrollModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEmployeePayroll")) : L("CreateNewEmployeePayroll")))

<div class="modal-body">
    <div id="EmployeePayrollInformationsTab">
        <form name="EmployeePayrollInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.EmployeePayroll.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EmployeePayroll_PayrollType">@L("PayrollType")</label>
                <div class="col-9">
                    <input class="form-control" id="EmployeePayroll_PayrollType" value="@Model.EmployeePayroll.PayrollType" type="text" name="payrollType" required maxlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MaxPayrollTypeLength" minlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MinPayrollTypeLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EmployeePayroll_Salary">@L("Salary")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EmployeePayroll_Salary" value="@Model.EmployeePayroll.Salary?.ToString(CultureInfo.InvariantCulture)" type="number" name="salary" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EmployeePayroll_PagibigNumber">@L("PagibigNumber")</label>
                <div class="col-9">
                    <input class="form-control" id="EmployeePayroll_PagibigNumber" value="@Model.EmployeePayroll.PagibigNumber" type="text" name="pagibigNumber" maxlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MaxPagibigNumberLength" minlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MinPagibigNumberLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EmployeePayroll_PagibigAdd">@L("PagibigAdd")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EmployeePayroll_PagibigAdd" value="@Model.EmployeePayroll.PagibigAdd?.ToString(CultureInfo.InvariantCulture)" type="number" name="pagibigAdd" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EmployeePayroll_PagibigRate">@L("PagibigRate")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EmployeePayroll_PagibigRate" value="@Model.EmployeePayroll.PagibigRate?.ToString(CultureInfo.InvariantCulture)" type="number" name="pagibigRate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EmployeePayroll_SSSNumber">@L("SSSNumber")</label>
                <div class="col-9">
                    <input class="form-control" id="EmployeePayroll_SSSNumber" value="@Model.EmployeePayroll.SSSNumber" type="text" name="sssNumber" required maxlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MaxSSSNumberLength" minlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MinSSSNumberLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EmployeePayroll_PhilhealthNumber">@L("PhilhealthNumber")</label>
                <div class="col-9">
                    <input class="form-control" id="EmployeePayroll_PhilhealthNumber" value="@Model.EmployeePayroll.PhilhealthNumber" type="text" name="philhealthNumber" maxlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MaxPhilhealthNumberLength" minlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MinPhilhealthNumberLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EmployeePayroll_PaymentType">@L("PaymentType")</label>
                <div class="col-9">
                    <input class="form-control" id="EmployeePayroll_PaymentType" value="@Model.EmployeePayroll.PaymentType" type="text" name="paymentType" required maxlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MaxPaymentTypeLength" minlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MinPaymentTypeLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EmployeePayroll_BankAccountNo">@L("BankAccountNo")</label>
                <div class="col-9">
                    <input class="form-control" id="EmployeePayroll_BankAccountNo" value="@Model.EmployeePayroll.BankAccountNo" type="text" name="bankAccountNo" maxlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MaxBankAccountNoLength" minlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MinBankAccountNoLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EmployeePayroll_TIN">@L("TIN")</label>
                <div class="col-9">
                    <input class="form-control" id="EmployeePayroll_TIN" value="@Model.EmployeePayroll.TIN" type="text" name="tin" maxlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MaxTINLength" minlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MinTINLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EmployeePayroll_TaxRate">@L("TaxRate")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EmployeePayroll_TaxRate" value="@Model.EmployeePayroll.TaxRate?.ToString(CultureInfo.InvariantCulture)" type="number" name="taxRate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EmployeePayroll_EmploymentType">@L("EmploymentType")</label>
                <div class="col-9">
                    <input class="form-control" id="EmployeePayroll_EmploymentType" value="@Model.EmployeePayroll.EmploymentType" type="text" name="employmentType" maxlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MaxEmploymentTypeLength" minlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MinEmploymentTypeLength" />
                </div>
            </div>

            @*<div class="form-group row">
                <label class="col-3 col-form-label" for="EmployeePayroll_Rank">@L("Rank")</label>
                <div class="col-9">
                    <input class="form-control" id="EmployeePayroll_Rank" value="@Model.EmployeePayroll.Rank" type="text" name="rank" maxlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MaxRankLength" minlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MinRankLength" />
                </div>
            </div>*@

            <div class="m-checkbox-list">
                <label for="EmployeePayroll_OT_exempt" class="kt-checkbox">
                    <input id="EmployeePayroll_OT_exempt" type="checkbox" name="oT_exempt" value="true" @Html.Raw(Model.EmployeePayroll.OT_exempt ? "checked=\"checked\"" : "") />
                    @L("OT_exempt")
                    <span></span>
                </label>
            </div>

            <div class="m-checkbox-list">
                <label for="EmployeePayroll_SSS_exempt" class="kt-checkbox">
                    <input id="EmployeePayroll_SSS_exempt" type="checkbox" name="ssS_exempt" value="true" @Html.Raw(Model.EmployeePayroll.SSS_exempt ? "checked=\"checked\"" : "") />
                    @L("SSS_exempt")
                    <span></span>
                </label>
            </div>

            <div class="m-checkbox-list">
                <label for="EmployeePayroll_PH_exempt" class="kt-checkbox">
                    <input id="EmployeePayroll_PH_exempt" type="checkbox" name="pH_exempt" value="true" @Html.Raw(Model.EmployeePayroll.PH_exempt ? "checked=\"checked\"" : "") />
                    @L("PH_exempt")
                    <span></span>
                </label>
            </div>

            <div class="m-checkbox-list">
                <label for="EmployeePayroll_PAG_exempt" class="kt-checkbox">
                    <input id="EmployeePayroll_PAG_exempt" type="checkbox" name="paG_exempt" value="true" @Html.Raw(Model.EmployeePayroll.PAG_exempt ? "checked=\"checked\"" : "") />
                    @L("PAG_exempt")
                    <span></span>
                </label>
            </div>

            <div class="m-checkbox-list">
                <label for="EmployeePayroll_Tax_exempt" class="kt-checkbox">
                    <input id="EmployeePayroll_Tax_exempt" type="checkbox" name="tax_exempt" value="true" @Html.Raw(Model.EmployeePayroll.Tax_exempt ? "checked=\"checked\"" : "") />
                    @L("Tax_exempt")
                    <span></span>
                </label>
            </div>

            <div class="m-checkbox-list">
                <label for="EmployeePayroll_ComputeAsDaily" class="kt-checkbox">
                    <input id="EmployeePayroll_ComputeAsDaily" type="checkbox" name="computeAsDaily" value="true" @Html.Raw(Model.EmployeePayroll.ComputeAsDaily ? "checked=\"checked\"" : "") />
                    @L("ComputeAsDaily")
                    <span></span>
                </label>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")