﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EmployeePayroll
@model EmployeePayrollViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="EmployeePayrollInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollType") :</h6>
                @Model.EmployeePayroll.PayrollType
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Salary") :</h6>
                @Model.EmployeePayroll.Salary
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PagibigNumber") :</h6>
                @Model.EmployeePayroll.PagibigNumber
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PagibigAdd") :</h6>
                @Model.EmployeePayroll.PagibigAdd
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PagibigRate") :</h6>
                @Model.EmployeePayroll.PagibigRate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("SSSNumber") :</h6>
                @Model.EmployeePayroll.SSSNumber
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PhilhealthNumber") :</h6>
                @Model.EmployeePayroll.PhilhealthNumber
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PaymentType") :</h6>
                @Model.EmployeePayroll.PaymentType
            </div>
            <div class="col-6 mb-3">
                <h6>@L("BankAccountNo") :</h6>
                @Model.EmployeePayroll.BankAccountNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TIN") :</h6>
                @Model.EmployeePayroll.TIN
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TaxRate") :</h6>
                @Model.EmployeePayroll.TaxRate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmploymentType") :</h6>
                @Model.EmployeePayroll.EmploymentType
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Rank") :</h6>
                @Model.EmployeePayroll.Rank
            </div>
            <div class="col-6 mb-3">
                <h6>@L("OT_exempt") :</h6>
                @Model.EmployeePayroll.OT_exempt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("SSS_exempt") :</h6>
                @Model.EmployeePayroll.SSS_exempt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PH_exempt") :</h6>
                @Model.EmployeePayroll.PH_exempt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PAG_exempt") :</h6>
                @Model.EmployeePayroll.PAG_exempt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Tax_exempt") :</h6>
                @Model.EmployeePayroll.Tax_exempt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ComputeAsDaily") :</h6>
                @Model.EmployeePayroll.ComputeAsDaily
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")