﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.EmployeePayroll
@using MMB.ePay.Web.Areas.App.Startup
@model EmployeePayrollViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.EmployeePayroll;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/EmployeePayroll/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("EmployeePayroll")" description="@L("EmployeePayrollHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_EmployeePayroll_Create))
        {
        <button id="CreateNewEmployeePayrollButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewEmployeePayroll")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="EmployeePayrollTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetEmployeePayrollButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="PayrollTypeFilterId">@L("PayrollType")</label>
                            <input type="text" class="form-control" name="payrollTypeFilter" id="PayrollTypeFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinSalaryFilterId">@L("MinMax") @L("Salary")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minSalaryFilter" id="MinSalaryFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxSalaryFilter" id="MaxSalaryFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="PagibigNumberFilterId">@L("PagibigNumber")</label>
                            <input type="text" class="form-control" name="pagibigNumberFilter" id="PagibigNumberFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinPagibigAddFilterId">@L("MinMax") @L("PagibigAdd")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minPagibigAddFilter" id="MinPagibigAddFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxPagibigAddFilter" id="MaxPagibigAddFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinPagibigRateFilterId">@L("MinMax") @L("PagibigRate")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minPagibigRateFilter" id="MinPagibigRateFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxPagibigRateFilter" id="MaxPagibigRateFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SSSNumberFilterId">@L("SSSNumber")</label>
                            <input type="text" class="form-control" name="sssNumberFilter" id="SSSNumberFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="PhilhealthNumberFilterId">@L("PhilhealthNumber")</label>
                            <input type="text" class="form-control" name="philhealthNumberFilter" id="PhilhealthNumberFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="PaymentTypeFilterId">@L("PaymentType")</label>
                            <input type="text" class="form-control" name="paymentTypeFilter" id="PaymentTypeFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="BankAccountNoFilterId">@L("BankAccountNo")</label>
                            <input type="text" class="form-control" name="bankAccountNoFilter" id="BankAccountNoFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TINFilterId">@L("TIN")</label>
                            <input type="text" class="form-control" name="tinFilter" id="TINFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinTaxRateFilterId">@L("MinMax") @L("TaxRate")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minTaxRateFilter" id="MinTaxRateFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxTaxRateFilter" id="MaxTaxRateFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="EmploymentTypeFilterId">@L("EmploymentType")</label>
                            <input type="text" class="form-control" name="employmentTypeFilter" id="EmploymentTypeFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="RankFilterId">@L("Rank")</label>
                            <input type="text" class="form-control" name="rankFilter" id="RankFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="OT_exemptFilterId">@L("OT_exempt")</label>
                        <select class="form-control" name="OT_exemptFilter" id="OT_exemptFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="SSS_exemptFilterId">@L("SSS_exempt")</label>
                        <select class="form-control" name="SSS_exemptFilter" id="SSS_exemptFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="PH_exemptFilterId">@L("PH_exempt")</label>
                        <select class="form-control" name="PH_exemptFilter" id="PH_exemptFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="PAG_exemptFilterId">@L("PAG_exempt")</label>
                        <select class="form-control" name="PAG_exemptFilter" id="PAG_exemptFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="Tax_exemptFilterId">@L("Tax_exempt")</label>
                        <select class="form-control" name="Tax_exemptFilter" id="Tax_exemptFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="ComputeAsDailyFilterId">@L("ComputeAsDaily")</label>
                        <select class="form-control" name="ComputeAsDailyFilter" id="ComputeAsDailyFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="EmployeePayrollTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("PayrollType")</th>
                                <th>@L("Salary")</th>
                                <th>@L("PagibigNumber")</th>
                                <th>@L("PagibigAdd")</th>
                                <th>@L("PagibigRate")</th>
                                <th>@L("SSSNumber")</th>
                                <th>@L("PhilhealthNumber")</th>
                                <th>@L("PaymentType")</th>
                                <th>@L("BankAccountNo")</th>
                                <th>@L("TIN")</th>
                                <th>@L("TaxRate")</th>
                                <th>@L("EmploymentType")</th>
                                <th>@L("Rank")</th>
                                <th>@L("OT_exempt")</th>
                                <th>@L("SSS_exempt")</th>
                                <th>@L("PH_exempt")</th>
                                <th>@L("PAG_exempt")</th>
                                <th>@L("Tax_exempt")</th>
                                <th>@L("ComputeAsDaily")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>