﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.DeductionTmp
@model CreateOrEditDeductionTmpModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditDeductionTmp")) : L("CreateNewDeductionTmp")))

<div class="modal-body">
    <div id="DeductionTmpInformationsTab">
        <form name="DeductionTmpInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.DeductionTmp.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionTmp_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionTmp_PayrollNo" value="@Model.DeductionTmp.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionTmp_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionTmp_Amount" value="@Model.DeductionTmp.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionTmp_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionTmp_EmployeeId" value="@Model.DeductionTmp.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionTmp_DeductionTypeId">@L("DeductionTypeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionTmp_DeductionTypeId" value="@Model.DeductionTmp.DeductionTypeId.ToString(CultureInfo.InvariantCulture)" type="number" name="deductionTypeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionTmp_RecurDeductionId">@L("RecurDeductionId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionTmp_RecurDeductionId" value="@Model.DeductionTmp.RecurDeductionId.ToString(CultureInfo.InvariantCulture)" type="number" name="recurDeductionId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionTmp_SessionId">@L("SessionId")</label>
                <div class="col-9">
                    <input class="form-control" id="DeductionTmp_SessionId" value="@Model.DeductionTmp.SessionId" type="text" name="sessionId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")