﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.BankBranches
@model CreateOrEditBankBranchesModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditBankBranches")) : L("CreateNewBankBranches")))

<div class="modal-body">
    <div id="BankBranchesInformationsTab">
        <form name="BankBranchesInformationsForm" role="form" novalidate class="form-validation">

            <input type="hidden" name="bankId" value="@Model.BankBranches.BankId" />
            <input type="hidden" name="bankName" value="@Model.BankBranches.DisplayName" />

            <div class="form-group row">
                <label class="col-3 col-form-label" for="BankBranches_BankId">@L("DisplayName")</label>
                <div class="col-9">
                    <input class="form-control" value="@Model.BankBranches.DisplayName" type="text" disabled />
                </div>
            </div>

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.BankBranches.Id" />
                <input type="hidden" name="branchCode" value="@Model.BankBranches.BranchCode" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="BankBranches_BranchCode">@L("BranchCode")</label>
                    <div class="col-9">
                        <input class="form-control" value="@Model.BankBranches.BranchCode" type="text" disabled />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="BankBranches_BranchCode">@L("BranchCode")</label>
                    <div class="col-9">
                        <input class="form-control" id="BankBranches_BranchCode" value="@Model.BankBranches.BranchCode" type="text" name="branchCode"
                               maxlength="@MMB.ePay.Payroll.BankBranchesConsts.MaxBranchCodeLength"
                               minlength="@MMB.ePay.Payroll.BankBranchesConsts.MinBranchCodeLength" />
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="BankBranches_BranchName">@L("BranchName")</label>
                <div class="col-9">
                    <input class="form-control" id="BankBranches_BranchName" value="@Model.BankBranches.BranchName" type="text" name="branchName"
                           required maxlength="@MMB.ePay.Payroll.BankBranchesConsts.MaxBranchNameLength"
                           minlength="@MMB.ePay.Payroll.BankBranchesConsts.MinBranchNameLength" />
                </div>
            </div>



            <div class="form-group row">
                <label class="col-3 col-form-label" for="BankBranches_Address1">@L("Address1")</label>
                <div class="col-9">
                    <input class="form-control" id="BankBranches_Address1" value="@Model.BankBranches.Address1" type="text" name="address1"
                           maxlength="@MMB.ePay.Payroll.BankBranchesConsts.MaxAddress1Length"
                           minlength="@MMB.ePay.Payroll.BankBranchesConsts.MinAddress1Length" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="BankBranches_Address2">@L("Address2")</label>
                <div class="col-9">
                    <input class="form-control" id="BankBranches_Address2" value="@Model.BankBranches.Address2" type="text" name="address2"
                           maxlength="@MMB.ePay.Payroll.BankBranchesConsts.MaxAddress2Length"
                           minlength="@MMB.ePay.Payroll.BankBranchesConsts.MinAddress2Length" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")