﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.BankBranches
@model BankBranchesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="BankBranchesInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("BankCode") :</h6>
            <div class="col-6 col-form-label">
                @Model.BankBranches.BankId
            </div>
            <h6 class="col-6 col-form-label">@L("BranchCode") :</h6>
            <div class="col-6 col-form-label">
                @Model.BankBranches.BranchCode
            </div>
            <h6 class="col-6 col-form-label">@L("BranchName") :</h6>
            <div class="col-6 col-form-label">
                @Model.BankBranches.BranchName
            </div>
            <h6 class="col-6 col-form-label">@L("Address1") :</h6>
            <div class="col-6 col-form-label">
                @Model.BankBranches.Address1
            </div>
            <h6 class="col-6 col-form-label">@L("Address2") :</h6>
            <div class="col-6 col-form-label">
                @Model.BankBranches.Address2
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")