﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.BankBranches
@using MMB.ePay.Web.Areas.App.Startup
@model BankBranchesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.Banks;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/BankBranches/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("BankBranches")">
        <a asp-action="Index" asp-controller="Banks" class="btn btn-outline-secondary">
            <i class="flaticon2-left-arrow-1"></i>
            @L("Back")
        </a>

        @if (IsGranted(AppPermissions.Pages_BankBranches_Create))
        {
            <button id="CreateNewBankBranchesButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewBankBranches")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="BankBranchesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("BranchName")</th>
                                <th>@L("Address1")</th>
                                <th>@L("Address2")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>