﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Process
@model CreateOrEditProcessModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewPayrollProcess")))

<div class="modal-body">
    <div id="ProcessInformationsTab">
        <form name="ProcessInformationsForm" role="form" novalidate class="form-validation">

            <input type="hidden" name="payrollNo" value="@Model.Process.PayrollNo" />

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Process_ApplicableYear">@L("Year")</label>
                <div class="col-9">
                    <select class="form-control" id="Process_ApplicableYear" asp-items="Model.YearList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Process_ProcessType">@L("ProcessType")</label>
                <div class="col-9">
                    <select class="form-control" id="Process_ProcessType" asp-items="Model.ProcessTypeList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Process_PayrollFreq">@L("PayrollFreq")</label>
                <div class="col-9">
                    <select class="form-control" id="Process_PayrollFreq" asp-items="Model.PayrollFreqList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Process_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control" type="text" id="Process_PayrollNo" disabled />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")