﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.PayrollProcess
@model PayrollProcessViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="PayrollProcessInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.PayrollProcess.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Salary") :</h6>
                @Model.PayrollProcess.Salary
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DailyRate") :</h6>
                @Model.PayrollProcess.DailyRate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("HourlyRate") :</h6>
                @Model.PayrollProcess.HourlyRate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Timesheet") :</h6>
                @Model.PayrollProcess.Timesheet
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Overtime") :</h6>
                @Model.PayrollProcess.Overtime
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TxEarningAmt") :</h6>
                @Model.PayrollProcess.TxEarningAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("NtxEarningAmt") :</h6>
                @Model.PayrollProcess.NtxEarningAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DedTaxAmt") :</h6>
                @Model.PayrollProcess.DedTaxAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DeductionAmt") :</h6>
                @Model.PayrollProcess.DeductionAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("LoanAmt") :</h6>
                @Model.PayrollProcess.LoanAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("BasicPay") :</h6>
                @Model.PayrollProcess.BasicPay
            </div>
            <div class="col-6 mb-3">
                <h6>@L("GrossPay") :</h6>
                @Model.PayrollProcess.GrossPay
            </div>
            <div class="col-6 mb-3">
                <h6>@L("NetPay") :</h6>
                @Model.PayrollProcess.NetPay
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.PayrollProcess.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PayCodeId") :</h6>
                @Model.PayrollProcess.PayCodeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("BankBranchId") :</h6>
                @Model.PayrollProcess.BankBranchId
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")