﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.PayrollProcess
@using MMB.ePay.Web.Areas.App.Startup
@model PayrollProcessViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.PayrollProcess;
}
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/PayrollProcess/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("PayrollProcess")"></abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="row">
            <div class="col">
                @*MY PAYROLLS*@
                <div class="card card-custom gutter-b">
                    <div class="card-header align-items-center mt-4">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="font-weight-bolder text-dark">@L("MyPayrolls")</span>
                        </h3>
                        <div class="card-toolbar">
                            @if (IsGranted(AppPermissions.Pages_Process_Create))
                            {
                                <button id="CreateNewPayrollProcessButton" class="btn btn-primary blue">
                                    <i class="fa fa-plus"></i>
                                    @L("CreateNewProcess")
                                </button>
                            }
                        </div>
                    </div>

                    @if (Model.MyProcesses.Count > 0)
                    {
                        <div class="card-body">
                            <div class="card">
                                @foreach (var item in Model.MyProcesses)
                                {
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-11">
                                                <b>@Html.DisplayFor(e => item.ProcessType)</b>
                                                <br />
                                                Period: @Html.DisplayFor(e => item.Period)
                                                <br />
                                                Pay Date: @Html.DisplayFor(e => item.PayDate)
                                                <br />
                                                Status: @Html.DisplayFor(e => item.Status)
                                                <br />
                                                Created By: @Html.DisplayFor(e => item.Owner)
                                                <br />
                                                Created Date: @Html.DisplayFor(e => item.CreatedDate)
                                            </div>
                                            <div class="col-1">
                                                <a asp-action="Processing" asp-route-id="@item.Id" title="Load" class="btn btn-outline-hover-info btn-elevate btn-icon">
                                                    <i class="la la-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>

                @*FOR REVIEWERS*@
                @if (Model.IsReviewer)
                {
                    <div class="card card-custom gutter-b">
                        <div class="card-header align-items-center mt-4">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="font-weight-bolder text-dark">@L("ForReviewers")</span>
                            </h3>
                        </div>

                        @if (Model.MyReviews.Count > 0)
                        {
                            <div class="card-body">
                                <div class="card">
                                    @foreach (var item in Model.MyReviews)
                                    {
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-11">
                                                    <b>@Html.DisplayFor(e => item.ProcessType)</b>
                                                    <br />
                                                    Period: @Html.DisplayFor(e => item.Period)
                                                    <br />
                                                    Pay Date: @Html.DisplayFor(e => item.PayDate)
                                                    <br />
                                                    Status: @Html.DisplayFor(e => item.Status)
                                                    <br />
                                                    Created By: @Html.DisplayFor(e => item.Owner)
                                                    <br />
                                                    Created Date: @Html.DisplayFor(e => item.CreatedDate)
                                                </div>
                                                <div class="col-1">
                                                    <a asp-action="Processing" asp-route-id="@item.Id" title="Load" class="btn btn-outline-hover-info btn-elevate btn-icon">
                                                        <i class="la la-chevron-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>

            <div class="col">
                @*EMPLOYEE PAYROLLS*@
                <div class="card card-custom gutter-b">
                    <div class="card-header align-items-center mt-4">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="font-weight-bolder text-dark">@L("EmployeePayrolls")</span>
                        </h3>
                    </div>

                    @if (Model.OtherProcesses.Count > 0)
                    {
                        <div class="card-body">
                            <div class="card">
                                @foreach (var item in Model.OtherProcesses)
                                {
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-11">
                                                <b>@Html.DisplayFor(e => item.ProcessType)</b>
                                                <br />
                                                Period: @Html.DisplayFor(e => item.Period)
                                                <br />
                                                Pay Date: @Html.DisplayFor(e => item.PayDate)
                                                <br />
                                                Status: @Html.DisplayFor(e => item.Status)
                                                <br />
                                                Created By: @Html.DisplayFor(e => item.Owner)
                                                <br />
                                                Created Date: @Html.DisplayFor(e => item.CreatedDate)
                                            </div>
                                            <div class="col-1">
                                                <a asp-action="Processing" asp-route-id="@item.Id" title="Load" class="btn btn-outline-hover-info btn-elevate btn-icon">
                                                    <i class="la la-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>

</div>
