﻿@using MMB.ePay.Web.Areas.App.Startup
@using MMB.ePay.Web.Areas.App.Models.PayrollProcess
@model PayrollProcessProcessingViewModel

@{ ViewBag.CurrentPageName = AppPageNames.Common.PayrollProcess; }
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/PayrollProcess/Processing.js" asp-append-version="true"></script>
}

<input id="id" type="hidden" value="@Model.Process.Id" />
<input id="step" type="hidden" value="@Model.Process.Step" />
<input id="statusCode" type="hidden" value="@Model.Process.ProcessStatus" />
<input id="isProcessor" type="hidden" value="@Model.Process.IsProcessor" />

<div class="content d-flex flex-column flex-column-fluid">
    <div class="@(await GetContainerClass())">
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <div class="card card-custom">
                    <div class="card-body p-0">
                        <!--begin: Wizard-->
                        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
                            <!--begin: Wizard Nav-->
                            <div class="wizard-nav">
                                <div class="wizard-steps px-8 py-8 px-lg-15 py-lg-3">
                                    <!--begin::Wizard Step 1 Nav-->
                                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                        <div class="wizard-label">
                                            <h3 class="wizard-title">
                                                <span>1.</span>@L("Payroll Entry")
                                            </h3>
                                            <div class="wizard-bar"></div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 1 Nav-->
                                    <!--begin::Wizard Step 2 Nav-->
                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-label">
                                            <h3 class="wizard-title">
                                                <span>2.</span>@L("Processing")
                                            </h3>
                                            <div class="wizard-bar"></div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 2 Nav-->
                                    <!--begin::Wizard Step 3 Nav-->
                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-label">
                                            <h3 class="wizard-title">
                                                <span>3.</span>@L("Review")
                                            </h3>
                                            <div class="wizard-bar"></div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 3 Nav-->
                                    <!--begin::Wizard Step 4 Nav-->
                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-label">
                                            <h3 class="wizard-title">
                                                <span>4.</span>@L("Posting")
                                            </h3>
                                            <div class="wizard-bar"></div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 4 Nav-->
                                </div>
                            </div>
                            <!--end: Wizard Nav-->
                            <!--begin: Wizard Body-->
                            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                                <div class="col-xl-12 col-xxl-7">
                                    <!--begin: Wizard Form-->
                                    <form class="form" id="kt_form">
                                        <!--begin: Wizard Step 1-->
                                        <div id="divPayrollEntry" class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                            <h4 class="mb-10 font-weight-bold text-dark">@L("PayrollEntry")</h4>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @("Status")
                                                </div>
                                                <div class="col-7">
                                                    <b><label id="PE-Status"></label></b>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("PayrollPeriod")
                                                </div>
                                                <div class="col-7">
                                                    @Html.DisplayFor(e => e.Process.PayrollPeriod)
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("PayDate")
                                                </div>
                                                <div class="col-7">
                                                    @Html.DisplayFor(e => e.Process.PayDate)
                                                </div>
                                            </div>
                                            <div class="form-group row font-weight-bold border-bottom">
                                                @L("CheckList")
                                            </div>
                                            <div class="form-group row">
                                                <div class="checkbox-list">
                                                    <label class="checkbox">
                                                        <input id="PayrollTransChecked" type="checkbox" />
                                                        <span></span>
                                                        @Html.ActionLink("Input Payroll Transactions", "Index", "PayrollTransactions", new { pNo = Model.Process.Id }, null)
                                                    </label>
                                                    <label class="checkbox">
                                                        <input id="LoansChecked" type="checkbox" />
                                                        <span></span>
                                                        @Html.ActionLink("Update Employee Loans", "Index", "EmployeeLoans", new { pNo = Model.Process.Id }, null)
                                                    </label>
                                                    <label class="checkbox">
                                                        <input id="EmployeesChecked" type="checkbox" />
                                                        <span></span>
                                                        @Html.ActionLink("Update Employee Salaries, rates, etc.", "Index", "Employees", new { pNo = Model.Process.Id }, null)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end: Wizard Step 1-->
                                        <!--begin: Wizard Step 2-->
                                        <div class="pb-5" data-wizard-type="step-content">
                                            <h4 class="mb-10 font-weight-bold text-dark">@L("Processing")</h4>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("Status")
                                                </div>
                                                <div class="col-7">
                                                    <b><label id="PR-Status"></label></b>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("PayrollPeriod")
                                                </div>
                                                <div class="col-7">
                                                    @Html.DisplayFor(e => e.Process.PayrollPeriod)
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("PayDate")
                                                </div>
                                                <div class="col-7">
                                                    @Html.DisplayFor(e => e.Process.PayDate)
                                                </div>
                                            </div>

                                            <div id="divElapsedTime" style="display:none;" class="form-group row">
                                                <div class="col-5">
                                                    @L("ElapsedTime")
                                                </div>
                                                <div class="col-7">
                                                    <label id="PR-ElapsedTime"></label>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-5"></div>
                                                <div class="col-7">
                                                    <input id="btnProcessingUpdate" type="button" class="btn btn-primary" value="Update" />
                                                </div>
                                            </div>
                                        </div>
                                        <!--end: Wizard Step 2-->
                                        <!--begin: Wizard Step 3-->
                                        <div class="pb-5" data-wizard-type="step-content">
                                            <h4 class="mb-10 font-weight-bold text-dark">@L("Review")</h4>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("Status")
                                                </div>
                                                <div class="col-7">
                                                    <b><label id="RV-Status"></label></b>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("PayrollPeriod")
                                                </div>
                                                <div class="col-7">
                                                    @Html.DisplayFor(e => e.Process.PayrollPeriod)
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("PayDate")
                                                </div>
                                                <div class="col-7">
                                                    @Html.DisplayFor(e => e.Process.PayDate)
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    <a href="#" onclick="return false;" data-toggle="modal" data-target="#modalReport">
                                                        @L("GeneratePayrollRegister")
                                                    </a>
                                                </div>
                                                <div class="col-7">
                                                </div>
                                            </div>
                                            <div class="form-group row font-weight-bold border-bottom">
                                                @L("TOTALS")
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("HeadCount")
                                                </div>
                                                <div class="col-7">
                                                    <label id="RV-HeadCount"></label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("BasicPay")
                                                </div>
                                                <div class="col-7">
                                                    <label id="RV-BasicPay"></label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("Taxable")
                                                </div>
                                                <div class="col-7">
                                                    <label id="RV-Taxable"></label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("NonTaxable")
                                                </div>
                                                <div class="col-7">
                                                    <label id="RV-NonTaxable"></label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("Loan")
                                                </div>
                                                <div class="col-7">
                                                    <label id="RV-Loan"></label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("GrossPay")
                                                </div>
                                                <div class="col-7">
                                                    <label id="RV-GrossPay"></label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    @L("NetPay")
                                                </div>
                                                <div class="col-7">
                                                    <label id="RV-NetPay"></label>
                                                </div>
                                            </div>
                                            <div id="divStatutories"></div>

                                            <div id="divConfirm" style="display:none;" class="form-group row mt-10">
                                                <div class="checkbox-inline">
                                                    <label class="checkbox">
                                                        <input id="chkConfirm" type="checkbox" />
                                                        <span></span>
                                                        I confirm that I verified the completeness and accuracy of all
                                                        <br />
                                                        payroll details as processed by the system displayed above
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="divForNextReview" style="display:none;" class="form-group row">
                                                <div class="col-5"></div>
                                                <div class="col-7">
                                                    <button type="button" id="btnForNextReview" class="btn btn-primary" disabled>
                                                        @L("ForNextReview")
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <!--end: Wizard Step 3-->
                                        <!--begin: Wizard Step 4-->
                                        <div class="pb-5" data-wizard-type="step-content">
                                            <h4 class="mb-10 font-weight-bold text-dark">@L("Posting")</h4>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    Status
                                                </div>
                                                <div class="col-7">
                                                    <b><label id="PO-Status"></label></b>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    Payroll Period
                                                </div>
                                                <div class="col-7">
                                                    @Html.DisplayFor(e => e.Process.PayrollPeriod)
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5">
                                                    Pay Date
                                                </div>
                                                <div class="col-7">
                                                    @Html.DisplayFor(e => e.Process.PayDate)
                                                </div>
                                            </div>
                                        </div>
                                        <!--end: Wizard Step 4-->
                                        <!--begin: Wizard Actions-->
                                        <div id="divActions" style="display:none;">
                                            <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                                <div class="mr-2">
                                                    <button id="btnBackToPayrollEntry" style="display:none;" type="button" class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4">
                                                        @L("BackToPayrollEntry")
                                                    </button>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4"
                                                            data-wizard-type="action-submit">
                                                        @L("Post")
                                                    </button>
                                                    <input type="button" class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4"
                                                           data-wizard-type="action-next" value="Next" />
                                                </div>
                                            </div>
                                        </div>
                                        <!--end: Wizard Actions-->
                                    </form>
                                    <!--end: Wizard Form-->
                                </div>
                            </div>
                            <!--end: Wizard Body-->
                        </div>
                        <!--end: Wizard-->
                    </div>
                </div>
            </div>
            <!--end::Container-->
        </div>
    </div>
</div>