﻿@model MMB.ePay.Payroll.Dtos.GetReportsForPayslip

@{
    Layout = "";
}

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href="~/view-resources/Areas/App/Views/Reports/report.css" rel="stylesheet" />
</head>
<body>

    <div class="table" style="border-left: 1px solid black; border-right: 1px solid black;">
        <div class="row">
            <div class="cell cell-padding">Employee Id</div>
            <div class="cell cell-padding"> : @Model.EmployeeCode</div>
            <div class="cell cell-padding">Department</div>
            <div class="cell cell-padding"> : @Model.Department</div>
            <div class="cell cell-padding"></div>
        </div>
        <div class="row">
            <div class="cell cell-padding">Name</div>
            <div class="cell cell-padding"> : @Model.EmployeeName</div>
            <div class="cell cell-padding">Designation</div>
            <div class="cell cell-padding"> : @Model.Designation</div>
            <div class="cell cell-padding"></div>
        </div>
        <div class="row">
            <div class="cell cell-padding">Pay Date</div>
            <div class="cell cell-padding"> : @Html.DisplayFor(e => e.PayDate)</div>
            <div class="cell cell-padding">Date of Joining</div>
            <div class="cell cell-padding"> : @Html.DisplayFor(e => e.DateOfJoining)</div>
            <div class="cell cell-padding"></div>
        </div>
        <div class="caption" style="font-weight:bold; font-size: 11px; 
                border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">
            <p>@Model.CompanyName</p>
            <p>Payslip for the period of @Model.PayrollPeriod</p>
            <p>Cut-off: @Model.CutoffPeriod</p>
        </div>
    </div>

    @*Header*@
    <div class="table">
        <div class="row">
            <div class="cell cell-border cell-padding">
                <div class="row">
                    <div class="cell">Earnings</div>
                    <div class="cell">Days/Hrs</div>
                    <div class="cell">Amount</div>
                </div>
            </div>
            <div class="cell cell-border cell-padding">
                <div class="row">
                    <div class="cell">Deductions</div>
                    <div class="cell">Amount</div>
                </div>
            </div>
            <div class="cell cell-border cell-padding">
                <div class="row">
                    <div class="cell">Year-To-Date Summary</div>
                </div>
            </div>
        </div>
    </div>

    @*Data*@
    <div class="table">
        <div class="row">

            @*Column 1*@
            <div class="cell cell-border">

                @foreach (var item in Model.Earnings)
                {
                    <div class="row">
                        <div class="cell cell-padding">@item.Item1</div>
                        <div class="cell cell-padding">@item.Item2</div>
                        <div class="cell cell-padding">@item.Item3</div>
                    </div>
                }
            </div>

            @*Column 2*@
            <div class="cell cell-border">
                @foreach (var item in Model.Deductions)
                {
                    <div class="row">
                        <div class="cell cell-padding">@item.Item1</div>
                        <div class="cell cell-padding">@item.Item2</div>
                    </div>
                }
            </div>

            @*COlumn 3*@
            <div class="cell cell-border">
                @foreach (var item in Model.YTDSummaries)
                {
                    <div class="row">
                        <div class="cell cell-padding">@item.Item1</div>
                        <div class="cell cell-padding">@item.Item2</div>
                    </div>
                }

                @if (Model.LoanBalances.Count > 0)
                {
                    <div class="cell-padding" style="border-top: 1px solid black; border-bottom: 1px solid black;">
                        Loan Balances
                    </div>
                }

                @foreach (var item in Model.LoanBalances)
                {
                    <div class="row">
                        <div class="cell cell-padding">@item.Item1</div>
                        <div class="cell cell-padding">@item.Item2</div>
                    </div>
                }

                @if (Model.LeaveBalances.Count > 0)
                {
                    <div class="cell-padding" style="border-top: 1px solid black; border-bottom: 1px solid black;">
                        Leave Balances
                    </div>
                }

                @foreach (var item in Model.LeaveBalances)
                {
                    <div class="row">
                        <div class="cell cell-padding">@item.Item1</div>
                        <div class="cell cell-padding">@item.Item2</div>
                    </div>
                }
            </div>
        </div>
    </div>

    @*Total*@
    <div class="table">
        <div class="row">
            <div class="cell cell-border cell-padding">
                <div class="row">
                    <div class="cell">Total Earnings</div>
                    <div class="cell">@Model.TotalEarnings</div>
                </div>
            </div>
            <div class="cell cell-border cell-padding">
                <div class="row">
                    <div class="cell">Total Deductions</div>
                    <div class="cell">@Model.TotalDeductions</div>
                </div>
            </div>
            <div class="cell cell-border cell-padding">
                <div class="row">
                    <div class="cell">NET PAY</div>
                    <div class="cell">@Model.NetPay</div>
                </div>
            </div>
        </div>
    </div>

    @*Signature*@
    <div class="table">
        <div class="row">
            <div class="cell cell-border">
                <div style="margin: 65px 0 40px 500px; border-top: 1px solid black; width: 125px; text-align: center; padding-top: 2px;">
                    Employee's Signature
                </div>
            </div>
        </div>
    </div>

    <div style='page-break-after: always;'></div>
</body>
</html>
