﻿@using MMB.ePay.Web.Areas.App.Models.Reports
@using MMB.ePay.Web.Areas.App.Startup
@using MMB.ePay.Web.TagHelpers
@model QuarterlyReportsViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Common.Quarterly; }
@section scripts
{
    <script src="/view-resources/Areas/App/Views/Reports/Quarterly.js" asp-append-version="true"></script>
}  

<div class="content d-flex flex-column flex-column-fluid">
    <abp-page-subheader title="@(L("QuarterlyReports"))"></abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="row">
            <div class="col col-6">
                <div class="card card-custom gutter-b">
                    <form asp-action="Quarterly" name="ReportsInformationsForm" role="form" novalidate class="form-validation">
                        <div class="card-body">
                            <div class="form">
                                <div id="ReportsInformationsTab">

                                    <input id="Reports_EmployeeId" type="hidden" value="@Model.Reports.EmployeeId" />

                                    <div class="form-group">
                                        <label>@L("ReportType")</label>
                                        <select id="Reports_ReportId" class="form-control" asp-for="Reports.ReportId" asp-items="Model.ReportList"></select>
                                    </div>

                                    <div class="form-group">
                                        <label>@L("PayCode")</label>
                                        <select id="Reports_PayCodeId" class="form-control" asp-items="Model.PayCodeList"></select>
                                    </div>

                                    <div class="form-group">
                                        <label>@L("Employee")</label>
                                        <input id="Reports_EmployeeName" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <label>@L("Year")</label>
                                        <select id="Reports_Year" class="form-control" asp-items="Model.YearList"></select>
                                    </div>

                                    <div class="form-group">
                                        <label>@L("Quarter")</label>
                                        <select id="Reports_Quarter" class="form-control" asp-items="Model.QuarterList"></select>
                                    </div>

                                    <div class="form-group">
                                        <label>@L("Grouping")</label>
                                        <div class="col-8">
                                            <div class="radio-inline">
                                                <label class="radio ">
                                                    <input asp-for="Reports.Grouping" class="form-control" type="radio" value="None" id="None" />
                                                    <span></span>
                                                    None
                                                </label>
                                                <label class="radio ">
                                                    <input asp-for="Reports.Grouping" class="form-control" type="radio" value="PayCode" id="PayCode" />
                                                    <span></span>
                                                    Pay Code
                                                </label>
                                                <label class="radio ">
                                                    <input asp-for="Reports.Grouping" class="form-control" type="radio" value="Department" id="Department" />
                                                    <span></span>
                                                    Department
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>@L("SortOrder")</label>
                                        <div class="col-8">
                                            <div class="radio-inline">
                                                <label class="radio ">
                                                    <input asp-for="Reports.SortOrder" class="form-control" type="radio" value="EmployeeName" id="EmployeeName" />
                                                    <span></span>
                                                    Employee Name
                                                </label>
                                                <label class="radio radio">
                                                    <input asp-for="Reports.SortOrder" class="form-control" type="radio" value="EmployeeId" id="EmployeeId" />
                                                    <span></span>
                                                    Employee ID
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>@L("Output")</label>
                                        <div class="col-8">
                                            <div class="radio-inline">
                                                <label class="radio ">
                                                    <input asp-for="Reports.Output" class="form-control" type="radio" value="E" id="Excel" />
                                                    <span></span>
                                                    Excel
                                                </label>
                                                <label class="radio radio">
                                                    <input asp-for="Reports.Output" class="form-control" type="radio" value="P" id="Pdf" />
                                                    <span></span>
                                                    PDF
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row align-items-center">
                                <div class="col-lg-12">
                                    <button type="submit" formtarget="_blank" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("Generate")</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>