﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OvertimeSubTypes
@model CreateOrEditOvertimeSubTypesModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditOvertimeSubTypes")) : L("CreateNewOvertimeSubTypes")))

<div class="modal-body">
    <div id="OvertimeSubTypesInformationsTab">
        <form name="OvertimeSubTypesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.OvertimeSubTypes.Id" />
                <input type="hidden" name="displayName" value="@Model.OvertimeSubTypes.DisplayName" />
                <input type="hidden" name="displayOrder" value="@Model.OvertimeSubTypes.DisplayOrder" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="OvertimeSubTypes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control" value="@Model.OvertimeSubTypes.DisplayName" disabled />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="OvertimeSubTypes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control" id="OvertimeSubTypes_DisplayName" value="@Model.OvertimeSubTypes.DisplayName" type="text" name="displayName"
                               required maxlength="@MMB.ePay.Payroll.OvertimeSubTypesConsts.MaxDisplayNameLength"
                               minlength="@MMB.ePay.Payroll.OvertimeSubTypesConsts.MinDisplayNameLength" />
                    </div>
                </div>
            }


            <div class="form-group row">
                <label class="col-3 col-form-label" for="OvertimeSubTypes_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control" id="OvertimeSubTypes_Description" value="@Model.OvertimeSubTypes.Description" type="text" name="description"
                           required maxlength="@MMB.ePay.Payroll.OvertimeSubTypesConsts.MaxDescriptionLength"
                           minlength="@MMB.ePay.Payroll.OvertimeSubTypesConsts.MinDescriptionLength" />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")