﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.TimesheetProcess
@model CreateOrEditTimesheetProcessModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditTimesheetProcess")) : L("CreateNewTimesheetProcess")))

<div class="modal-body">
    <div id="TimesheetProcessInformationsTab">
        <form name="TimesheetProcessInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.TimesheetProcess.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetProcess_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetProcess_PayrollNo" value="@Model.TimesheetProcess.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetProcess_CostCenter">@L("CostCenter")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetProcess_CostCenter" value="@Model.TimesheetProcess.CostCenter?.ToString(CultureInfo.InvariantCulture)" type="number" name="costCenter" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetProcess_Days">@L("Days")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetProcess_Days" value="@Model.TimesheetProcess.Days.ToString(CultureInfo.InvariantCulture)" type="number" name="days" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetProcess_Hrs">@L("Hrs")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetProcess_Hrs" value="@Model.TimesheetProcess.Hrs.ToString(CultureInfo.InvariantCulture)" type="number" name="hrs" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetProcess_Mins">@L("Mins")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetProcess_Mins" value="@Model.TimesheetProcess.Mins.ToString(CultureInfo.InvariantCulture)" type="number" name="mins" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetProcess_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetProcess_Amount" value="@Model.TimesheetProcess.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetProcess_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetProcess_EmployeeId" value="@Model.TimesheetProcess.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetProcess_TimesheetTypeId">@L("TimesheetTypeId")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetProcess_TimesheetTypeId" value="@Model.TimesheetProcess.TimesheetTypeId.ToString(CultureInfo.InvariantCulture)" type="number" name="timesheetTypeId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")