﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.TimesheetProcess
@model TimesheetProcessViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="TimesheetProcessInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.TimesheetProcess.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("CostCenter") :</h6>
                @Model.TimesheetProcess.CostCenter
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Days") :</h6>
                @Model.TimesheetProcess.Days
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Hrs") :</h6>
                @Model.TimesheetProcess.Hrs
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Mins") :</h6>
                @Model.TimesheetProcess.Mins
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.TimesheetProcess.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.TimesheetProcess.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TimesheetTypeId") :</h6>
                @Model.TimesheetProcess.TimesheetTypeId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")