﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.RecurDeductions
@model CreateOrEditRecurDeductionsModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditRecurDeductions")) : L("CreateNewRecurDeductions")))

<div class="modal-body">
    <div id="RecurDeductionsInformationsTab">
        <form name="RecurDeductionsInformationsForm" role="form" novalidate class="form-validation">
            <input type="hidden" name="employeeId" value="@Model.RecurDeductions.EmployeeId" />

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.RecurDeductions.Id" />
                <input type="hidden" name="deductionTypeId" value="@Model.RecurDeductions.DeductionTypeId" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="RecurDeductions_DeductionTypeId">@L("DeductionType")</label>
                    <div class="col-9">
                        <select class="form-control" asp-for="RecurDeductions.DeductionTypeId" asp-items="Model.DeductionTypeList" disabled></select>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="RecurDeductions_DeductionTypeId">@L("DeductionType")</label>
                    <div class="col-9">
                        <select class="form-control" id="RecurDeductions_DeductionTypeId" name="deductionTypeId" asp-for="RecurDeductions.DeductionTypeId" asp-items="Model.DeductionTypeList"></select>
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="RecurDeductions_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control" id="RecurDeductions_Amount" value="@Model.RecurDeductions.Amount?.ToString(CultureInfo.InvariantCulture)" required type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="RecurDeductions_StartDate">@L("StartDate")</label>
                <div class="col-9">
                    <input class="form-control date-picker" id="RecurDeductions_StartDate" type="text" name="startDate" required value="@Model.RecurDeductions.StartDate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="RecurDeductions_EndDate">@L("EndDate")</label>
                <div class="col-9">
                    <input class="form-control date-picker" id="RecurDeductions_EndDate" type="text" name="endDate" required value="@Model.RecurDeductions.EndDate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="RecurDeductions_Frequency">@L("Frequency")</label>
                <div class="checkbox-list">
                    @{
                        var payFreq = Model.RecurDeductions.PayFreq;
                    }

                    @if (payFreq == "M" || payFreq == "S" || payFreq == "W")
                    {
                        <label class="checkbox">
                            <input type="checkbox" name="firstPeriod" class="form-control" asp-for="RecurDeductions.FirstPeriod" />
                            <span></span>
                            1st Period
                        </label>
                    }

                    @if (payFreq == "S" || payFreq == "W")
                    {
                        <label class="checkbox">
                            <input type="checkbox" name="secondPeriod" class="form-control" asp-for="RecurDeductions.SecondPeriod" />
                            <span></span>
                            2nd Period
                        </label>
                    }

                    @if (payFreq == "W")
                    {
                        <label class="checkbox">
                            <input type="checkbox" name="thirdPeriod" class="form-control" asp-for="RecurDeductions.ThirdPeriod" />
                            <span></span>
                            3rd Period
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="fourthPeriod" class="form-control" asp-for="RecurDeductions.FourthPeriod" />
                            <span></span>
                            4th Period
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="lastPeriod" class="form-control" asp-for="RecurDeductions.LastPeriod" />
                            <span></span>
                            Last Period
                        </label>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")