﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.RecurDeductions
@model RecurDeductionsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="RecurDeductionsInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.RecurDeductions.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Frequency") :</h6>
                @Model.RecurDeductions.Frequency
            </div>
            <div class="col-6 mb-3">
                <h6>@L("StartDate") :</h6>
                @Model.RecurDeductions.StartDate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EndDate") :</h6>
                @Model.RecurDeductions.EndDate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.RecurDeductions.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DeductionTypeId") :</h6>
                @Model.RecurDeductions.DeductionTypeId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")