﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EarningTypes
@model CreateOrEditEarningTypesModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEarningTypes")) : L("CreateNewEarningTypes")))

<div class="modal-body">
    <div id="EarningTypesInformationsTab">
        <form name="EarningTypesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.EarningTypes.Id" />
                <input type="hidden" name="displayName" value="@Model.EarningTypes.DisplayName" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EarningTypes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control" value="@Model.EarningTypes.DisplayName" type="text" disabled />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EarningTypes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control" id="EarningTypes_DisplayName" value="@Model.EarningTypes.DisplayName" type="text"
                               name="displayName" required maxlength="@MMB.ePay.Payroll.EarningTypesConsts.MaxDisplayNameLength"
                               minlength="@MMB.ePay.Payroll.EarningTypesConsts.MinDisplayNameLength" />
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningTypes_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control" id="EarningTypes_Description" value="@Model.EarningTypes.Description" type="text" name="description" required maxlength="@MMB.ePay.Payroll.EarningTypesConsts.MaxDescriptionLength" minlength="@MMB.ePay.Payroll.EarningTypesConsts.MinDescriptionLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningTypes_Currency">@L("Currency")</label>
                <div class="col-9">
                    <select class="form-control" id="EarningTypes_Currency" name="currency" asp-for="EarningTypes.Currency" asp-items="Model.CurrencyList"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="checkbox-list col-9">
                    <label for="EarningTypes_Taxable" class="checkbox">
                        <input class="form-control" id="EarningTypes_Taxable" type="checkbox" name="taxable" value="true"
                               @Html.Raw(Model.EarningTypes.Taxable ? "checked=\"checked\"" : "") />
                        <span></span>
                        @L("Taxable")
                    </label>
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")