﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EarningTypes
@model EarningTypesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="EarningTypesInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("DisplayName") :</h6>
            <div class="col-6 col-form-label">
                @Model.EarningTypes.DisplayName
            </div>
            <h6 class="col-6 col-form-label">@L("Description") :</h6>
            <div class="col-6 col-form-label">
                @Model.EarningTypes.Description
            </div>
            <h6 class="col-6 col-form-label">@L("Currency") :</h6>
            <div class="col-6 col-form-label">
                @Model.EarningTypes.Currency
            </div>
            <h6 class="col-6 col-form-label">@L("Taxable") :</h6>
            <div class="col-6 col-form-label">
                @Model.EarningTypes.Taxable
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")