﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.DeductionPosted
@model CreateOrEditDeductionPostedModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditDeductionPosted")) : L("CreateNewDeductionPosted")))

<div class="modal-body">
    <div id="DeductionPostedInformationsTab">
        <form name="DeductionPostedInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.DeductionPosted.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionPosted_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionPosted_PayrollNo" value="@Model.DeductionPosted.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionPosted_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionPosted_Amount" value="@Model.DeductionPosted.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionPosted_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionPosted_EmployeeId" value="@Model.DeductionPosted.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionPosted_DeductionTypeId">@L("DeductionTypeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionPosted_DeductionTypeId" value="@Model.DeductionPosted.DeductionTypeId.ToString(CultureInfo.InvariantCulture)" type="number" name="deductionTypeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionPosted_RecurDeductionId">@L("RecurDeductionId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionPosted_RecurDeductionId" value="@Model.DeductionPosted.RecurDeductionId.ToString(CultureInfo.InvariantCulture)" type="number" name="recurDeductionId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")