﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.DeductionPosted
@model DeductionPostedViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="DeductionPostedInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.DeductionPosted.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.DeductionPosted.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.DeductionPosted.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DeductionTypeId") :</h6>
                @Model.DeductionPosted.DeductionTypeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("RecurDeductionId") :</h6>
                @Model.DeductionPosted.RecurDeductionId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")