﻿@using MMB.ePay.Web.Areas.App.Models.Holidays
@using MMB.ePay.Web.Areas.App.Startup
@model CreateOrEditHolidaysViewModel
@using MMB.ePay.Web.TagHelpers
@{ ViewBag.CurrentPageName = AppPageNames.Common.Holidays; }
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/Holidays/CreateOrEdit.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    @{ var breadcrumbs = new List<BreadcrumbItem>()
            {
        new BreadcrumbItem("/App/Holidays", L("Holidays")),
        new BreadcrumbItem(Model.IsEditMode ? L("Edit") : L("Create"))
        }; }
    <abp-page-subheader title="@(Model.IsEditMode ? (L(" EditHolidays")) : L("CreateNewHolidays"))" breadcrumbs="breadcrumbs">
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <form name="HolidaysInformationsForm" role="form" novalidate class="form-validation">
                <div class="card-body">
                    <div class="form">
                        <div id="HolidaysInformationsTab">
                            @if (Model.IsEditMode)
                            {
                                <input type="hidden" name="id" value="@Model.Holidays.Id" />
                            }

                            <div class="form-group row">
                                <label class="col-3 col-form-label" for="Holidays_DisplayName">@L("DisplayName")</label>
                                <div class="col-9">
                                    <input class="form-control" id="Holidays_DisplayName" value="@Model.Holidays.DisplayName" type="text" name="displayName" required maxlength="@MMB.ePay.Payroll.HolidaysConsts.MaxDisplayNameLength" minlength="@MMB.ePay.Payroll.HolidaysConsts.MinDisplayNameLength" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-3 col-form-label" for="Holidays_Date">@L("Date")</label>
                                <div class="col-9">
                                    <input class="form-control m-input date-picker" id="Holidays_Date" type="text" name="date" value="@Model.Holidays.Date" required />
                                </div>
                            </div>

                            <div class="m-checkbox-list">
                                <label for="Holidays_HalfDay" class="kt-checkbox">
                                    <input id="Holidays_HalfDay" type="checkbox" name="halfDay" value="true" @Html.Raw(Model.Holidays.HalfDay ? "checked=\"checked\"" : "") />
                                    @L("HalfDay")
                                    <span></span>
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-3 col-form-label" for="Holidays_HolidayTypeID">@L("HolidayType")</label>
                                <div class="col-9">
                                    <select class="form-control" asp-for="Holidays.HolidayTypeId" asp-items="Model.HolidayTypeList"></select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <button type="button" id="saveBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("Save")</button>
                            @if (!Model.IsEditMode)
                            {
                                <button type="button" id="saveAndNewBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("SaveAndNew")</button>
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>