﻿@using MMB.ePay.Web.Areas.App.Startup
@using MMB.ePay.Web.Areas.App.Models.Holidays
@model HolidaysViewModel
@using MMB.ePay.Web.TagHelpers
@{
ViewBag.CurrentPageName = AppPageNames.Common.Holidays;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/Holidays/CreateOrEdit.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    @{
    var breadcrumbs = new List<BreadcrumbItem>()
        {
        new BreadcrumbItem("/App/Holidays", L("Holidays")),
        new BreadcrumbItem(L("Details")),
        };
        }
        <abp-page-subheader title="@L("Details")" breadcrumbs="breadcrumbs">
        </abp-page-subheader>

        <div class="@(await GetContainerClass())">
            <div class=" card card-custom gutter-b">
                <div class=" card-body">
                    <div id="HolidaysInformationsTab">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <h6>@L("DisplayName") :</h6>
                                @Model.Holidays.DisplayName
                            </div>
                            <div class="col-6 mb-3">
                                <h6>@L("Date") :</h6>
                                @Model.Holidays.Date
                            </div>
                            <div class="col-6 mb-3">
                                <h6>@L("HalfDay") :</h6>
                                @Model.Holidays.HalfDay
                            </div>
                            <div class="col-6 mb-3">
                                <h6>@L("HolidayType") :</h6>
                                @Model.Holidays.HolidayType
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>