﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.StatutoryTypes
@model CreateOrEditStatutoryTypesModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditStatutoryTypes")) : L("CreateNewStatutoryTypes")))

<div class="modal-body">
    <div id="StatutoryTypesInformationsTab">
        <form name="StatutoryTypesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
        <input type="hidden" name="id" value="@Model.StatutoryTypes.Id" />}

            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryTypes_DisplayName">@L("Code")</label>
                <div class="col-9">
                    <input class="form-control" id="StatutoryTypes_DisplayName" value="@Model.StatutoryTypes.Code" type="text" name="displayName" required maxlength="@MMB.ePay.Payroll.StatutoryTypesConsts.MaxCodeLength" minlength="@MMB.ePay.Payroll.StatutoryTypesConsts.MinCodeLength" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryTypes_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control" id="StatutoryTypes_Description" value="@Model.StatutoryTypes.Description" type="text" name="description" required maxlength="@MMB.ePay.Payroll.StatutoryTypesConsts.MaxDescriptionLength" minlength="@MMB.ePay.Payroll.StatutoryTypesConsts.MinDescriptionLength" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")