﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.PayCodes
@model CreateOrEditPayCodesModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditPayCodes")) : L("CreateNewPayCodes")))

<div class="modal-body">
    <div id="PayCodesInformationsTab">
        <form name="PayCodesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.PayCodes.Id" />
                <input type="hidden" name="displayName" value="@Model.PayCodes.DisplayName" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="PayCodes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control" value="@Model.PayCodes.DisplayName" type="text" disabled />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="PayCodes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control" id="PayCodes_DisplayName" value="@Model.PayCodes.DisplayName" type="text" name="displayName"
                               required maxlength="@MMB.ePay.Payroll.PayCodesConsts.MaxDisplayNameLength"
                               minlength="@MMB.ePay.Payroll.PayCodesConsts.MinDisplayNameLength" />
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayCodes_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control" id="PayCodes_Description" value="@Model.PayCodes.Description" type="text" name="description" 
                           required maxlength="@MMB.ePay.Payroll.PayCodesConsts.MaxDescriptionLength"
                           minlength="@MMB.ePay.Payroll.PayCodesConsts.MinDescriptionLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayCodes_PayFreq">@L("PayFreq")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="PayCodes.PayFreq" asp-items="Model.PayFrequencyList" name="payFreq"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayCodes_TaxFreq">@L("TaxFreq")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="PayCodes.TaxFreq" asp-items="Model.TaxFrequencyList" name="taxFreq"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayCodes_TaxMethod">@L("TaxMethod")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="PayCodes.TaxMethod" asp-items="Model.TaxMethodList" name="taxMethod"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayCodes_WorkingDays">@L("WorkingDays")</label>
                <div class="col-9">
                    <input class="form-control m-input" asp-for="PayCodes.WorkingDays" type="number" name="workingDays" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayCodes_HrsPerDay">@L("HrsPerDay")</label>
                <div class="col-9">
                    <input class="form-control m-input" asp-for="PayCodes.HrsPerDay" type="number" name="hrsPerDay" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayCodes_PayPeriodPerYear">@L("PayPeriodPerYear")</label>
                <div class="col-9">
                    <input class="form-control m-input" asp-for="PayCodes.PayPeriodPerYear" type="number" name="payPeriodPerYear" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayCodes_DaysPerWeek">@L("DaysPerWeek")</label>
                <div class="col-9">
                    <input class="form-control m-input" asp-for="PayCodes.DaysPerWeek" type="number" name="daysPerWeek" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayCodes_Nd1Rate">@L("Nd1Rate")</label>
                <div class="col-9">
                    <input class="form-control m-input" asp-for="PayCodes.Nd1Rate" type="number" name="nd1Rate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayCodes_Nd2Rate">@L("Nd2Rate")</label>
                <div class="col-9">
                    <input class="form-control m-input" asp-for="PayCodes.Nd2Rate" type="number" name="nd2Rate" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="checkbox-list col-9">
                    <label for="PayCodes_RequireTimesheet" class="checkbox">
                        <input class="form-control" asp-for="PayCodes.RequireTimesheet" type="checkbox" name="requireTimesheet" />
                        <span></span>
                        @L("RequireTimesheet")
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="checkbox-list col-9">
                    <label for="PayCodes_IncBonTaxDiv" class="checkbox">
                        <input class="form-control" asp-for="PayCodes.IncBonTaxDiv" type="checkbox" name="incBonTaxDiv" />
                        <span></span>
                        @L("IncBonTaxDiv")
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="checkbox-list col-9">
                    <label for="PayCodes_TaxableOT" class="checkbox">
                        <input class="form-control" asp-for="PayCodes.TaxableOT" type="checkbox" name="taxableOT" />
                        <span></span>
                        @L("TaxableOT")
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="checkbox-list col-9">
                    <label for="PayCodes_MinimumWager" class="checkbox">
                        <input class="form-control" asp-for="PayCodes.MinimumWager" type="checkbox" name="minimumWager" />
                        <span></span>
                        @L("MinimumWager")
                    </label>
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")