﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.PayCodes
@model PayCodesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="PayCodesInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("DisplayName") :</h6>
                @Model.PayCodes.DisplayName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.PayCodes.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PayFreq") :</h6>
                @Model.PayCodes.PayFreq
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TaxFreq") :</h6>
                @Model.PayCodes.TaxFreq
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TaxMethod") :</h6>
                @Model.PayCodes.TaxMethod
            </div>
            <div class="col-6 mb-3">
                <h6>@L("WorkingDays") :</h6>
                @Model.PayCodes.WorkingDays
            </div>
            <div class="col-6 mb-3">
                <h6>@L("HrsPerDay") :</h6>
                @Model.PayCodes.HrsPerDay
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PayPeriodPerYear") :</h6>
                @Model.PayCodes.PayPeriodPerYear
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DaysPerWeek") :</h6>
                @Model.PayCodes.DaysPerWeek
            </div>
            <div class="col-6 mb-3">
                <h6>@L("RequireTimesheet") :</h6>
                @Model.PayCodes.RequireTimesheet
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IncBonTaxDiv") :</h6>
                @Model.PayCodes.IncBonTaxDiv
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TaxableOT") :</h6>
                @Model.PayCodes.TaxableOT
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Nd1Rate") :</h6>
                @Model.PayCodes.Nd1Rate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Nd2Rate") :</h6>
                @Model.PayCodes.Nd2Rate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("MinimumWager") :</h6>
                @Model.PayCodes.MinimumWager
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")