﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.PayCodes
@using MMB.ePay.Web.Areas.App.Startup
@model PayCodesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.PayCodes;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/PayCodes/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("PayCodes")">
        @if (IsGranted(AppPermissions.Pages_PayCodes_Create))
        {
        <button id="CreateNewPayCodesButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewPayCodes")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
        
                <div class="row align-items-center">
                    <table id="PayCodesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("DisplayName")</th>
                                <th>@L("Description")</th>
                                <th>@L("PayFreq")</th>
                                <th>@L("TaxFreq")</th>
                                <th>@L("TaxMethod")</th>
                                <th>@L("Nd1Rate")</th>
                                <th>@L("Nd2Rate")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>