﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Dependents
@model CreateOrEditDependentsModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditDependents")) : L("CreateNewDependents")))

<div class="modal-body">
    <div id="DependentsInformationsTab">
        <form name="DependentsInformationsForm" role="form" novalidate class="form-validation">
            <input type="hidden" name="employeeId" value="@Model.Dependents.EmployeeId" />


            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Dependents.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Dependents_DependentName">@L("DependentName")</label>
                <div class="col-9">
                    <input class="form-control" id="Dependents_DependentName" value="@Model.Dependents.DependentName" type="text" name="dependentName" required maxlength="@MMB.ePay.Payroll.DependentsConsts.MaxDependentNameLength" minlength="@MMB.ePay.Payroll.DependentsConsts.MinDependentNameLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Dependents_BirthDate">@L("BirthDate")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker" id="Dependents_BirthDate" type="text" name="birthDate" value="@Model.Dependents.BirthDate" />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")