﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Dependents
@model DependentsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="DependentsInformationsTab">

        <div class="row">
            <h6 class="col-6 col-form-label">@L("DependentName") :</h6>
            <div class="col-6 col-form-label">
                @Model.Dependents.DependentName
            </div>
            <h6 class="col-6 col-form-label">@L("BirthDate") :</h6>
            <div class="col-6 col-form-label">
                @Model.Dependents.BirthDate
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")