﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ProcessStatus
@model CreateOrEditProcessStatusModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditProcessStatus")) : L("CreateNewProcessStatus")))

<div class="modal-body">
    <div id="ProcessStatusInformationsTab">
        <form name="ProcessStatusInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
<input type="hidden" name="id" value="@Model.ProcessStatus.Id" />            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ProcessStatus_DisplayName">@L("DisplayName")</label>
                <div class="col-9">
                    <input class="form-control" id="ProcessStatus_DisplayName" value="@Model.ProcessStatus.DisplayName" type="text" name="displayName" required maxlength="@MMB.ePay.Payroll.ProcessStatusConsts.MaxDisplayNameLength" minlength="@MMB.ePay.Payroll.ProcessStatusConsts.MinDisplayNameLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ProcessStatus_Step">@L("Step")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="ProcessStatus_Step" value="@Model.ProcessStatus.Step.ToString(CultureInfo.InvariantCulture)" type="number" name="step" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ProcessStatus_NextStatus">@L("NextStatus")</label>
                <div class="col-9">
                    <input class="form-control" id="ProcessStatus_NextStatus" value="@Model.ProcessStatus.NextStatus" type="text" name="nextStatus" maxlength="@MMB.ePay.Payroll.ProcessStatusConsts.MaxNextStatusLength" minlength="@MMB.ePay.Payroll.ProcessStatusConsts.MinNextStatusLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ProcessStatus_Responsible">@L("Responsible")</label>
                <div class="col-9">
                    <input class="form-control" id="ProcessStatus_Responsible" value="@Model.ProcessStatus.Responsible" type="text" name="responsible" required maxlength="@MMB.ePay.Payroll.ProcessStatusConsts.MaxResponsibleLength" minlength="@MMB.ePay.Payroll.ProcessStatusConsts.MinResponsibleLength" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")