﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ProcessStatus
@model ProcessStatusViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ProcessStatusInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("DisplayName") :</h6>
                @Model.ProcessStatus.DisplayName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Step") :</h6>
                @Model.ProcessStatus.Step
            </div>
            <div class="col-6 mb-3">
                <h6>@L("NextStatus") :</h6>
                @Model.ProcessStatus.NextStatus
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Responsible") :</h6>
                @Model.ProcessStatus.Responsible
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")