﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.ProcessStatus
@using MMB.ePay.Web.Areas.App.Startup
@model ProcessStatusViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.ProcessStatus;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/ProcessStatus/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("ProcessStatus")" description="@L("ProcessStatusHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_ProcessStatus_Create))
        {
        <button id="CreateNewProcessStatusButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewProcessStatus")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="ProcessStatusTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetProcessStatusButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DisplayNameFilterId">@L("DisplayName")</label>
                            <input type="text" class="form-control" name="displayNameFilter" id="DisplayNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinStepFilterId">@L("MinMax") @L("Step")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minStepFilter" id="MinStepFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxStepFilter" id="MaxStepFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="NextStatusFilterId">@L("NextStatus")</label>
                            <input type="text" class="form-control" name="nextStatusFilter" id="NextStatusFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ResponsibleFilterId">@L("Responsible")</label>
                            <input type="text" class="form-control" name="responsibleFilter" id="ResponsibleFilterId">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="ProcessStatusTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("DisplayName")</th>
                                <th>@L("Step")</th>
                                <th>@L("NextStatus")</th>
                                <th>@L("Responsible")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>