﻿@model MMB.ePay.Payroll.Dtos.PeriodicReportHeaderDto
<div style="font-size: 8px; position: absolute; right: 30%;">
    Page&nbsp;<span class="pageNumber"></span>&nbsp;of&nbsp;<span class="totalPages"></span>
</div>

<div style="font-size: 8px; position: absolute; right: 90%;">
    @DateTime.Today.ToString("dd MMM yyyy")
</div>