﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForBankAdvise

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        td, th {
            border: 1px solid black;
            overflow: hidden;
            padding: 5px 10px 5px 10px;
            font-size: 14px;
        }

        .noborder {
            border: 0;
        }

        table {
            font-size: 10px;
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 100px;
        }

        tfoot:before {
            line-height: 5px;
            content: "-";
            color: white;
            display: block;
        }

        .title {
            font-size: 14px;
            margin-bottom: 50px;
            margin-left: 25px;
        }

        .attention {
            font-size: 14px;
            margin-left: 100px;
            margin-bottom: 75px;
        }

            .attention div {
                float: left;
            }

        .note {
            font-size: 14px;
            margin-top: 25px;
            margin-bottom: 75px;
        }

        .signature {
            margin-left: 10px;
            border-bottom: 1px solid;
            width: 35%;
            height: 30px;
            margin-right: 200px;
            float: left;
        }
    </style>
</head>
<body>
    @foreach (var bankBranch in Model.BankBranches)
    {
        <div class="title">
            <b>@bankBranch.BankName - @bankBranch.BranchName</b>
        </div>
        <div class="attention">
            <div>Attention :</div>
            <div style="margin-left: 10px;">
                @Model.SignatoryName
                <br />
                @Model.SignatoryPosition
            </div>
        </div>
        <br />
        <div class="note">
            <p>
                &emsp;&emsp;&emsp;&emsp;Please debit CURRENT ACCOUNT number @bankBranch.TenantAccountNo of @Model.TenantName and credit
                accounts of the following employees upon receipt hereof on @DateTime.Today.ToString("MMM dd, yyyy.")
            </p>
        </div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>@L("EmployeeName").ToUpper()</th>
                    <th>@L("BankAcctNo").ToUpper()</th>
                    <th>@L("Amount").ToUpper()</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < bankBranch.BankAdvise.Count; i++)
                {
                    <tr>
                        <td>
                            @(i+1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => bankBranch.BankAdvise[i].EmployeeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => bankBranch.BankAdvise[i].BankAccountNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => bankBranch.BankAdvise[i].Amount)
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td style="border: 0;"></td>
                    <td style="border: 0;"></td>
                    <td style="border-right: 0;"><b>Grand Total:</b></td>
                    <td style="border-left: 0;"><b>@bankBranch.BankAdvise.Sum(e => e.Amount).ToString("#,##0.00")</b></td>
                </tr>
            </tfoot>
        </table>
        <div class="note">
            <p>
                &emsp;&emsp;&emsp;&emsp;Please make sure that no copy of this bank advise shall be given to any
                company personnel without the express permission of the undersigned.
            </p>
        </div>

        <div class="signature"></div>
    }







    <div style='page-break-after: always;'>
    </div>
</body>
</html>
