﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForChequeAdvise

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        td, th {
            border: 1px solid black;
            overflow: hidden;
            padding: 5px 10px 5px 10px;
            font-size: 14px;
        }

        .noborder {
            border: 0;
        }

        table {
            font-size: 10px;
            width: 100%;
            border-collapse: collapse;
        }

        tfoot:before {
            line-height: 5px;
            content: "-";
            color: white;
            display: block;
        }

        .reportName {
            text-align: center;
            font-size: 10px;
            width: 100%;
            padding-top: 75px;
            padding-bottom: 175px;
            font-size: 14px;
        }

        .note {
            font-size: 14px;
            margin-top: 25px;
            
        }

        .signature {
            margin-top: 50px;
            margin-left: 10px;
            border-top: 1px solid;
            border-bottom: 1px solid;
            width: 20%;
            height: 30px;
            margin-right: 200px;
            float: left;
        }
    </style>
</head>
<body>
    <div class="reportName">
        <b>CHEQUE ADVICE REPORT</b>
    </div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>@L("EmployeeName").ToUpper()</th>
                <th>@L("Amount").ToUpper()</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.ChequeAdvise.Count; i++)
            {
                <tr>
                    <td>
                        @(i+1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ChequeAdvise[i].EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ChequeAdvise[i].Amount)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td style="border: 0;"></td>
                <td style="border-right: 0;"><b>Grand Total:</b></td>
                <td style="border-left: 0;"><b>@Model.ChequeAdvise.Sum(e => e.Amount).ToString("#,##0.00")</b></td>
            </tr>
        </tfoot>
    </table>
    <div class="note">
        <p>
            &emsp;&emsp;&emsp;&emsp;Please make sure that no copy of this bank advise shall be given to any
            company personnel without the express permission of the undersigned.
        </p>
    </div>

    <div class="signature"></div><div class="signature"></div>
    <div class="signature"></div>

    <div style='page-break-after: always;'>
    </div>
</body>
</html>
