﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForDeductionRegister

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        td, th {
            border: 1px solid black;
            overflow: hidden;
            padding: 5px 10px 5px 10px;
        }

        .noborder {
            border: 0;
        }

        table {
            margin-top: 25px;
            font-size: 10px;
            width: 100%;
            border-collapse: collapse;
        }

        tfoot:before {
            line-height: 5px;
            content: "-";
            color: white;
            display: block;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>@L("EmployeeId")</th>
                <th>@L("EmployeeName")</th>
                <th>@L("Date")</th>
                <th>@L("DeductionCode")</th>
                <th>@L("Amount")</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                var groupName = Model.Grouping switch
                {
                    "None" => "Deduction Code:",
                    "PayCode" => "Pay Code:",
                    "Department" => "Department:",
                    _ => ""
                };
            }

            @foreach (var group in Model.DeductionRegisterGroup)
            {
                <tr>
                    <td class="noborder"><b>@groupName</b></td>
                    <td class="noborder" colspan="4"><b>@group.GroupBy</b></td>
                </tr>

                @foreach (var item in group.DeductionRegister)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.EmployeeId)</td>
                        <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.DeductionCode)</td>
                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                    </tr>
                }

                <tr>
                    <td style="border-right: 0;"><b>Sub Totals:</b></td>
                    <td style="border-left: 0;" colspan="3"><b>@group.GroupBy</b></td>
                    <td>@group.DeductionRegister.Sum(f => f.Amount)</td>
                </tr>

            }
        </tbody>
        <tfoot>
            <tr>
                <td style="border-right: 0;"><b>Grand Totals:</b></td>
                <td style="border-left: 0; border-right: 0;" colspan="3"></td>
                <td style="border-left: 0;"><b>@Model.DeductionRegisterGroup.Sum(e => e.DeductionRegister.Sum(f => f.Amount))</b></td>
            </tr>
        </tfoot>
    </table>

    <div style='page-break-after: always;'>
        </div>
</body>
</html>
