﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForSssContribution

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        td, th {
            border: 1px solid black;
            overflow: hidden;
            padding: 5px 10px 5px 10px;
        }

        .noborder {
            border: 0;
        }

        table {
            margin-top: 25px;
            font-size: 10px;
            width: 100%;
            border-collapse: collapse;
        }

        tfoot:before {
            line-height: 5px;
            content: "-";
            color: white;
            display: block;
        }

        .person {
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 10px;
            display: flex;
            margin-top: 80px;
            margin-bottom: 5px;
        }

            .person div {
                position: relative;
            }

        .position {
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 10px;
            display: flex;
        }

            .position div {
                border-top: solid 1px black;
                width: 35%;
                position: relative;
                padding-top: 5px;
            }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th rowspan="2">@Html.DisplayNameFor(model => model.SssContribution.First().EmployeeId)</th>
                <th rowspan="2">@Html.DisplayNameFor(model => model.SssContribution.First().SssNo)</th>
                <th rowspan="2">@Html.DisplayNameFor(model => model.SssContribution.First().EmployeeName)</th>
                <th colspan="2">@L("SSS")</th>
                <th rowspan="2">@Html.DisplayNameFor(model => model.SssContribution.First().Total)</th>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SssContribution.First().Employer)</th>
                <th>@Html.DisplayNameFor(model => model.SssContribution.First().Employee)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SssContribution)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SssNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Grand Totals</td>
                <td><b>@Model.SssContribution.Sum(f => f.Employer)</b></td>
                <td><b>@Model.SssContribution.Sum(f => f.Employee)</b></td>
                <td><b>@Model.SssContribution.Sum(f => f.Total)</b></td>
            </tr>
        </tfoot>
    </table>

    @if (!string.IsNullOrWhiteSpace(Model.Signatory?.SignatoryName))
    {
        <div class="person">
            <div>
                @Model.Signatory.SignatoryName
            </div>
        </div>
        <div class="position">
            <div>
                @Model.Signatory.Position
            </div>
        </div>
    }

    <div style='page-break-after: always;'>
    </div>
</body>
</html>
