﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForTimesheetRegister

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        td, th {
            border: 1px solid black;
            overflow: hidden;
            padding: 5px 10px 5px 10px;
        }

        .noborder {
            border: 0;
        }

        table {
            margin-top: 25px;
            font-size: 10px;
            width: 100%;
            border-collapse: collapse;
        }

        tfoot:before {
            line-height: 5px;
            content: "-";
            color: white;
            display: block;
        }

        .person {
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 10px;
            display: flex;
            margin-top: 80px;
            margin-bottom: 5px;
        }

        .person div {
            position: relative;
        }

        .position {
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 10px;
            display: flex;
        }

        .position div {
            border-top: solid 1px black;
            width: 35%;
            position: relative;
            padding-top: 5px;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>@L("EmployeeId")</th>
                <th>@L("EmployeeName")</th>
                @foreach (var header in Model.TimesheetRegisterHeader)
                {
                    <th>@header.HeaderName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TimesheetRegister)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>

                    @foreach (var header in Model.TimesheetRegisterHeader)
                    {
                        var hours = item.TimesheetRegisterValue.Where(e => e.SysCode == header.SysCode)
                            .Sum(e => e.Hours);

                        var value = item.TimesheetRegisterValue.Where(e => e.SysCode == header.SysCode)
                            .Sum(e => e.Value);

                        var formattedHours = hours == 0 ? " " : hours.ToString("0.00");
                        var formattedValue = value == 0 ? " " : value.ToString("0.00");

                        <td>
                            @formattedHours
                            <br />
                            @formattedValue
                        </td>
                    }
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td style="border-right: 0;">Grand Totals</td>
                <td style="border-left: 0; text-align:center;">@Model.TimesheetRegister.Count</td>
                @foreach (var header in Model.TimesheetRegisterHeader)
                {
                    <td>
                        @{
                            var hours = Model.TimesheetRegister
                                .Sum(e => e.TimesheetRegisterValue
                                    .Where(f => f.SysCode == header.SysCode).Sum(f => f.Hours));

                            var value = Model.TimesheetRegister
                                .Sum(e => e.TimesheetRegisterValue
                                    .Where(f => f.SysCode == header.SysCode).Sum(f => f.Value));
                        }
                        @hours.ToString("0.00")
                        <br />
                        @value.ToString("0.00")
                    </td>
                }
            </tr>
        </tfoot>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
