﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.DeductionProcess
@model CreateOrEditDeductionProcessModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditDeductionProcess")) : L("CreateNewDeductionProcess")))

<div class="modal-body">
    <div id="DeductionProcessInformationsTab">
        <form name="DeductionProcessInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.DeductionProcess.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionProcess_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionProcess_PayrollNo" value="@Model.DeductionProcess.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionProcess_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionProcess_Amount" value="@Model.DeductionProcess.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionProcess_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionProcess_EmployeeId" value="@Model.DeductionProcess.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionProcess_DeductionTypeId">@L("DeductionTypeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionProcess_DeductionTypeId" value="@Model.DeductionProcess.DeductionTypeId.ToString(CultureInfo.InvariantCulture)" type="number" name="deductionTypeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionProcess_RecurDeductionId">@L("RecurDeductionId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="DeductionProcess_RecurDeductionId" value="@Model.DeductionProcess.RecurDeductionId.ToString(CultureInfo.InvariantCulture)" type="number" name="recurDeductionId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")