﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.TimesheetTypes
@model CreateOrEditTimesheetTypesModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditTimesheetTypes")) : L("CreateNewTimesheetTypes")))

<div class="modal-body">
    <div id="TimesheetTypesInformationsTab">
        <form name="TimesheetTypesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.TimesheetTypes.Id" />
                <input type="hidden" name="displayName" value="@Model.TimesheetTypes.DisplayName" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="TimesheetTypes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control" value="@Model.TimesheetTypes.DisplayName" type="text" disabled />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="TimesheetTypes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control" id="TimesheetTypes_DisplayName" value="@Model.TimesheetTypes.DisplayName" type="text" name="displayName" required maxlength="@MMB.ePay.Payroll.TimesheetTypesConsts.MaxDisplayNameLength" minlength="@MMB.ePay.Payroll.TimesheetTypesConsts.MinDisplayNameLength" />
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetTypes_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetTypes_Description" value="@Model.TimesheetTypes.Description" type="text" name="description" required maxlength="@MMB.ePay.Payroll.TimesheetTypesConsts.MaxDescriptionLength" minlength="@MMB.ePay.Payroll.TimesheetTypesConsts.MinDescriptionLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetTypes_SysCode">@L("SysCode")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetTypes_SysCode" value="@Model.TimesheetTypes.SysCode" type="text" name="sysCode" maxlength="@MMB.ePay.Payroll.TimesheetTypesConsts.MaxSysCodeLength" minlength="@MMB.ePay.Payroll.TimesheetTypesConsts.MinSysCodeLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetTypes_Multiplier">@L("Multiplier")</label>
                <div class="col-9">
                    <select class="form-control" id="TimesheetTypes_Multiplier" name="multiplier" asp-for="TimesheetTypes.Multiplier">
                        <option value="1.00">Positive</option>
                        <option value="-1.00">Negative</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetTypes_AcctCode">@L("AcctCode")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetTypes_AcctCode" value="@Model.TimesheetTypes.AcctCode" type="text" name="acctCode" maxlength="@MMB.ePay.Payroll.TimesheetTypesConsts.MaxAcctCodeLength" minlength="@MMB.ePay.Payroll.TimesheetTypesConsts.MinAcctCodeLength" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="checkbox-list col-9">
                    <label for="TimesheetTypes_Taxable" class="checkbox">
                        <input class="form-control" id="TimesheetTypes_Taxable" type="checkbox" name="taxable" value="true"
                               @Html.Raw(Model.TimesheetTypes.Taxable ? "checked=\"checked\"" : "") />
                        <span></span>
                        @L("Taxable")
                    </label>
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")