﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.TimesheetTypes
@model TimesheetTypesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="TimesheetTypesInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("DisplayName") :</h6>
            <div class="col-6 col-form-label">
                @Model.TimesheetTypes.DisplayName
            </div>
            <h6 class="col-6 col-form-label">@L("Description") :</h6>
            <div class="col-6 col-form-label">
                @Model.TimesheetTypes.Description
            </div>
            <h6 class="col-6 col-form-label">@L("Multiplier") :</h6>
            <div class="col-6 col-form-label">
                @Model.TimesheetTypes.Multiplier
            </div>
            <h6 class="col-6 col-form-label">@L("SysCode") :</h6>
            <div class="col-6 col-form-label">
                @Model.TimesheetTypes.SysCode
            </div>
            <h6 class="col-6 col-form-label">@L("Taxable") :</h6>
            <div class="col-6 col-form-label">
                @Model.TimesheetTypes.Taxable
            </div>
            <h6 class="col-6 col-form-label">@L("AcctCode") :</h6>
            <div class="col-6 col-form-label">
                @Model.TimesheetTypes.AcctCode
            </div>
            <h6 class="col-6 col-form-label">@L("Category") :</h6>
            <div class="col-6 col-form-label">
                @Model.TimesheetTypes.Category
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")