﻿@model EntityHistoryModalViewModel
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ChangeLogs") + " : " + @L(Model.EntityTypeFullName) + "  (" + Model.EntityTypeDescription + ")"))

<div class="modal-body">
    <div class="row align-items-center">
        <table class="entity-type-history-table table table-separate table-head-custom no-footer dtr-inline dt-responsive nowrap">
            <thead>
                <tr>
                    <th></th>
                    <th>@L("Action")</th>
                    <th>@L("UserName")</th>
                    <th>@L("Time")</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

