﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.TimesheetPosted
@model CreateOrEditTimesheetPostedModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditTimesheetPosted")) : L("CreateNewTimesheetPosted")))

<div class="modal-body">
    <div id="TimesheetPostedInformationsTab">
        <form name="TimesheetPostedInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.TimesheetPosted.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetPosted_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetPosted_PayrollNo" value="@Model.TimesheetPosted.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetPosted_CostCenter">@L("CostCenter")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetPosted_CostCenter" value="@Model.TimesheetPosted.CostCenter?.ToString(CultureInfo.InvariantCulture)" type="number" name="costCenter" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetPosted_Days">@L("Days")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetPosted_Days" value="@Model.TimesheetPosted.Days.ToString(CultureInfo.InvariantCulture)" type="number" name="days" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetPosted_Hrs">@L("Hrs")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetPosted_Hrs" value="@Model.TimesheetPosted.Hrs.ToString(CultureInfo.InvariantCulture)" type="number" name="hrs" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetPosted_Mins">@L("Mins")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetPosted_Mins" value="@Model.TimesheetPosted.Mins.ToString(CultureInfo.InvariantCulture)" type="number" name="mins" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetPosted_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetPosted_Amount" value="@Model.TimesheetPosted.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetPosted_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetPosted_EmployeeId" value="@Model.TimesheetPosted.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetPosted_TimesheetTypeId">@L("TimesheetTypeId")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetPosted_TimesheetTypeId" value="@Model.TimesheetPosted.TimesheetTypeId.ToString(CultureInfo.InvariantCulture)" type="number" name="timesheetTypeId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")