﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.TimesheetPosted
@model TimesheetPostedViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="TimesheetPostedInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.TimesheetPosted.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("CostCenter") :</h6>
                @Model.TimesheetPosted.CostCenter
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Days") :</h6>
                @Model.TimesheetPosted.Days
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Hrs") :</h6>
                @Model.TimesheetPosted.Hrs
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Mins") :</h6>
                @Model.TimesheetPosted.Mins
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.TimesheetPosted.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.TimesheetPosted.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TimesheetTypeId") :</h6>
                @Model.TimesheetPosted.TimesheetTypeId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")