﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.TimesheetPosted
@using MMB.ePay.Web.Areas.App.Startup
@model TimesheetPostedViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.TimesheetPosted;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/TimesheetPosted/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("TimesheetPosted")" description="@L("TimesheetPostedHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_TimesheetPosted_Create))
        {
        <button id="CreateNewTimesheetPostedButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewTimesheetPosted")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="TimesheetPostedTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetTimesheetPostedButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinPayrollNoFilterId">@L("MinMax") @L("PayrollNo")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minPayrollNoFilter" id="MinPayrollNoFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxPayrollNoFilter" id="MaxPayrollNoFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinCostCenterFilterId">@L("MinMax") @L("CostCenter")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minCostCenterFilter" id="MinCostCenterFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxCostCenterFilter" id="MaxCostCenterFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinDaysFilterId">@L("MinMax") @L("Days")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDaysFilter" id="MinDaysFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDaysFilter" id="MaxDaysFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinHrsFilterId">@L("MinMax") @L("Hrs")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minHrsFilter" id="MinHrsFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxHrsFilter" id="MaxHrsFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinMinsFilterId">@L("MinMax") @L("Mins")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minMinsFilter" id="MinMinsFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxMinsFilter" id="MaxMinsFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinAmountFilterId">@L("MinMax") @L("Amount")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minAmountFilter" id="MinAmountFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxAmountFilter" id="MaxAmountFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinEmployeeIdFilterId">@L("MinMax") @L("EmployeeId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minEmployeeIdFilter" id="MinEmployeeIdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxEmployeeIdFilter" id="MaxEmployeeIdFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinTimesheetTypeIdFilterId">@L("MinMax") @L("TimesheetTypeId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minTimesheetTypeIdFilter" id="MinTimesheetTypeIdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxTimesheetTypeIdFilter" id="MaxTimesheetTypeIdFilterId" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="TimesheetPostedTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("PayrollNo")</th>
                                <th>@L("CostCenter")</th>
                                <th>@L("Days")</th>
                                <th>@L("Hrs")</th>
                                <th>@L("Mins")</th>
                                <th>@L("Amount")</th>
                                <th>@L("EmployeeId")</th>
                                <th>@L("TimesheetTypeId")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>