﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.StatutoryTmp
@model CreateOrEditStatutoryTmpModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditStatutoryTmp")) : L("CreateNewStatutoryTmp")))

<div class="modal-body">
    <div id="StatutoryTmpInformationsTab">
        <form name="StatutoryTmpInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.StatutoryTmp.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryTmp_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control" id="StatutoryTmp_PayrollNo" value="@Model.StatutoryTmp.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryTmp_StatutoryCode">@L("StatutoryCode")</label>
                <div class="col-9">
                    <input class="form-control" id="StatutoryTmp_StatutoryCode" value="@Model.StatutoryTmp.StatutoryCode" type="text" name="statutoryCode" required maxlength="@MMB.ePay.Payroll.StatutoryTmpConsts.MaxStatutoryCodeLength" minlength="@MMB.ePay.Payroll.StatutoryTmpConsts.MinStatutoryCodeLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryTmp_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control" id="StatutoryTmp_Amount" value="@Model.StatutoryTmp.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryTmp_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control" id="StatutoryTmp_EmployeeId" value="@Model.StatutoryTmp.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryTmp_SessionId">@L("SessionId")</label>
                <div class="col-9">
                    <input class="form-control" id="StatutoryTmp_SessionId" value="@Model.StatutoryTmp.SessionId" type="text" name="sessionId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")