﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.StatutoryTmp
@model StatutoryTmpViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="StatutoryTmpInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.StatutoryTmp.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("StatutoryCode") :</h6>
                @Model.StatutoryTmp.StatutorySubTypeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.StatutoryTmp.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.StatutoryTmp.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("SessionId") :</h6>
                @Model.StatutoryTmp.SessionId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")