﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.PayPeriod
@model CreateOrEditPayPeriodModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditPayPeriod")) : L("CreateNewPayPeriod")))

<div class="modal-body">
    <div id="PayPeriodInformationsTab">
        <form name="PayPeriodInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.PayPeriod.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_PayrollFreq">@L("PayrollFreq")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="PayPeriod.PayrollFreq" id="PayPeriod_PayrollFreq" name="payrollFreq" asp-items="Model.PayrollFreqList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_ProcessType">@L("ProcessType")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="PayPeriod.ProcessType" id="PayPeriod_ProcessType" name="processType">
                        <option value="REGULAR">Regular</option>
                        <option value="SPECIAL">Special</option>
                        <option value="RESIGNED">Resigned</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_PeriodFrom">@L("PeriodFrom")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker" id="PayPeriod_PeriodFrom" type="text" name="periodFrom" value="@Model.PayPeriod.PeriodFrom" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_PeriodTo">@L("PeriodTo")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker" id="PayPeriod_PeriodTo" type="text" name="periodTo" value="@Model.PayPeriod.PeriodTo" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_PayDate">@L("PayDate")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker" id="PayPeriod_PayDate" type="text" name="payDate" value="@Model.PayPeriod.PayDate" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_ApplicableMonth">@L("ApplicableMonth")</label>
                <div class="col-9">
                    @*<input class="form-control m-input" id="PayPeriod_ApplicableMonth" value="@Model.PayPeriod.ApplicableMonth.ToString(CultureInfo.InvariantCulture)" type="number" name="applicableMonth" />*@
                    <select class="form-control" asp-for="PayPeriod.ApplicableMonth" id="PayPeriod_ApplicableMonth" name="applicableMonth" asp-items="Model.AppMonthList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_ApplicableYear">@L("ApplicableYear")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayPeriod_ApplicableYear" value="@Model.PayPeriod.ApplicableYear?.ToString(CultureInfo.InvariantCulture)" type="number" name="applicableYear" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_ManDays">@L("ManDays")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayPeriod_ManDays" value="@Model.PayPeriod.ManDays?.ToString(CultureInfo.InvariantCulture)" type="number" name="manDays" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_CutOffFrom">@L("CutOffFrom")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker" id="PayPeriod_CutOffFrom" type="text" name="cutOffFrom" value="@Model.PayPeriod.CutOffFrom" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_CutOffTo">@L("CutOffTo")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker" id="PayPeriod_CutOffTo" type="text" name="cutOffTo" value="@Model.PayPeriod.CutOffTo" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_Currency">@L("Currency")</label>
                <div class="col-9">
                    <input class="form-control" id="PayPeriod_Currency" value="@Model.PayPeriod.Currency" type="text" name="currency" maxlength="@MMB.ePay.Payroll.PayPeriodConsts.MaxCurrencyLength" minlength="@MMB.ePay.Payroll.PayPeriodConsts.MinCurrencyLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_ExchangeRate">@L("ExchangeRate")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayPeriod_ExchangeRate" value="@Model.PayPeriod.ExchangeRate?.ToString(CultureInfo.InvariantCulture)" type="number" name="exchangeRate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_FiscalYear">@L("FiscalYear")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayPeriod_FiscalYear" value="@Model.PayPeriod.FiscalYear?.ToString(CultureInfo.InvariantCulture)" type="number" name="fiscalYear" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_PayrollWeekNo">@L("PayrollWeekNo")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayPeriod_PayrollWeekNo" value="@Model.PayPeriod.PayrollWeekNo?.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollWeekNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_WeekNo">@L("WeekNo")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="PayPeriod.WeekNo" id="PayPeriod_WeekNo" name="weekNo">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_PayrollStatus">@L("PayrollStatus")</label>
                <div class="col-9">
                    <input class="form-control" id="PayPeriod_PayrollStatus" value="@Model.PayPeriod.PayrollStatus" type="text" name="payrollStatus" maxlength="@MMB.ePay.Payroll.PayPeriodConsts.MaxPayrollStatusLength" minlength="@MMB.ePay.Payroll.PayPeriodConsts.MinPayrollStatusLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayPeriod_Remarks">@L("Remarks")</label>
                <div class="col-9">
                    <input class="form-control" id="PayPeriod_Remarks" value="@Model.PayPeriod.Remarks" type="text" name="remarks" maxlength="@MMB.ePay.Payroll.PayPeriodConsts.MaxRemarksLength" minlength="@MMB.ePay.Payroll.PayPeriodConsts.MinRemarksLength" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")