﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.PayPeriod
@model PayPeriodViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="PayPeriodInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("PayrollFreq") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.PayrollFreq
            </div>
            <h6 class="col-6 col-form-label">@L("ProcessType") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.ProcessType
            </div>
            <h6 class="col-6 col-form-label">@L("PeriodFrom") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.PeriodFrom.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("PeriodTo") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.PeriodTo.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("PayDate") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.PayDate.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("ApplicableMonth") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.ApplicableMonth
            </div>
            <h6 class="col-6 col-form-label">@L("ApplicableYear") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.ApplicableYear
            </div>
            <h6 class="col-6 col-form-label">@L("ManDays") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.ManDays
            </div>
            <h6 class="col-6 col-form-label">@L("CutOffFrom") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.CutOffFrom.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("CutOffTo") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.CutOffTo.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("Currency") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.Currency
            </div>
            <h6 class="col-6 col-form-label">@L("ExchangeRate") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.ExchangeRate
            </div>
            <h6 class="col-6 col-form-label">@L("FiscalYear") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.FiscalYear
            </div>
            <h6 class="col-6 col-form-label">@L("PayrollWeekNo") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.PayrollWeekNo
            </div>
            <h6 class="col-6 col-form-label">@L("WeekNo") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.WeekNo
            </div>
            <h6 class="col-6 col-form-label">@L("PayrollStatus") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.PayrollStatus
            </div>
            <h6 class="col-6 col-form-label">@L("Remarks") :</h6>
            <div class="col-6 col-form-label">
                @Model.PayPeriod.Remarks
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")