﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.PayPeriod
@using MMB.ePay.Web.Areas.App.Startup
@model PayPeriodViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.PayPeriod;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/PayPeriod/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("PayPeriod")">
        @if (IsGranted(AppPermissions.Pages_PayPeriod_Create))
        {
        <button id="CreateNewPayPeriodButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewPayPeriod")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ApplicableYearFilterId">@L("ApplicableYear")</label>
                            <select class="form-control" name="applicableYearIdFilter" id="ApplicableYearFilterId" asp-items="Model.ApplicableYearList"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="PayrollFreqFilterId">@L("PayrollFreq")</label>
                            <select class="form-control" name="payrollFreqIdFilter" id="PayrollFreqFilterId" asp-items="Model.PayrollFreqList"></select>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="PayPeriodTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("PeriodFrom")</th>
                                <th>@L("PeriodTo")</th>
                                <th>@L("PayDate")</th>
                                <th>@L("PayrollFreq")</th>
                                <th>@L("ProcessType")</th>
                                <th>@L("Remarks")</th>
                                <th>@L("PayrollStatus")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>