﻿@using MMB.ePay.Web.Areas.App.Startup
@using MMB.ePay.Web.Areas.App.Models.Companies
@model CompaniesViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Common.Companies; }

@section Styles {
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/AuditLogs/index.css" asp-append-version="true" />
}

@section Scripts {
    <script src="/view-resources/Areas/App/Views/Companies/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("Companies")"></abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b col-md-10">
            <div class="card-body">
                <div id="SettingsTabPanel" class="tabbable-line">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a href="#GeneralTab" class="nav-link active" data-toggle="tab" role="tab">
                                @L("General")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#BankInfoTab" class="nav-link" data-toggle="tab" role="tab">
                                @L("BankInfo")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#ContactPersonTab" class="nav-link" data-toggle="tab" role="tab">
                                @L("ContactPerson")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#StatutoryInfoTab" class="nav-link" data-toggle="tab" role="tab">
                                @L("StatutoryInfo")
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="GeneralTab">
                            <form name="GeneralForm" role="form" novalidate class="form-validation">
                                <div class="row mb-3 mt-5">
                                    <div class="col-sm-12 text-right">
                                        <button type="button" class="btn btn-primary" id="btnGeneralSave">
                                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="form">
                                    <input type="hidden" name="id" id="Companies_Id" value="@Model.Companies.Id" />

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Companies_DisplayName">@L("DisplayName")</label>
                                        <div class="col-9">
                                            <input class="form-control" id="Companies_DisplayName" value="@Model.Companies.DisplayName"
                                                   type="text" name="displayName"
                                                   required maxlength="@MMB.ePay.Payroll.CompaniesConsts.MaxDisplayNameLength"
                                                   minlength="@MMB.ePay.Payroll.CompaniesConsts.MinDisplayNameLength" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Companies_Address1">@L("Address1")</label>
                                        <div class="col-9">
                                            <input class="form-control" id="Companies_Address1" value="@Model.Companies.Address1"
                                                   type="text" name="address1"
                                                   required maxlength="@MMB.ePay.Payroll.CompaniesConsts.MaxAddress1Length"
                                                   minlength="@MMB.ePay.Payroll.CompaniesConsts.MinAddress1Length" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Companies_Address2">@L("Address2")</label>
                                        <div class="col-9">
                                            <input class="form-control" id="Companies_Address2" value="@Model.Companies.Address2"
                                                   type="text" name="address2"
                                                   required maxlength="@MMB.ePay.Payroll.CompaniesConsts.MaxAddress2Length"
                                                   minlength="@MMB.ePay.Payroll.CompaniesConsts.MinAddress2Length" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Companies_OrgUnitLevel1Name">@L("OrgUnitLevel1")</label>
                                        <div class="col-9">
                                            <input class="form-control" id="Companies_OrgUnitLevel1Name" value="@Model.Companies.OrgUnitLevel1Name"
                                                   type="text" name="orgUnitLevel1Name"
                                                   required maxlength="@MMB.ePay.Payroll.CompaniesConsts.MaxOrgUnitLevel1NameLength"
                                                   minlength="@MMB.ePay.Payroll.CompaniesConsts.MinOrgUnitLevel1NameLength" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Companies_OrgUnitLevel2Name">@L("OrgUnitLevel2")</label>
                                        <div class="col-9">
                                            <input class="form-control" id="Companies_OrgUnitLevel2Name" value="@Model.Companies.OrgUnitLevel2Name"
                                                   type="text" name="orgUnitLevel2Name"
                                                   required maxlength="@MMB.ePay.Payroll.CompaniesConsts.MaxOrgUnitLevel2NameLength"
                                                   minlength="@MMB.ePay.Payroll.CompaniesConsts.MinOrgUnitLevel2NameLength" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Companies_OrgUnitLevel3Name">@L("OrgUnitLevel3")</label>
                                        <div class="col-9">
                                            <input class="form-control" id="Companies_OrgUnitLevel3Name" value="@Model.Companies.OrgUnitLevel3Name"
                                                   type="text" name="orgUnitLevel3Name"
                                                   required maxlength="@MMB.ePay.Payroll.CompaniesConsts.MaxOrgUnitLevel3NameLength"
                                                   minlength="@MMB.ePay.Payroll.CompaniesConsts.MinOrgUnitLevel3NameLength" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane" id="BankInfoTab">
                            <div class="row mb-3 mt-5">
                                <div class="col-sm-12 text-right">
                                    <button type="button" id="CreateNewBankInfoButton" class="btn btn-primary blue">
                                        <i class="fa fa-plus"></i> @L("CreateNewTenantBanks")
                                    </button>
                                </div>
                            </div>
                            <table id="BankInfoTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("BranchName")</th>
                                        <th>@L("BankAccountNumber")</th>
                                        <th>@L("BankAccountType")</th>
                                        <th>@L("BranchNumber")</th>
                                        <th>@L("CorporateId")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="tab-pane" id="ContactPersonTab">
                            <div class="row mb-3 mt-5">
                                <div class="col-sm-12 text-right">
                                    <button type="button" id="CreateNewContactPersonsButton" class="btn btn-primary blue">
                                        <i class="fa fa-plus"></i> @L("CreateNewContactPersons")
                                    </button>
                                </div>
                            </div>
                            <table id="ContactPersonTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("FullName")</th>
                                        <th>@L("ContactNo")</th>
                                        <th>@L("Position")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="tab-pane" id="StatutoryInfoTab">
                            <table id="StatutoryInfoTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("StatutoryType")</th>
                                        <th>@L("AccountNo")</th>
                                        <th>@L("Signatory")</th>
                                        <th>@L("Branch")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>