﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OvertimeMainTypes
@model CreateOrEditOvertimeMainTypesModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditOvertimeMainTypes")) : L("CreateNewOvertimeMainTypes")))

<div class="modal-body">
    <div id="OvertimeMainTypesInformationsTab">
        <form name="OvertimeMainTypesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.OvertimeMainTypes.Id" />
                <input type="hidden" name="displayName" value="@Model.OvertimeMainTypes.DisplayName" />
                <input type="hidden" name="displayOrder" value="@Model.OvertimeMainTypes.DisplayOrder" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="OvertimeMainTypes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control" value="@Model.OvertimeMainTypes.DisplayName" disabled />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="OvertimeMainTypes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control" id="OvertimeMainTypes_DisplayName" value="@Model.OvertimeMainTypes.DisplayName" type="text" name="displayName"
                               required maxlength="@MMB.ePay.Payroll.OvertimeMainTypesConsts.MaxDisplayNameLength"
                               minlength="@MMB.ePay.Payroll.OvertimeMainTypesConsts.MinDisplayNameLength" />
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OvertimeMainTypes_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control" id="OvertimeMainTypes_Description" value="@Model.OvertimeMainTypes.Description" type="text" name="description"
                           required maxlength="@MMB.ePay.Payroll.OvertimeMainTypesConsts.MaxDescriptionLength"
                           Sminlength="@MMB.ePay.Payroll.OvertimeMainTypesConsts.MinDescriptionLength" />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")