﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OvertimeMainTypes
@model OvertimeMainTypesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="OvertimeMainTypesInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("DisplayName") :</h6>
            <div class="col-6 col-form-label">
                @Model.OvertimeMainTypes.DisplayName
            </div>
            <h6 class="col-6 col-form-label">@L("Description") :</h6>
            <div class="col-6 col-form-label">
                @Model.OvertimeMainTypes.Description
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")