﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LeaveCredits
@model CreateOrEditLeaveCreditsModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLeaveCredits")) : L("CreateNewLeaveCredits")))

<div class="modal-body">
    <div id="LeaveCreditsInformationsTab">
        <form name="LeaveCreditsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.LeaveCredits.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveCredits_AppYear">@L("AppYear")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="LeaveCredits_AppYear" value="@Model.LeaveCredits.AppYear.ToString(CultureInfo.InvariantCulture)" type="number" name="appYear" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveCredits_LeaveDays">@L("LeaveDays")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="LeaveCredits_LeaveDays" value="@Model.LeaveCredits.LeaveDays.ToString(CultureInfo.InvariantCulture)" type="number" name="leaveDays" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveCredits_Remarks">@L("Remarks")</label>
                <div class="col-9">
                    <input class="form-control" id="LeaveCredits_Remarks" value="@Model.LeaveCredits.Remarks" type="text" name="remarks" maxlength="@MMB.ePay.Payroll.LeaveCreditsConsts.MaxRemarksLength" minlength="@MMB.ePay.Payroll.LeaveCreditsConsts.MinRemarksLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveCredits_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="LeaveCredits_EmployeeId" value="@Model.LeaveCredits.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveCredits_LeaveTypeId">@L("LeaveTypeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="LeaveCredits_LeaveTypeId" value="@Model.LeaveCredits.LeaveTypeId.ToString(CultureInfo.InvariantCulture)" type="number" name="leaveTypeId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")