﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LeaveCredits
@model LeaveCreditsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="LeaveCreditsInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("AppYear") :</h6>
                @Model.LeaveCredits.AppYear
            </div>
            <div class="col-6 mb-3">
                <h6>@L("LeaveDays") :</h6>
                @Model.LeaveCredits.LeaveDays
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Remarks") :</h6>
                @Model.LeaveCredits.Remarks
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.LeaveCredits.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("LeaveTypeId") :</h6>
                @Model.LeaveCredits.LeaveTypeId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")