﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.LeaveCredits
@using MMB.ePay.Web.Areas.App.Startup
@model LeaveCreditsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.LeaveCredits;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/LeaveCredits/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("LeaveCredits")" description="@L("LeaveCreditsHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_LeaveCredits_Create))
        {
        <button id="CreateNewLeaveCreditsButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewLeaveCredits")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="LeaveCreditsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetLeaveCreditsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinAppYearFilterId">@L("MinMax") @L("AppYear")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minAppYearFilter" id="MinAppYearFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxAppYearFilter" id="MaxAppYearFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinLeaveDaysFilterId">@L("MinMax") @L("LeaveDays")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minLeaveDaysFilter" id="MinLeaveDaysFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxLeaveDaysFilter" id="MaxLeaveDaysFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="RemarksFilterId">@L("Remarks")</label>
                            <input type="text" class="form-control" name="remarksFilter" id="RemarksFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinEmployeeIdFilterId">@L("MinMax") @L("EmployeeId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minEmployeeIdFilter" id="MinEmployeeIdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxEmployeeIdFilter" id="MaxEmployeeIdFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinLeaveTypeIdFilterId">@L("MinMax") @L("LeaveTypeId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minLeaveTypeIdFilter" id="MinLeaveTypeIdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxLeaveTypeIdFilter" id="MaxLeaveTypeIdFilterId" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="LeaveCreditsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("AppYear")</th>
                                <th>@L("LeaveDays")</th>
                                <th>@L("Remarks")</th>
                                <th>@L("EmployeeId")</th>
                                <th>@L("LeaveTypeId")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>