﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.StatutoryProcess
@model CreateOrEditStatutoryProcessModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditStatutoryProcess")) : L("CreateNewStatutoryProcess")))

<div class="modal-body">
    <div id="StatutoryProcessInformationsTab">
        <form name="StatutoryProcessInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.StatutoryProcess.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryProcess_PayrollNo">@L("PayrollNo")</label>
                <input class="form-control" id="StatutoryProcess_PayrollNo" value="@Model.StatutoryProcess.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryProcess_StatutoryCode">@L("StatutoryCode")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="StatutoryProcess.StatutoryTypeId" asp-items="Model.StatutoryTypeList" ></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryProcess_Amount">@L("Amount")</label>
                <input class="form-control" id="StatutoryProcess_Amount" value="@Model.StatutoryProcess.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="StatutoryProcess_EmployeeId">@L("EmployeeId")</label>
                <input class="form-control" id="StatutoryProcess_EmployeeId" value="@Model.StatutoryProcess.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")