﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.StatutoryProcess
@model StatutoryProcessViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="StatutoryProcessInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.StatutoryProcess.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("StatutoryCode") :</h6>
                @Model.StatutoryProcess.StatutoryType
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.StatutoryProcess.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.StatutoryProcess.EmployeeId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")