﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EmployeeLoans
@model CreateOrEditEmployeeLoansModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml",
    new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEmployeeLoans")) : L("CreateNewEmployeeLoans")))

<div class="modal-body">
    <div id="EmployeeLoansInformationsTab">
        <form name="EmployeeLoansInformationsForm" role="form" novalidate class="form-validation">
            <input type="hidden" id="EmployeeLoans_EmployeeId" name="employeeId" value="@Model.EmployeeLoans.EmployeeId" />

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.EmployeeLoans.Id" />
                <input type="hidden" id="EmployeeLoans_LoanId" name="loanId" value="@Model.EmployeeLoans.LoanId" />
                <input type="hidden" id="EmployeeLoans_LoanAmount" name="loanAmount" value="@Model.EmployeeLoans.LoanAmount" />
                <input type="hidden" id="EmployeeLoans_Amortization" name="amortization" value="@Model.EmployeeLoans.Amortization" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_Employee">@L("Employee")</label>
                    <div class="col-9">
                        <input class="form-control m-input" id="EmployeeLoans_EmployeeName" value="@Model.EmployeeLoans.EmployeeName" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_Loan">@L("Loan")</label>
                    <div class="col-9">
                        <select class="form-control" asp-for="EmployeeLoans.LoanId" asp-items="Model.LoanList" name="loanId" disabled></select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_Principal">@L("Principal")</label>
                    @if (Model.EmployeeLoans.TotalDeducted > 0)
                    {
                        <input type="hidden" id="EmployeeLoans_Principal" name="principal" value="@Model.EmployeeLoans.Principal" />
                        <div class="col-9">
                            <input class="form-control m-input" value="@Model.EmployeeLoans.Principal?.ToString(CultureInfo.InvariantCulture)" type="number" disabled />
                        </div>
                    }
                    else
                    {
                        <div class="col-9">
                            <input class="form-control m-input" id="EmployeeLoans_Principal" value="@Model.EmployeeLoans.Principal?.ToString(CultureInfo.InvariantCulture)" type="number" name="principal" />
                        </div>
                    }
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_LoanAmount">@L("LoanAmount")</label>
                    <div class="col-9">
                        <input class="form-control m-input" value="@Model.EmployeeLoans.LoanAmount?.ToString(CultureInfo.InvariantCulture)" type="number" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_TotalDeducted">@L("TotalDeducted")</label>
                    <div class="col-9">
                        <input class="form-control m-input" value="@Model.EmployeeLoans.TotalDeducted.ToString(CultureInfo.InvariantCulture)" type="number" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_Balance">@L("Balance")</label>
                    <div class="col-9">
                        <input class="form-control m-input" value="@Model.EmployeeLoans.Balance.ToString(CultureInfo.InvariantCulture)" type="number" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_Amortization">@L("Amortization")</label>
                    <div class="col-9">
                        <input class="form-control m-input" value="@Model.EmployeeLoans.Amortization?.ToString(CultureInfo.InvariantCulture)" type="number" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_Frequency">@L("Frequency")</label>
                    <div class="checkbox-list">

                        @{
                            var payFreq = Model.EmployeeLoans.PayFreq;
                        }

                        @if (payFreq == "M" || payFreq == "S" || payFreq == "W")
                        {
                            <label class="checkbox">
                                <input type="checkbox" name="firstPeriod" class="form-control" asp-for="EmployeeLoans.FirstPeriod" />
                                <span></span>
                                1st Period
                            </label>
                        }

                        @if (payFreq == "S" || payFreq == "W")
                        {
                            <label class="checkbox">
                                <input type="checkbox" name="secondPeriod" class="form-control" asp-for="EmployeeLoans.SecondPeriod" />
                                <span></span>
                                2nd Period
                            </label>
                        }

                        @if (payFreq == "W")
                        {
                            <label class="checkbox">
                                <input type="checkbox" name="thirdPeriod" class="form-control" asp-for="EmployeeLoans.ThirdPeriod" />
                                <span></span>
                                3rd Period
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fourthPeriod" class="form-control" asp-for="EmployeeLoans.FourthPeriod" />
                                <span></span>
                                4th Period
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="lastPeriod" class="form-control" asp-for="EmployeeLoans.LastPeriod" />
                                <span></span>
                                Last Period
                            </label>
                        }
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_ApprovedDate">@L("ApprovedDate")</label>
                    <div class="col-9">
                        <input class="form-control m-input date-picker" id="EmployeeLoans_ApprovedDate" type="text" name="approvedDate" value="@Model.EmployeeLoans.ApprovedDate" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_EffectStart">@L("EffectStart")</label>
                    <div class="col-9">
                        <input class="form-control m-input date-picker" id="EmployeeLoans_EffectStart" type="text" name="effectStart" value="@Model.EmployeeLoans.EffectStart" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_Remarks">@L("Remarks")</label>
                    <div class="col-9">
                        <input class="form-control" id="EmployeeLoans_Remarks" value="@Model.EmployeeLoans.Remarks" type="text" name="remarks" maxlength="@MMB.ePay.Payroll.EmployeeLoansConsts.MaxRemarksLength" minlength="@MMB.ePay.Payroll.EmployeeLoansConsts.MinRemarksLength" />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_Employee">@L("Employee")</label>
                    <div class="col-9">
                        <input class="form-control m-input" id="EmployeeLoans_EmployeeName" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_Loan">@L("Loan")</label>
                    <div class="col-9">
                        <select class="form-control" id="EmployeeLoans_LoanId" asp-for="EmployeeLoans.LoanId" asp-items="Model.LoanList" name="loanId"></select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_Principal">@L("Principal")</label>
                    <div class="col-9">
                        <input class="form-control m-input" id="EmployeeLoans_Principal" value="@Model.EmployeeLoans.Principal?.ToString(CultureInfo.InvariantCulture)" type="number" name="principal" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_LoanAmount">@L("LoanAmount")</label>
                    <div class="col-9">
                        <input class="form-control m-input" id="EmployeeLoans_LoanAmount" value="@Model.EmployeeLoans.LoanAmount?.ToString(CultureInfo.InvariantCulture)" type="number" name="loanAmount" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_Amortization">@L("Amortization")</label>
                    <div class="col-9">
                        <input class="form-control m-input" id="EmployeeLoans_Amortization" value="@Model.EmployeeLoans.Amortization?.ToString(CultureInfo.InvariantCulture)" type="number" name="amortization" />
                    </div>
                </div>

                <div class="form-group row" id="divFreq" style="display:none;">
                    <label class="col-3 col-form-label" for="EmployeeLoans_Frequency">@L("Frequency")</label>
                    <div class="col-9">
                        <div id="chkFrequency" class="checkbox-list"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_ApprovedDate">@L("ApprovedDate")</label>
                    <div class="col-9">
                        <input class="form-control m-input date-picker" id="EmployeeLoans_ApprovedDate" type="text" name="approvedDate" value="@Model.EmployeeLoans.ApprovedDate" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_EffectStart">@L("EffectStart")</label>
                    <div class="col-9">
                        <input class="form-control m-input date-picker" id="EmployeeLoans_EffectStart" type="text" name="effectStart" value="@Model.EmployeeLoans.EffectStart" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="EmployeeLoans_Remarks">@L("Remarks")</label>
                    <div class="col-9">
                        <input class="form-control" id="EmployeeLoans_Remarks" value="@Model.EmployeeLoans.Remarks" type="text" name="remarks" maxlength="@MMB.ePay.Payroll.EmployeeLoansConsts.MaxRemarksLength" minlength="@MMB.ePay.Payroll.EmployeeLoansConsts.MinRemarksLength" />
                    </div>
                </div>
            }

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")