﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EmployeeLoans
@model EmployeeLoansViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="EmployeeLoansInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("Employee") :</h6>
            <div class="col-6 col-form-label">
                @Model.EmployeeLoans.Employee
            </div>
            <h6 class="col-6 col-form-label">@L("ApprovedDate") :</h6>
            <div class="col-6 col-form-label">
                @Model.EmployeeLoans.ApprovedDate.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("EffectStart") :</h6>
            <div class="col-6 col-form-label">
                @Model.EmployeeLoans.EffectStart.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("Principal") :</h6>
            <div class="col-6 col-form-label">
                @Model.EmployeeLoans.Principal
            </div>
            <h6 class="col-6 col-form-label">@L("LoanAmount") :</h6>
            <div class="col-6 col-form-label">
                @Model.EmployeeLoans.LoanAmount
            </div>
            <h6 class="col-6 col-form-label">@L("Amortization") :</h6>
            <div class="col-6 col-form-label">
                @Model.EmployeeLoans.Amortization
            </div>
            @*<h6 class="col-6 col-form-label">@L("Frequency") :</h6>
            <div class="col-6 col-form-label">
                @Model.EmployeeLoans.Frequency
            </div>*@
            <h6 class="col-6 col-form-label">@L("Remarks") :</h6>
            <div class="col-6 col-form-label">
                @Model.EmployeeLoans.Remarks
            </div>
            <h6 class="col-6 col-form-label">@L("HoldStart") :</h6>
            <div class="col-6 col-form-label">
                @Model.EmployeeLoans.HoldStart?.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("HoldEnd") :</h6>
            <div class="col-6 col-form-label">
                @Model.EmployeeLoans.HoldEnd?.ToString("MM/dd/yyyy")
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")