﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.EmployeeLoans
@using MMB.ePay.Web.Areas.App.Startup
@model EmployeeLoansViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.EmployeeLoans;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/EmployeeLoans/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("EmployeeLoans")">
        @if (IsGranted(AppPermissions.Pages_EmployeeLoans_Create))
        {
            <button id="CreateNewEmployeeLoansButton" class="btn btn-primary blue">
                <i class="fa fa-plus"></i> @L("CreateNewEmployeeLoans")
            </button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    @*<div class="col-md-3">
                        <div class="form-group">
                            <label for="EmployeeFilterId">@L("Employee")</label>
                            <select class="form-control" name="employeeIdFilter" id="EmployeeIdFilterId" asp-items="Model.EmployeeList"></select>
                        </div>
                    </div>*@

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SearchFilterId">@L("Search")</label>
                            <input class="form-control" name="filter" id="SearchFilterId" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="StatusFilterId">@L("Status")</label>
                            <select class="form-control" name="statusIdFilter" id="StatusIdFilterId" asp-items="Model.StatusList"></select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="YearFilterId">@L("Year")</label>
                            <select class="form-control" name="yearIdFilter" id="YearIdFilterId" asp-items="Model.YearList"></select>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="EmployeeLoansTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("Employee")</th>
                                <th>@L("Loan")</th>
                                <th>@L("ApprovedDate")</th>
                                <th>@L("LoanAmount")</th>
                                <th>@L("Amortization")</th>
                                <th>@L("Balance")</th>
                                <th>@L("Frequency")</th>
                                <th>@L("Status")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>