﻿@using Abp.Application.Services.Dto
@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.Users
@using MMB.ePay.Web.Areas.App.Startup

@model UsersViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Users;
}

@section Styles
{
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/Users/Index.css" asp-append-version="true"/>
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/user-list.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("Users")">
        @if (IsGranted(AppPermissions.Pages_Administration_Users_Create))
        {
            <button id="CreateNewUserButton" class="btn btn-primary">
                <i class="fa fa-plus"></i> @L("CreateNewUser")
            </button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SearchFilterId">@L("Search")</label>
                            <input class="form-control" name="filter" id="SearchFilterId" />
                        </div>
                    </div>
                </div>
                <div class="align-items-center">
                    <table id="UsersTable" class="table table-separate table-head-custom dataTable no-footer dtr-inline dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("UserName")</th>
                                <th>@L("FirstName")</th>
                                <th>@L("Surname")</th>
                                <th>@L("Roles")</th>
                                <th>@L("EmailAddress")</th>
                                <th>@L("EmailConfirm")</th>
                                <th>@L("Active")</th>
                                <th>@L("CreationTime")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
