﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Loans
@model CreateOrEditLoansModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLoans")) : L("CreateNewLoans")))

<div class="modal-body">
    <div id="LoansInformationsTab">
        <form name="LoansInformationsForm" role="form" novalidate class="form-validation">

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Loans_RefCode">@L("RefCode")</label>
                <div class="col-9">
                    <input class="form-control" id="Loans_RefCode" value="@Model.Loans.RefCode" type="text" name="refCode"
                           maxlength="@MMB.ePay.Payroll.LoansConsts.MaxRefCodeLength"
                           minlength="@MMB.ePay.Payroll.LoansConsts.MinRefCodeLength" />
                </div>
            </div>

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Loans.Id" />
                <input type="hidden" name="displayName" value="@Model.Loans.DisplayName" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="Loans_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control" value="@Model.Loans.DisplayName" type="text" disabled />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="Loans_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control" id="Loans_DisplayName" value="@Model.Loans.DisplayName" type="text" name="displayName"
                               required maxlength="@MMB.ePay.Payroll.LoansConsts.MaxDisplayNameLength"
                               minlength="@MMB.ePay.Payroll.LoansConsts.MinDisplayNameLength" />
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Loans_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control" id="Loans_Description" value="@Model.Loans.Description" type="text" name="description"
                           required maxlength="@MMB.ePay.Payroll.LoansConsts.MaxDescriptionLength"
                           minlength="@MMB.ePay.Payroll.LoansConsts.MinDescriptionLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Loans_LoanType">@L("LoanType")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="Loans.LoanTypeId" asp-items="Model.LoanTypeList" name="loanTypeId"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Loans_Currency">@L("Currency")</label>
                <div class="col-9">
                    <select class="form-control" id="Loans_Currency" name="currency" asp-for="Loans.Currency" asp-items="Model.CurrencyList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Loans_AcctCode">@L("AcctCode")</label>
                <div class="col-9">
                    <input class="form-control" id="Loans_AcctCode" value="@Model.Loans.AcctCode" type="text" name="acctCode"
                           maxlength="@MMB.ePay.Payroll.LoansConsts.MaxAcctCodeLength"
                           minlength="@MMB.ePay.Payroll.LoansConsts.MinAcctCodeLength" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")