﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Loans
@model LoansViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="LoansInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("DisplayName") :</h6>
            <div class="col-6 col-form-label">
                @Model.Loans.DisplayName
            </div>
            <h6 class="col-6 col-form-label">@L("Description") :</h6>
            <div class="col-6 col-form-label">
                @Model.Loans.Description
            </div>
            <h6 class="col-6 col-form-label">@L("LoanType") :</h6>
            <div class="col-6 col-form-label">
                @Model.Loans.LoanType
            </div>
            <h6 class="col-6 col-form-label">@L("Currency") :</h6>
            <div class="col-6 col-form-label">
                @Model.Loans.Currency
            </div>
            <h6 class="col-6 col-form-label">@L("RefCode") :</h6>
            <div class="col-6 col-form-label">
                @Model.Loans.RefCode
            </div>
            <h6 class="col-6 col-form-label">@L("AcctCode") :</h6>
            <div class="col-6 col-form-label">
                @Model.Loans.AcctCode
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")