﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.Loans
@using MMB.ePay.Web.Areas.App.Startup
@model LoansViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.Loans;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/Loans/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("Loans")">
        @if (IsGranted(AppPermissions.Pages_Loans_Create))
        {
        <button id="CreateNewLoansButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewLoans")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="LoansTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("DisplayName")</th>
                                <th>@L("Description")</th>
                                <th>@L("LoanType")</th>
                                <th>@L("Currency")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>