﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EmploymentTypes
@model CreateOrEditEmploymentTypesModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEmploymentTypes")) : L("CreateNewEmploymentTypes")))

<div class="modal-body">
    <div id="EmploymentTypesInformationsTab">
        <form name="EmploymentTypesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.EmploymentTypes.Id" />            
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EmploymentTypes_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control" id="EmploymentTypes_Description" value="@Model.EmploymentTypes.Description" type="text" name="description" required maxlength="@MMB.ePay.HR.EmploymentTypesConsts.MaxDescriptionLength" minlength="@MMB.ePay.HR.EmploymentTypesConsts.MinDescriptionLength" />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")