﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.DeductionTypes
@model CreateOrEditDeductionTypesModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditDeductionTypes")) : L("CreateNewDeductionTypes")))

<div class="modal-body">
    <div id="DeductionTypesInformationsTab">
        <form name="DeductionTypesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.DeductionTypes.Id" />
                <input type="hidden" name="displayName" value="@Model.DeductionTypes.DisplayName" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="DeductionTypes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control" value="@Model.DeductionTypes.DisplayName" type="text" disabled />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="DeductionTypes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control" id="DeductionTypes_DisplayName" value="@Model.DeductionTypes.DisplayName" type="text" name="displayName"
                               required maxlength="@MMB.ePay.Payroll.DeductionTypesConsts.MaxDisplayNameLength" minlength="@MMB.ePay.Payroll.DeductionTypesConsts.MinDisplayNameLength" />
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionTypes_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control" id="DeductionTypes_Description" value="@Model.DeductionTypes.Description" type="text" name="description"
                           required maxlength="@MMB.ePay.Payroll.DeductionTypesConsts.MaxDescriptionLength" minlength="@MMB.ePay.Payroll.DeductionTypesConsts.MinDescriptionLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="DeductionTypes_Currency">@L("Currency")</label>
                <div class="col-9">
                    <select class="form-control" id="DeductionTypes_Currency" name="currency" asp-for="DeductionTypes.Currency" asp-items="Model.CurrencyList"></select>
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")