﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.DeductionTypes
@using MMB.ePay.Web.Areas.App.Startup
@model DeductionTypesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.DeductionTypes;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/DeductionTypes/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("DeductionTypes")">
        @if (IsGranted(AppPermissions.Pages_DeductionTypes_Create))
        {
        <button id="CreateNewDeductionTypesButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewDeductionTypes")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="DeductionTypesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("DisplayName")</th>
                                <th>@L("Description")</th>
                                <th>@L("Currency")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>