﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ProratedEarnings
@model CreateOrEditProratedEarningsModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditProratedEarnings")) : L("CreateNewProratedEarnings")))

<div class="modal-body">
    <div id="ProratedEarningsInformationsTab">
        <form name="ProratedEarningsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.ProratedEarnings.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ProratedEarnings_EarningTypeId">@L("EarningType")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="ProratedEarnings.EarningTypeId" id="ProratedEarnings_EarningTypeId" name="earningTypeId" asp-items="Model.EarningTypeList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">@L("ProrateEarningBasedOn")</label>
                <div class="radio-inline col-9">
                    <label class="radio ">
                        <input class="form-control" type="radio" value="T" name="ProratedEarnings_BasedOn" id="ProratedEarnings_BasedOnTimesheet">
                        <span></span>
                        Timesheet
                    </label>
                    <label class="radio radio">
                        <input class="form-control" type="radio" value="O" name="ProratedEarnings_BasedOn" id="ProratedEarnings_BasedOnOvertime">
                        <span></span>
                        Overtime
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ProratedEarnings_InTimesheetTypeId">@L("InTimesheetType")</label>
                <div class="col-9">
                    <select disabled class="form-control" asp-for="ProratedEarnings.InTimesheetTypeId" id="ProratedEarnings_InTimesheetTypeId" name="inTimesheetTypeId" asp-items="Model.TimesheetTypeList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ProratedEarnings_InOvertimeTypeId">@L("InOvertimeType")</label>
                <div class="col-9">
                    <select disabled class="form-control" asp-for="ProratedEarnings.InOvertimeTypeId" id="ProratedEarnings_InOvertimeTypeId" name="inOvertimeTypeId" asp-items="Model.OvertimeTypeList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ProratedEarnings_OutEarningTypeId">@L("OutEarningType")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="ProratedEarnings.OutEarningTypeId" id="ProratedEarnings_OutEarningTypeId" name="outEarningTypeId" asp-items="Model.OutEarningTypeList"></select>
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")