﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ProratedEarnings
@model ProratedEarningsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ProratedEarningsInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("EarningType") :</h6>
            <div class="col-6 col-form-label">
                @Model.ProratedEarnings.EarningType
            </div>
            <h6 class="col-6 col-form-label">@L("InTimesheet") :</h6>
            <div class="col-6 col-form-label">
                @Model.ProratedEarnings.InTimesheet
            </div>
            <h6 class="col-6 col-form-label">@L("InOvertimeType") :</h6>
            <div class="col-6 col-form-label">
                @Model.ProratedEarnings.InOvertimeType
            </div>
            <h6 class="col-6 col-form-label">@L("OutEarningType") :</h6>
            <div class="col-6 col-form-label">
                @Model.ProratedEarnings.OutEarningType
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")