﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.ProratedEarnings
@using MMB.ePay.Web.Areas.App.Startup
@model ProratedEarningsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.ProratedEarnings;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/ProratedEarnings/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("ProratedEarnings")">
        @if (IsGranted(AppPermissions.Pages_ProratedEarnings_Create))
        {
        <button id="CreateNewProratedEarningsButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewProratedEarnings")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="ProratedEarningsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("EarningType")</th>
                                <th>@L("InTimesheetType")</th>
                                <th>@L("InOvertimeType")</th>
                                <th>@L("OutEarningType")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>