﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.TimesheetTmp
@model CreateOrEditTimesheetTmpModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditTimesheetTmp")) : L("CreateNewTimesheetTmp")))

<div class="modal-body">
    <div id="TimesheetTmpInformationsTab">
        <form name="TimesheetTmpInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.TimesheetTmp.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetTmp_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetTmp_PayrollNo" value="@Model.TimesheetTmp.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetTmp_CostCenter">@L("CostCenter")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetTmp_CostCenter" value="@Model.TimesheetTmp.CostCenter?.ToString(CultureInfo.InvariantCulture)" type="number" name="costCenter" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetTmp_Days">@L("Days")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetTmp_Days" value="@Model.TimesheetTmp.Days.ToString(CultureInfo.InvariantCulture)" type="number" name="days" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetTmp_Hrs">@L("Hrs")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetTmp_Hrs" value="@Model.TimesheetTmp.Hrs.ToString(CultureInfo.InvariantCulture)" type="number" name="hrs" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetTmp_Mins">@L("Mins")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetTmp_Mins" value="@Model.TimesheetTmp.Mins.ToString(CultureInfo.InvariantCulture)" type="number" name="mins" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetTmp_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetTmp_Amount" value="@Model.TimesheetTmp.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetTmp_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetTmp_EmployeeId" value="@Model.TimesheetTmp.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetTmp_TimesheetTypeId">@L("TimesheetTypeId")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetTmp_TimesheetTypeId" value="@Model.TimesheetTmp.TimesheetTypeId.ToString(CultureInfo.InvariantCulture)" type="number" name="timesheetTypeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TimesheetTmp_SessionId">@L("SessionId")</label>
                <div class="col-9">
                    <input class="form-control" id="TimesheetTmp_SessionId" value="@Model.TimesheetTmp.SessionId" type="text" name="sessionId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")