﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.TimesheetTmp
@model TimesheetTmpViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="TimesheetTmpInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.TimesheetTmp.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("CostCenter") :</h6>
                @Model.TimesheetTmp.CostCenter
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Days") :</h6>
                @Model.TimesheetTmp.Days
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Hrs") :</h6>
                @Model.TimesheetTmp.Hrs
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Mins") :</h6>
                @Model.TimesheetTmp.Mins
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.TimesheetTmp.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.TimesheetTmp.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TimesheetTypeId") :</h6>
                @Model.TimesheetTmp.TimesheetTypeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("SessionId") :</h6>
                @Model.TimesheetTmp.SessionId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")