﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForAlphalist

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        .noborder {
            border: 0;
        }

        .center {
            text-align: center !important;
            vertical-align: middle;
        }

        .bold {
            font-weight: bold;
        }

        hr {
            height: 1px;
            background-color: black;
            border: none;
        }

        td, th {
            border: 1px solid black;
            overflow: hidden;
            padding: 5px 10px 5px 10px;
            font-size: 9px;
            text-align: center;
            vertical-align: middle;
            font-weight: normal;
        }

        td {
            text-align: right;
            font-size: 8px;
            padding: 0;
        }

        #header {
            font-weight: bold;
            font-size: 12px;
        }

        #footer {
            margin-top: 5px;
            font-size: 9px;
            font-weight: bold;
            text-align: right;
        }

        #head-count {
            border: 1px solid black;
            height: 39px;
            width: 215px;
            text-align: left;
            vertical-align: middle;
            float: left;
        }

        #top-footer {
            float: left;
            border: 1px solid black;
            border-width: 1px 0 1px 0;
        }

        #bottom-footer {
            float: left;
            border-bottom: 1px solid black;
            float: left;
        }

            #top-footer div, #bottom-footer div {
                height: 20px;
                float: left;
                border-right: 1px solid black;
                height: 18px;
                text-align: right;
            }
    </style>
</head>

<body>
    @{
        //decimal rowCount = Model.SSSR3.Count;
        decimal rowCount = 100;
        int maxPageCount = 23;
        decimal loopCount = Math.Ceiling(rowCount / maxPageCount);
    }

    @for (var i = 0; i < loopCount; i++)
    {
        <div id="header">
            ABC
        </div>
        <div id="body">
            <table>
                <thead>
                    <tr>
                        <th class="bold" colspan="24">ALPHALIST OF EMPLOYEES AS OF DECEMBER 31 WITH NO PREVIOUS EMPLOYER WITHIN THE YEAR</th>
                    </tr>
                    <tr>
                        <th rowspan="2">
                            SEQ <br />
                            NO
                        </th>
                        <th rowspan="2">
                            Taxpayer <br />
                            ID <br />
                            NUMBER
                        </th>
                        <th colspan="3">
                            Name of Employees
                        </th>
                        <th rowspan="2">
                            Gross <br />
                            Compen- <br />
                            sation <br />
                            Income
                        </th>
                        <th colspan="5">
                            NON-TAXABLE
                        </th>
                        <th colspan="4">
                            TAXABLE
                        </th>
                        <th colspan="2">
                            EXEMPTION
                        </th>
                        <th rowspan="2">
                            Premium <br />
                            Paid <br />
                            on Health <br />
                            and/or <br />
                            Hosp <br />
                            Insurance
                        </th>
                        <th rowspan="2">
                            Net <br />
                            Taxable <br />
                            Compen- <br />
                            sation <br />
                            Income
                        </th>
                        <th rowspan="2">
                            TAX DUE <br />
                            (JAN-DEC)
                        </th>
                        <th rowspan="2">
                            TAX <br />
                            WITHHELD <br />
                            (JAN-NOV)
                        </th>
                        <th colspan="2">
                            YEAR-END <br />
                            ADJUSTMENT
                        </th>
                        <th rowspan="2">
                            AMOUNT OF <br />
                            TAX <br />
                            WITHHELD AS <br />
                            ADJUSTED
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Last <br />
                            Name
                        </th>
                        <th>
                            First <br />
                            Name
                        </th>
                        <th>
                            Middle <br />
                            Name
                        </th>
                        <th>
                            13th Mo <br />
                            Pay <br />
                            & Other <br />
                            Benefits
                        </th>
                        <th>
                            De <br />
                            Minimis <br />
                            Benefits
                        </th>
                        <th>
                            SSS GSIS <br />
                            PHIC <br />
                            Pagibig Cont <br />
                            & Union
                        </th>
                        <th>
                            Salaries & <br />
                            Other Forms <br />
                            of Compen- <br />
                            sation
                        </th>
                        <th>
                            Total Non- <br />
                            Tax/ Exempt <br />
                            Compen. <br />
                            Income
                        </th>
                        <th>
                            Basic <br />
                            Salary
                        </th>
                        <th>
                            13th Mo <br />
                            Pay <br />
                            & Other <br />
                            Benefits
                        </th>
                        <th>
                            Salaries & <br />
                            Other Forms <br />
                            of Compen- <br />
                            sation
                        </th>
                        <th>
                            Total <br />
                            Taxable <br />
                            Compen- <br />
                            sation <br />
                            Income
                        </th>
                        <th style="border-right: 0;">
                            Code
                        </th>
                        <th style="border-left: 0;">
                            Amount
                        </th>
                        <th>
                            Amount <br />
                            Withheld & <br />
                            Paid For in <br />
                            December
                        </th>
                        <th>
                            Over <br />
                            Withheld <br />
                            Tax <br />
                            Refunded to <br />
                            Employee
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (var j = 0; j < maxPageCount; j++)
                    {
                        var seqno = j + 1 + (i * maxPageCount);
                        var cell = (i * maxPageCount) + j;

                        if (cell < rowCount)
                        {
                            <tr>
                                <td style="text-align: left">@seqno</td>
                                <td style="text-align: left">@Model.Alphalist[0].TaxpayerIdNo</td>
                                <td style="text-align: left" colspan="3">@Model.Alphalist[0].NameOfEmployees</td>
                                <td>@Model.Alphalist[0].Gross</td>
                                <td>@Model.Alphalist[0].Ntx13thMonth</td>
                                <td>@Model.Alphalist[0].NtxDeminimis</td>
                                <td>@Model.Alphalist[0].NtxSSS</td>
                                <td>@Model.Alphalist[0].Salaries</td>
                                <td>@Model.Alphalist[0].NtxExempt</td>
                                <td>@Model.Alphalist[0].TxBasic</td>
                                <td>@Model.Alphalist[0].Tx13thMonth</td>
                                <td>@Model.Alphalist[0].TxSalaries</td>
                                <td>@Model.Alphalist[0].TxIncome</td>
                                <td>@Model.Alphalist[0].ExemptionCode</td>
                                <td>@Model.Alphalist[0].ExemptionAmount</td>
                                <td>@Model.Alphalist[0].Premium</td>
                                <td>@Model.Alphalist[0].NetTxIncome</td>
                                <td>@Model.Alphalist[0].TaxDue</td>
                                <td>@Model.Alphalist[0].TaxWithheld</td>
                                <td>@Model.Alphalist[0].WithheldAmount</td>
                                <td>@Model.Alphalist[0].OverWithheldTax</td>
                                <td>@Model.Alphalist[0].WithheldTax</td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
        </div>

        <div id="footer">
            <div id="head-count">
                Head Count : &nbsp; @rowCount
            </div>
            <div id="top-footer">
                <div style="width: 133px;">
                    0.00
                </div>
                <div style="width: 104px;">
                    637.50
                </div>
                <div style="width: 116px;">
                    10637.50
                </div>
                <div style="width: 98px;">
                    0.00
                </div>
                <div style="width: 118px;">
                    10451.04
                </div>
                <div style="width: 155px;">

                </div>
                <div style="width: 102px;">
                    0.00
                </div>
                <div style="width: 127px;">
                    0.00
                </div>
                <div style="width: 125px;">
                    6.81
                </div>
            </div>
            <div id="bottom-footer">
                <div style="width: 80px;">
                    21088.54
                </div>
                <div style="width: 106px;">
                    5000.00
                </div>
                <div style="width: 110px;">
                    5000.00
                </div>
                <div style="width: 102px;">
                    9362.50
                </div>
                <div style="width: 112px;">
                    1088.54
                </div>
                <div style="width: 155px;">
                    0.00
                </div>
                <div style="width: 119px;">
                    10451.04
                </div>
                <div style="width: 108px;">
                    6.81
                </div>
                <div style="width: 122px;">
                    0.00
                </div>
                <div style="width: 64px;">

                </div>
            </div>
        </div>

        <div style='page-break-after: always;'></div>
    }


</body>
</html>
