﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForAlphalistMWE1

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        .noborder {
            border: 0;
        }

        .center {
            text-align: center !important;
            vertical-align: middle;
        }

        .bold {
            font-weight: bold;
        }

        hr {
            height: 1px;
            background-color: black;
            border: none;
        }

        table {
            margin-bottom: 2px;
            width: 100%;
        }

        tr th {
            border: 1px solid black;
            overflow: hidden;
            font-size: 12px;
            text-align: center;
            vertical-align: middle;
            font-weight: normal;
        }

        tr td {
            border: 1px solid black;
            font-size: 11px;
            text-align: center;
            vertical-align: middle;
            text-align: left;
            font-size: 10px;
            padding: 0;
            min-height: 500px;
            padding-left: 5px;
            padding-right: 5px;
            white-space: nowrap;
        }

        #header {
            font-weight: bold;
            font-size: 21px;
            text-align: center;
        }
    </style>
</head>

<body>
    @{
        //decimal rowCount = Model.Alphalist.Count;
        decimal rowCount = 100;
        int maxPageCount = 30;
        decimal loopCount = Math.Ceiling(rowCount / maxPageCount);
    }

    @for (var i = 0; i < loopCount; i++)
    {
        <div id="header">
            ALPHABETICAL LIST OF EMPLOYEES/PAYEES FROM WHOM TAXES WERE WITHHELD
        </div>
        <div id="body">
            <table>
                <thead>
                    <tr>
                        <th class="bold" colspan="27">
                            Schedule 2 – Alphalist of Minimum Wage Earners (Declared and Certified using BIR Form No. 2316)
                        </th>
                    </tr>
                    <tr>
                        <th class="bold" colspan="27">
                            PRESENT EMPLOYER
                        </th>
                    </tr>

                    <tr>
                        <th rowspan="2">
                            Seq.<br />
                            No
                        </th>
                        <th colspan="3">
                            NAME OF EMPLOYEES
                        </th>
                        <th rowspan="2">
                            Current<br />
                            Employ<br />
                            ment<br />
                            Status<br />
                            *
                        </th>
                        <th rowspan="2">
                            Region<br />
                            No.<br />
                            Where<br />
                            Assigned
                        </th>
                        <th colspan="2">
                            PERIOD OF<br />
                            EMPLOYMENT
                        </th>
                        <th rowspan="2">
                            Reason<br />
                            of Sepa-<br />
                            ration,**<br />
                            if<br />
                            applicable
                        </th>
                        <th rowspan="2">
                            Gross<br />
                            Compen<br />
                            sation<br />
                            Income<br />
                            (present<br />
                            employer)
                        </th>
                        <th colspan="14">
                            NON-TAXABLE
                        </th>
                        <th colspan="3">
                            TAXABLE
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Last<br />
                            Name
                        </th>
                        <th>
                            First<br />
                            Name
                        </th>
                        <th>
                            Middle<br />
                            Name
                        </th>
                        <th>
                            From<br />
                            (MM/DD)
                        </th>
                        <th>
                            To<br />
                            (MM/DD)
                        </th>
                        <th>
                            Basic/<br />
                            SMW<br />
                            per<br />
                            Day
                        </th>
                        <th>
                            Basic/<br />
                            SMW<br />
                            per<br />
                            Month
                        </th>
                        <th>
                            Basic/<br />
                            SMW<br />
                            per<br />
                            Year
                        </th>
                        <th>
                            Factor<br />
                            Used<br />
                            (No. of<br />
                            Days/<br />
                            Yea
                        </th>
                        <th>
                            Basic/<br />
                            SMW<br />
                            (actual)<br />
                            (net of<br />
                            SSS,<br />
                            GSIS,<br />
                            PHIC,<br />
                            HDMF<br />
                            Contri-<br />
                            butions<br />
                            & Union<br />
                            Dues)
                        </th>
                        <th>
                            Holi<br />
                            day<br />
                            Pay<br />
                        </th>
                        <th>
                            Over<br />
                            time<br />
                            Pay<br />
                        </th>
                        <th>
                            Night<br />
                            Shift<br />
                            Diffe-<br />
                            rentia
                        </th>
                        <th>
                            Hazard<br />
                            Pay
                        </th>
                        <th>
                            13th<br />
                            Month<br />
                            Pay &<br />
                            Other<br />
                            Benefits
                        </th>
                        <th>
                            De<br />
                            Minimis<br />
                            Benefits
                        </th>
                        <th>
                            SSS,<br />
                            GSIS,<br />
                            PHIC,<br />
                            HDMF<br />
                            Contri-<br />
                            butions<br />
                            & Union<br />
                            Dues<br />
                            (employee<br />
                            share only
                        </th>
                        <th>
                            Salaries<br />
                            and<br />
                            Other<br />
                            Forms of<br />
                            Compen-<br />
                            sation
                        </th>
                        <th>
                            Total<br />
                            Non-<br />
                            Taxable/<br />
                            Exempt<br />
                            Compen-<br />
                            sation<br />
                            (present<br />
                            employer)
                        </th>
                        <th>
                            13th<br />
                            Month<br />
                            Pay &<br />
                            Other<br />
                            Benefits<br />
                            (In Excess<br />
                            of<br />
                            Threshold)
                        </th>
                        <th>
                            Salaries<br />
                            and<br />
                            Other<br />
                            Forms of<br />
                            Compen-<br />
                            sation
                        </th>
                        <th>
                            Total<br />
                            Taxable<br />
                            Compen-<br />
                            sation<br />
                            Income<br />
                            (present<br />
                            employer)
                        </th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>2a</th>
                        <th>2b</th>
                        <th>2c</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5a</th>
                        <th>5b</th>
                        <th>6</th>
                        <th>
                            7a=(7o+7r)
                        </th>
                        <th>7b</th>
                        <th>7c</th>
                        <th>7d</th>
                        <th>7e</th>
                        <th>7f</th>
                        <th>7g</th>
                        <th>7h</th>
                        <th>7i</th>
                        <th>7j</th>
                        <th>7k</th>
                        <th>7l</th>
                        <th>7m</th>
                        <th>7n</th>
                        <th>
                            7o = (sum of<br />
                            7f to 7n)
                        </th>
                        <th>7p</th>
                        <th>7q</th>
                        <th>
                            7r = (7p+7q)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (var j = 0; j < maxPageCount; j++)
                    {
                        var cell = (i * maxPageCount) + j;
                        var seqNo = cell + 1;

                        if (cell < rowCount)
                        {
                            <tr>
                                <td>@seqNo</td>
                                <td>@Model.Alphalist[0].LastName</td>
                                <td>@Model.Alphalist[0].FirstName</td>
                                <td>@Model.Alphalist[0].MiddleName</td>
                                <td>@Model.Alphalist[0].EmploymentStatus</td>
                                <td>@Model.Alphalist[0].RegionNo</td>
                                <td>@Model.Alphalist[0].EmploymentDateStart</td>
                                <td>@Model.Alphalist[0].EmploymentDateEnd</td>
                                <td>@Model.Alphalist[0].ReasonOfSeparation</td>
                                <td>@Model.Alphalist[0].GrossCompensationIncome</td>
                                <td>@Model.Alphalist[0].NtxBasicSMWPerDay</td>
                                <td>@Model.Alphalist[0].NtxBasicSMWPerMonth</td>
                                <td>@Model.Alphalist[0].NtxBasicSMWPerYear</td>
                                <td>@Model.Alphalist[0].NtxFactorUsed</td>
                                <td>@Model.Alphalist[0].NtxActualBasicSMW</td>
                                <td>@Model.Alphalist[0].NtxHolidayPay</td>
                                <td>@Model.Alphalist[0].NtxOvertimePay</td>
                                <td>@Model.Alphalist[0].NtxNightShift</td>
                                <td>@Model.Alphalist[0].NtxHazardPay</td>
                                <td>@Model.Alphalist[0].NtxOtherBenefits</td>
                                <td>@Model.Alphalist[0].NtxDeMinimisBenefits</td>
                                <td>@Model.Alphalist[0].NtxUnionDues</td>
                                <td>@Model.Alphalist[0].NtxOtherCompensation</td>
                                <td>@Model.Alphalist[0].NtxTotalCompensation</td>
                                <td>@Model.Alphalist[0].TxOtherBenefits</td>
                                <td>@Model.Alphalist[0].TxOtherCompensation</td>
                                <td>@Model.Alphalist[0].TxTotalCompensation</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div style='page-break-after: always;'></div>
    }

</body>
</html>
