﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForAlphalist

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        .noborder {
            border: 0;
        }

        .center {
            text-align: center !important;
            vertical-align: middle;
        }

        .bold {
            font-weight: bold;
        }

        hr {
            height: 1px;
            background-color: black;
            border: none;
        }

        table {
            margin-bottom: 2px;
            width: 100%;
        }

        tr th {
            border: 1px solid black;
            overflow: hidden;
            /*padding: 5px 10px 5px 10px;*/
            font-size: 12px;
            text-align: center;
            vertical-align: middle;
            font-weight: normal;
        }

        tr td {
            border: 1px solid black;
            font-size: 11px;
            text-align: center;
            vertical-align: middle;
            text-align: left;
            font-size: 10px;
            padding: 0;
            min-height: 500px;
        }

        #header {
            font-weight: bold;
            font-size: 21px;
            text-align: center;
        }

        /*        #footer {
            margin-top: 5px;
            font-size: 9px;
            font-weight: bold;
            text-align: right;
        }

        #head-count {
            border: 1px solid black;
            height: 39px;
            width: 215px;
            text-align: left;
            vertical-align: middle;
            float: left;
        }

        #top-footer {
            float: left;
            border: 1px solid black;
            border-width: 1px 0 1px 0;
        }

        #bottom-footer {
            float: left;
            border-bottom: 1px solid black;
            float: left;
        }

            #top-footer div, #bottom-footer div {
                height: 20px;
                float: left;
                border-right: 1px solid black;
                height: 18px;
                text-align: right;
            }*/
    </style>
</head>

<body>
    @{
        //decimal rowCount = Model.SSSR3.Count;
        decimal rowCount = 100;
        int maxPageCount = 23;
        decimal loopCount = Math.Ceiling(rowCount / maxPageCount);
    }

    @for (var i = 0; i < loopCount; i++)
    {
        <div id="header">
            ALPHABETICAL LIST OF EMPLOYEES/PAYEES FROM WHOM TAXES WERE WITHHELD
        </div>
        <div id="body">
            <table>
                <thead>
                    <tr>
                        <th class="bold" colspan="19">
                            Schedule 1 – Alphalist of Employees (Declared and Certified using BIR Form No. 2316)
                        </th>
                    </tr>
                    <tr>
                        <th class="bold" colspan="19">
                            PRESENT EMPLOYER
                        </th>
                    </tr>

                    <tr>
                        <th rowspan="2">
                            Seq.<br />
                            No
                        </th>
                        <th colspan="3">
                            NAME OF EMPLOYEES
                        </th>
                        <th rowspan="2">
                            Nationality/<br />
                            Resident<br />
                            (for<br />
                            foreigners<br />
                            only)
                        </th>
                        <th rowspan="2">
                            Current<br />
                            Employ-<br />
                            ment<br />
                            Status*
                        </th>
                        <th colspan="2">
                            PERIOD OF<br />
                            EMPLOYMENT
                        </th>
                        <th rowspan="2">
                            Reason of<br />
                            Separation,**<br />
                            if applicable
                        </th>
                        <th rowspan="2">
                            Gross<br />
                            Compensa-<br />
                            tion Income<br />
                            (present<br />
                            employer)
                        </th>
                        <th colspan="5">
                            NON-TAXABLE/EXEMPT
                        </th>
                        <th colspan="4">
                            TAXABLE
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Last<br />
                            Name
                        </th>
                        <th>
                            First<br />
                            Name
                        </th>
                        <th>
                            Middle<br />
                            Name
                        </th>
                        <th>
                            From<br />
                            (MM/DD)
                        </th>
                        <th>
                            To<br />
                            (MM/DD)
                        </th>
                        <th>
                            13th Month<br />
                            Pay &<br />
                            Other<br />
                            Benefits
                        </th>
                        <th>
                            De<br />
                            Minimis<br />
                            Benefits
                        </th>
                        <th>
                            SSS, GSIS,<br />
                            PHIC, HDMF<br />
                            Contributions<br />
                            and Union<br />
                            Dues<br />
                            (employee share<br />
                            only)
                        </th>
                        <th>
                            Salaries<br />
                            (P250,000 &<br />
                            below) & Other<br />
                            Forms of<br />
                            Compensation
                        </th>
                        <th>
                            Total Non-<br />
                            Taxable/<br />
                            Exempt<br />
                            Compensation<br />
                            Income<br />
                            (present employer)
                        </th>
                        <th>
                            Basic Salary<br />
                            (net of SSS,<br />
                            GSIS, PHIC,<br />
                            HDMF<br />
                            Contributions &<br />
                            Union Dues)
                        </th>
                        <th>
                            13th<br />
                            Month<br />
                            Pay &<br />
                            Other<br />
                            Benefits<br />
                            (In Excess of<br />
                            Threshold)
                        </th>
                        <th>
                            Salaries and<br />
                            Other Forms<br />
                            of Compen-<br />
                            sation
                        </th>
                        <th>
                            Total<br />
                            Taxable<br />
                            Compen-<br />
                            sation<br />
                            Income<br />
                            (present<br />
                            employer)
                        </th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>2a</th>
                        <th>2b</th>
                        <th>2c</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5a</th>
                        <th>5b</th>
                        <th>6</th>
                        <th>
                            7a = (7f +<br />
                            7j)
                        </th>
                        <th>7b</th>
                        <th>7c</th>
                        <th>7d</th>
                        <th>7e</th>
                        <th>
                            7f = (7b+7c+7d+7e)
                        </th>
                        <th>7g</th>
                        <th>7h</th>
                        <th>7i</th>
                        <th>
                            7j = (7g+7h+7i)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bold" colspan="9">
                            TOTALS
                        </td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <th class="bold" colspan="15">
                            Schedule 1 (continuation)
                        </th>
                    </tr>
                    <tr>
                        <th class="bold" colspan="15">
                            PREVIOUS EMPLOYER
                        </th>
                    </tr>
                    <tr>
                        <th rowspan="2">
                            TIN<br />
                            (Previous<br />
                            Employer)
                        </th>
                        <th rowspan="2">
                            Employment<br />
                            Status*
                        </th>
                        <th colspan="2">
                            Period of Employment
                        </th>
                        <th rowspan="2">
                            Reason of<br />
                            Separation,**<br />
                            if applicable
                        </th>
                        <th rowspan="2">
                            Gross<br />
                            Compensation<br />
                            Income<br />
                            (previous<br />
                            employer)
                        </th>
                        <th colspan="5">
                            NON-TAXABLE
                        </th>
                        <th colspan="4">
                            TAXABLE
                        </th>
                    </tr>
                    <tr>
                        <th>
                            From<br />
                            (MM/DD)
                        </th>
                        <th>
                            To<br />
                            (MM/DD)
                        </th>
                        <th>
                            Basic/SMW<br />
                            (actual)<br />
                            (net of SSS, GSIS,<br />
                            PHIC, HDMF<br />
                            Contributions<br />
                            & Union Dues)
                        </th>
                        <th>
                            De<br />
                            Minimis<br />
                            Benefits
                        </th>
                        <th>
                            SSS, GSIS,<br />
                            PHIC, HDMF<br />
                            Contributions<br />
                            & Union Dues<br />
                            (employee<br />
                            share only)
                        </th>
                        <th>
                            Salaries<br />
                            (P250,000 and<br />
                            below) and<br />
                            Other Forms of<br />
                            Compensation
                        </th>
                        <th>
                            Total Non-<br />
                            Taxable/Exempt<br />
                            Compensation<br />
                            Income<br />
                            (previous employer)
                        </th>
                        <th>
                            Basic Salary<br />
                            (net of SSS,<br />
                            GSIS, PHIC,<br />
                            HDMF<br />
                            Contributions<br />
                            & Union Dues)
                        </th>
                        <th>
                            13th Month<br />
                            Pay & Other<br />
                            Benefits
                        </th>
                        <th>
                            Salaries<br />
                            and Other<br />
                            Forms of<br />
                            Compensation
                        </th>
                        <th>
                            Total Taxable<br />
                            Compensation<br />
                            Income<br />
                            (previous<br />
                            employer)
                        </th>
                    </tr>
                    <tr>
                        <th>8</th>
                        <th>9</th>
                        <th>10a</th>
                        <th>10b</th>
                        <th>11</th>
                        <th>
                            12a = (12F + 12j)
                        </th>
                        <th>12b</th>
                        <th>12c</th>
                        <th>12d</th>
                        <th>12e</th>
                        <th>
                            12f=(12b+12c+12d+12e)
                        </th>
                        <th>12g</th>
                        <th>12h</th>
                        <th>12i</th>
                        <th>
                            12j = (12g+12h+12i)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bold" colspan="5">
                            TOTALS
                        </td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <th class="bold" colspan="15">
                            Schedule 1 (continuation)
                        </th>
                    </tr>
                    <tr>
                        <th rowspan="2">
                            Total Taxable<br />
                            Compensation Income<br />
                            (Present & Previous<br />
                            Employer)
                        </th>
                        <th rowspan="2">
                            Tax Due<br />
                            (January to<br />
                            December)
                        </th>
                        <th colspan="2">
                            Tax Withheld<br />
                            (January to November)
                        </th>
                        <th rowspan="2">
                            5% Tax Credit<br />
                            (PERA Act of<br />
                            2008)
                        </th>
                        <th colspan="2">
                            Year-End Adjustment (17a or 17b)
                        </th>
                        <th rowspan="2">
                            AMOUNT OF TAX WITHHELD AS ADJUSTED<br />
                            (To be reflected in BIR Form No. 2316 issued by the present<br />
                            employer)
                        </th>
                        <th rowspan="2">
                            Substituted<br />
                            Filing?***<br />
                            Yes/No
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Previous
                            Employer
                        </th>
                        <th>
                            Present
                            Employer
                        </th>
                        <th>
                            Amount Withheld and Paid for<br />
                            in December or Last Salary
                        </th>
                        <th>
                            Over Withheld Tax<br />
                            Refunded to Employee
                        </th>
                    </tr>
                    <tr>
                        <th>
                            13 = (7j + 12j)
                        </th>
                        <th>14</th>
                        <th>15a</th>
                        <th>15b</th>
                        <th>16</th>
                        <th>
                            17a = 14 - (15a + 15b) - 16
                        </th>
                        <th>
                            17b = (15a + 15b + 16) - 14
                        </th>
                        <th>
                            18 = (15a + 15b + 16 + 17a) OR (15a + 15b + 16 - 17b)
                        </th>
                        <th>19</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style='page-break-after: always;'></div>





































        <div id="header">
            ALPHABETICAL LIST OF EMPLOYEES/PAYEES FROM WHOM TAXES WERE WITHHELD
        </div>
        <div id="body">
            <table>
                <thead>
                    <tr>
                        <th class="bold" colspan="27">
                            Schedule 2 – Alphalist of Minimum Wage Earners (Declared and Certified using BIR Form No. 2316)
                        </th>
                    </tr>
                    <tr>
                        <th class="bold" colspan="27">
                            PRESENT EMPLOYER
                        </th>
                    </tr>

                    <tr>
                        <th rowspan="2">
                            Seq.<br />
                            No
                        </th>
                        <th colspan="3">
                            NAME OF EMPLOYEES
                        </th>
                        <th rowspan="2">
                            Current<br />
                            Employ<br />
                            ment<br />
                            Status<br />
                            *
                        </th>
                        <th rowspan="2">
                            Region<br />
                            No.<br />
                            Where<br />
                            Assigned
                        </th>
                        <th colspan="2">
                            PERIOD OF<br />
                            EMPLOYMENT
                        </th>
                        <th rowspan="2">
                            Reason<br />
                            of Sepa-<br />
                            ration,**<br />
                            if<br />
                            applicable
                        </th>
                        <th rowspan="2">
                            Gross<br />
                            Compen<br />
                            sation<br />
                            Income<br />
                            (present<br />
                            employer)
                        </th>
                        <th colspan="14">
                            NON-TAXABLE
                        </th>
                        <th colspan="3">
                            TAXABLE
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Last<br />
                            Name
                        </th>
                        <th>
                            First<br />
                            Name
                        </th>
                        <th>
                            Middle<br />
                            Name
                        </th>
                        <th>
                            From<br />
                            (MM/DD)
                        </th>
                        <th>
                            To<br />
                            (MM/DD)
                        </th>
                        <th>
                            Basic/<br />
                            SMW<br />
                            per<br />
                            Day
                        </th>
                        <th>
                            Basic/<br />
                            SMW<br />
                            per<br />
                            Month
                        </th>
                        <th>
                            Basic/<br />
                            SMW<br />
                            per<br />
                            Year
                        </th>
                        <th>
                            Factor<br />
                            Used<br />
                            (No. of<br />
                            Days/<br />
                            Yea
                        </th>
                        <th>
                            Basic/<br />
                            SMW<br />
                            (actual)<br />
                            (net of<br />
                            SSS,<br />
                            GSIS,<br />
                            PHIC,<br />
                            HDMF<br />
                            Contri-<br />
                            butions<br />
                            & Union<br />
                            Dues)
                        </th>
                        <th>
                            Holi<br />
                            day<br />
                            Pay<br />
                        </th>
                        <th>
                            Over<br />
                            time<br />
                            Pay<br />
                        </th>
                        <th>
                            Night<br />
                            Shift<br />
                            Diffe-<br />
                            rentia
                        </th>
                        <th>
                            Hazard<br />
                            Pay
                        </th>
                        <th>
                            13th<br />
                            Month<br />
                            Pay &<br />
                            Other<br />
                            Benefits
                        </th>
                        <th>
                            De<br />
                            Minimis<br />
                            Benefits
                        </th>
                        <th>
                            SSS,<br />
                            GSIS,<br />
                            PHIC,<br />
                            HDMF<br />
                            Contri-<br />
                            butions<br />
                            & Union<br />
                            Dues<br />
                            (employee<br />
                            share only
                        </th>
                        <th>
                            Salaries<br />
                            and<br />
                            Other<br />
                            Forms of<br />
                            Compen-<br />
                            sation
                        </th>
                        <th>
                            Total<br />
                            Non-<br />
                            Taxable/<br />
                            Exempt<br />
                            Compen-<br />
                            sation<br />
                            (present<br />
                            employer)
                        </th>
                        <th>
                            13th<br />
                            Month<br />
                            Pay &<br />
                            Other<br />
                            Benefits<br />
                            (In Excess<br />
                            of<br />
                            Threshold)
                        </th>
                        <th>
                            Salaries<br />
                            and<br />
                            Other<br />
                            Forms of<br />
                            Compen-<br />
                            sation
                        </th>
                        <th>
                            Total<br />
                            Taxable<br />
                            Compen-<br />
                            sation<br />
                            Income<br />
                            (present<br />
                            employer)
                        </th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>2a</th>
                        <th>2b</th>
                        <th>2c</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5a</th>
                        <th>5b</th>
                        <th>6</th>
                        <th>
                            7a=(7o+7r)
                        </th>
                        <th>7b</th>
                        <th>7c</th>
                        <th>7d</th>
                        <th>7e</th>
                        <th>7f</th>
                        <th>7g</th>
                        <th>7h</th>
                        <th>7i</th>
                        <th>7j</th>
                        <th>7k</th>
                        <th>7l</th>
                        <th>7m</th>
                        <th>7n</th>
                        <th>
                            7o = (sum of<br />
                            7f to 7n)
                        </th>
                        <th>7p</th>
                        <th>7q</th>
                        <th>
                            7r = (7p+7q)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bold" colspan="9">
                            TOTALS
                        </td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <th class="bold" colspan="19">
                            Schedule 2 (continuation)
                        </th>
                    </tr>
                    <tr>
                        <th class="bold" colspan="19">
                            PREVIOUS EMPLOYER
                        </th>
                    </tr>
                    <tr>
                        <th rowspan="2">
                            TIN<br />
                            (Previous<br />
                            Employer)
                        </th>
                        <th rowspan="2">
                            Employment<br />
                            Status*
                        </th>
                        <th colspan="2">
                            Period of Employment
                        </th>
                        <th rowspan="2">
                            Reason of<br />
                            Separation,**<br />
                            if applicable
                        </th>
                        <th rowspan="2">
                            Gross<br />
                            Compensation<br />
                            Income<br />
                            (previous<br />
                            employer)
                        </th>
                        <th colspan="5">
                            NON-TAXABLE
                        </th>
                        <th colspan="4">
                            TAXABLE
                        </th>
                    </tr>
                    <tr>
                        <th>
                            From<br />
                            (MM/DD)
                        </th>
                        <th>
                            To<br />
                            (MM/DD)
                        </th>
                        <th>
                            Basic/SMW<br />
                            (actual)<br />
                            (net of SSS, GSIS,<br />
                            PHIC, HDMF<br />
                            Contributions<br />
                            & Union Dues)
                        </th>
                        <th>
                            Holiday<br />
                            Pay
                        </th>
                        <th>
                            Overtime<br />
                            Pay
                        </th>
                        <th>
                            Night Shift<br />
                            Differential
                        </th>
                        <th>
                            Hazard<br />
                            Pay
                        </th>
                        <th>
                            13th<br />
                            Month<br />
                            Pay &<br />
                            Other<br />
                            Benefits
                        </th>
                        <th>
                            De<br />
                            Minimis<br />
                            Benefits<br />
                        </th>
                        <th>
                            SSS, GSIS, PHIC,<br />
                            HDMF Contributions<br />
                            & Union Dues<br />
                            (employee share only)
                        </th>
                        <th>
                            Salaries and<br />
                            Other Forms of<br />
                            Compensation
                        </th>
                        <th>
                            Total Non-<br />
                            Taxable/<br />
                            Exempt<br />
                            Compensation<br />
                            (previous employer)
                        </th>
                        <th>
                            13th Month<br />
                            Pay & Other<br />
                            Benefits
                        </th>
                        <th>
                            Salaries and<br />
                            Other Forms of<br />
                            Compensation
                        </th>
                        <th>
                            Total Taxable<br />
                            Compensation<br />
                            (previous employer)
                        </th>
                    </tr>
                    <tr>
                        <th>8</th>
                        <th>9</th>
                        <th>10a</th>
                        <th>10b</th>
                        <th>11</th>
                        <th>
                            12a = (12F + 12j)
                        </th>
                        <th>12b</th>
                        <th>12c</th>
                        <th>12d</th>
                        <th>12e</th>
                        <th>12f</th>
                        <th>12g</th>
                        <th>12h</th>
                        <th>12i</th>
                        <th>12j</th>
                        <th>
                            12k = (sum of 12b to<br />
                            12j)
                        </th>
                        <th>12l</th>
                        <th>12m</th>
                        <th>
                            12n = (12l + 12m)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bold" colspan="5">
                            TOTALS
                        </td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <th class="bold" colspan="19">
                            Schedule 2 (continuation)
                        </th>
                    </tr>

                    <tr>
                        <th rowspan="2">
                            Total Taxable<br />
                            Compensation<br />
                            Income<br />
                            (Present & Previous<br />
                            Employer)
                        </th>
                        <th rowspan="2">
                            Tax Due<br />
                            (January to<br />
                            December)
                        </th>
                        <th colspan="2">
                            Tax Withheld<br />
                            (January to November)
                        </th>
                        <th rowspan="2">
                            5% Tax Credit<br />
                            (PERA Act of<br />
                            2008)
                        </th>
                        <th colspan="2">
                            Year-End Adjustment (17a or 17b)
                        </th>
                        <th rowspan="2">
                            AMOUNT OF TAX WITHHELD AS ADJUSTED<br />
                            (To be reflected in BIR Form No. 2316 issued by the present employer)
                        </th>
                        <th rowspan="2">
                            Substituted Filing?***<br />
                            Yes/No
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Previous<br />
                            Employer
                        </th>
                        <th>
                            Present<br />
                            Employer
                        </th>
                        <th>
                            Amount Withheld and Paid for in<br />
                            December or Last Salary
                        </th>
                        <th>
                            Over Withheld Tax Refunded<br />
                            to Employee
                        </th>
                    </tr>
                    <tr>
                        <th>13</th>
                        <th>14</th>
                        <th>15a</th>
                        <th>15b</th>
                        <th>16</th>
                        <th>
                            17a = 14 - (15a + 15b) - 16
                        </th>
                        <th>
                            17b = (15a + 15b + 16) - 14
                        </th>
                        <th>
                            18 = (15a + 15b + 16 + 17a) OR (15a + 15b + 16 – 17b)
                        </th>
                        <th>19</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="15px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style='page-break-after: always;'></div>
    }


</body>
</html>
