﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForAlphalistNonMWE2

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        .noborder {
            border: 0;
        }

        .center {
            text-align: center !important;
            vertical-align: middle;
        }

        .bold {
            font-weight: bold;
        }

        hr {
            height: 1px;
            background-color: black;
            border: none;
        }

        table {
            margin-bottom: 2px;
            width: 100%;
        }

        tr th {
            border: 1px solid black;
            overflow: hidden;
            font-size: 12px;
            text-align: center;
            vertical-align: middle;
            font-weight: normal;
        }

        tr td {
            border: 1px solid black;
            font-size: 11px;
            text-align: center;
            vertical-align: middle;
            text-align: left;
            font-size: 10px;
            padding: 0;
            min-height: 500px;
            padding-left: 5px;
            padding-right: 5px;
            white-space: nowrap;
        }

        #header {
            font-weight: bold;
            font-size: 21px;
            text-align: center;
        }
    </style>
</head>

<body>
    @{
        //decimal rowCount = Model.Alphalist.Count;
        decimal rowCount = 100;
        int maxPageCount = 35;
        decimal loopCount = Math.Ceiling(rowCount / maxPageCount);
    }

    @for (var i = 0; i < loopCount; i++)
    {
        <div id="header">
            ALPHABETICAL LIST OF EMPLOYEES/PAYEES FROM WHOM TAXES WERE WITHHELD
        </div>
        <div id="body">
            <table>
                <thead>
                    <tr>
                        <th class="bold" colspan="17">
                            Schedule 1 (continuation)
                        </th>
                    </tr>
                    <tr>
                        <th class="bold" colspan="17">
                            PREVIOUS EMPLOYER
                        </th>
                    </tr>
                    <tr>
                        <th rowspan="2">
                            Seq.<br />
                            No
                        </th>
                        <th rowspan="2">
                            NAME OF EMPLOYEES
                        </th>
                        <th rowspan="2">
                            TIN<br />
                            (Previous<br />
                            Employer)
                        </th>
                        <th rowspan="2">
                            Employment<br />
                            Status*
                        </th>
                        <th colspan="2">
                            Period of Employment
                        </th>
                        <th rowspan="2">
                            Reason of<br />
                            Separation,**<br />
                            if applicable
                        </th>
                        <th rowspan="2">
                            Gross<br />
                            Compensation<br />
                            Income<br />
                            (previous<br />
                            employer)
                        </th>
                        <th colspan="5">
                            NON-TAXABLE
                        </th>
                        <th colspan="4">
                            TAXABLE
                        </th>
                    </tr>
                    <tr>
                        <th>
                            From<br />
                            (MM/DD)
                        </th>
                        <th>
                            To<br />
                            (MM/DD)
                        </th>
                        <th>
                            Basic/SMW<br />
                            (actual)<br />
                            (net of SSS, GSIS,<br />
                            PHIC, HDMF<br />
                            Contributions<br />
                            & Union Dues)
                        </th>
                        <th>
                            De<br />
                            Minimis<br />
                            Benefits
                        </th>
                        <th>
                            SSS, GSIS,<br />
                            PHIC, HDMF<br />
                            Contributions<br />
                            & Union Dues<br />
                            (employee<br />
                            share only)
                        </th>
                        <th>
                            Salaries<br />
                            (P250,000 and<br />
                            below) and<br />
                            Other Forms of<br />
                            Compensation
                        </th>
                        <th>
                            Total Non-<br />
                            Taxable/Exempt<br />
                            Compensation<br />
                            Income<br />
                            (previous employer)
                        </th>
                        <th>
                            Basic Salary<br />
                            (net of SSS,<br />
                            GSIS, PHIC,<br />
                            HDMF<br />
                            Contributions<br />
                            & Union Dues)
                        </th>
                        <th>
                            13th Month<br />
                            Pay & Other<br />
                            Benefits
                        </th>
                        <th>
                            Salaries<br />
                            and Other<br />
                            Forms of<br />
                            Compensation
                        </th>
                        <th>
                            Total Taxable<br />
                            Compensation<br />
                            Income<br />
                            (previous<br />
                            employer)
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>8</th>
                        <th>9</th>
                        <th>10a</th>
                        <th>10b</th>
                        <th>11</th>
                        <th>
                            12a = (12F + 12j)
                        </th>
                        <th>12b</th>
                        <th>12c</th>
                        <th>12d</th>
                        <th>12e</th>
                        <th>
                            12f=(12b+12c+12d+12e)
                        </th>
                        <th>12g</th>
                        <th>12h</th>
                        <th>12i</th>
                        <th>
                            12j = (12g+12h+12i)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (var j = 0; j < maxPageCount; j++)
                    {
                        var cell = (i * maxPageCount) + j;
                        var seqNo = cell + 1;

                        if (cell < rowCount)
                        {
                            <tr>
                                <td>@seqNo</td>
                                <td>@Model.Alphalist[0].NameOfEmployees</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div style='page-break-after: always;'></div>
    }

</body>
</html>
