﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForAlphalistNonMWE1

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        .noborder {
            border: 0;
        }

        .center {
            text-align: center !important;
            vertical-align: middle;
        }

        .bold {
            font-weight: bold;
        }

        hr {
            height: 1px;
            background-color: black;
            border: none;
        }

        table {
            margin-bottom: 2px;
            width: 100%;
        }

        tr th {
            border: 1px solid black;
            overflow: hidden;
            font-size: 12px;
            text-align: center;
            vertical-align: middle;
            font-weight: normal;
        }

        tr td {
            border: 1px solid black;
            font-size: 11px;
            text-align: center;
            vertical-align: middle;
            text-align: left;
            font-size: 10px;
            padding: 0;
            min-height: 500px;
            padding-left: 5px;
            padding-right: 5px;
            white-space: nowrap;
        }

        #header {
            font-weight: bold;
            font-size: 21px;
            text-align: center;
        }
    </style>
</head>

<body>
    @{
        //decimal rowCount = Model.Alphalist.Count;
        decimal rowCount = 100;
        int maxPageCount = 35;
        decimal loopCount = Math.Ceiling(rowCount / maxPageCount);
    }

    @for (var i = 0; i < loopCount; i++)
    {
        <div id="header">
            ALPHABETICAL LIST OF EMPLOYEES/PAYEES FROM WHOM TAXES WERE WITHHELD
        </div>
        <div id="body">
            <table>
                <thead>
                    <tr>
                        <th class="bold" colspan="19">
                            Schedule 1 – Alphalist of Employees (Declared and Certified using BIR Form No. 2316)
                        </th>
                    </tr>
                    <tr>
                        <th class="bold" colspan="19">
                            PRESENT EMPLOYER
                        </th>
                    </tr>
                    <tr>
                        <th rowspan="2">
                            Seq.<br />
                            No
                        </th>
                        <th colspan="3">
                            NAME OF EMPLOYEES
                        </th>
                        <th rowspan="2">
                            Nationality/<br />
                            Resident<br />
                            (for<br />
                            foreigners<br />
                            only)
                        </th>
                        <th rowspan="2">
                            Current<br />
                            Employ-<br />
                            ment<br />
                            Status*
                        </th>
                        <th colspan="2">
                            PERIOD OF<br />
                            EMPLOYMENT
                        </th>
                        <th rowspan="2">
                            Reason of<br />
                            Separation,**<br />
                            if applicable
                        </th>
                        <th rowspan="2">
                            Gross<br />
                            Compensa-<br />
                            tion Income<br />
                            (present<br />
                            employer)
                        </th>
                        <th colspan="5">
                            NON-TAXABLE/EXEMPT
                        </th>
                        <th colspan="4">
                            TAXABLE
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Last<br />
                            Name
                        </th>
                        <th>
                            First<br />
                            Name
                        </th>
                        <th>
                            Middle<br />
                            Name
                        </th>
                        <th>
                            From<br />
                            (MM/DD)
                        </th>
                        <th>
                            To<br />
                            (MM/DD)
                        </th>
                        <th>
                            13th Month<br />
                            Pay &<br />
                            Other<br />
                            Benefits
                        </th>
                        <th>
                            De<br />
                            Minimis<br />
                            Benefits
                        </th>
                        <th>
                            SSS, GSIS,<br />
                            PHIC, HDMF<br />
                            Contributions<br />
                            and Union<br />
                            Dues<br />
                            (employee share<br />
                            only)
                        </th>
                        <th>
                            Salaries<br />
                            (P250,000 &<br />
                            below) & Other<br />
                            Forms of<br />
                            Compensation
                        </th>
                        <th>
                            Total Non-<br />
                            Taxable/<br />
                            Exempt<br />
                            Compensation<br />
                            Income<br />
                            (present employer)
                        </th>
                        <th>
                            Basic Salary<br />
                            (net of SSS,<br />
                            GSIS, PHIC,<br />
                            HDMF<br />
                            Contributions &<br />
                            Union Dues)
                        </th>
                        <th>
                            13th<br />
                            Month<br />
                            Pay &<br />
                            Other<br />
                            Benefits<br />
                            (In Excess of<br />
                            Threshold)
                        </th>
                        <th>
                            Salaries and<br />
                            Other Forms<br />
                            of Compen-<br />
                            sation
                        </th>
                        <th>
                            Total<br />
                            Taxable<br />
                            Compen-<br />
                            sation<br />
                            Income<br />
                            (present<br />
                            employer)
                        </th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>2a</th>
                        <th>2b</th>
                        <th>2c</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5a</th>
                        <th>5b</th>
                        <th>6</th>
                        <th>
                            7a = (7f +<br />
                            7j)
                        </th>
                        <th>7b</th>
                        <th>7c</th>
                        <th>7d</th>
                        <th>7e</th>
                        <th>
                            7f = (7b+7c+7d+7e)
                        </th>
                        <th>7g</th>
                        <th>7h</th>
                        <th>7i</th>
                        <th>
                            7j = (7g+7h+7i)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (var j = 0; j < maxPageCount; j++)
                    {
                        var cell = (i * maxPageCount) + j;
                        var seqNo = cell + 1;

                        if (cell < rowCount)
                        {
                            <tr>
                                <td>@seqNo</td>
                                <td>@Model.Alphalist[0].LastName</td>
                                <td>@Model.Alphalist[0].FirstName</td>
                                <td>@Model.Alphalist[0].MiddleName</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div style='page-break-after: always;'></div>
    }

</body>
</html>
