﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForAlphalistMWE3

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        .noborder {
            border: 0;
        }

        .center {
            text-align: center !important;
            vertical-align: middle;
        }

        .bold {
            font-weight: bold;
        }

        hr {
            height: 1px;
            background-color: black;
            border: none;
        }

        table {
            margin-bottom: 2px;
            width: 100%;
        }

        tr th {
            border: 1px solid black;
            overflow: hidden;
            font-size: 12px;
            text-align: center;
            vertical-align: middle;
            font-weight: normal;
        }

        tr td {
            border: 1px solid black;
            font-size: 11px;
            text-align: center;
            vertical-align: middle;
            text-align: left;
            font-size: 10px;
            padding: 0;
            min-height: 500px;
            padding-left: 5px;
            padding-right: 5px;
            white-space: nowrap;
        }

        #header {
            font-weight: bold;
            font-size: 21px;
            text-align: center;
        }
    </style>
</head>

<body>
    @{
        //decimal rowCount = Model.Alphalist.Count;
        decimal rowCount = 100;
        int maxPageCount = 40;
        decimal loopCount = Math.Ceiling(rowCount / maxPageCount);
    }

    @for (var i = 0; i < loopCount; i++)
    {
        <div id="header">
            ALPHABETICAL LIST OF EMPLOYEES/PAYEES FROM WHOM TAXES WERE WITHHELD
        </div>
        <div id="body">
            <table>
                <thead>
                    <tr>
                        <th class="bold" colspan="19">
                            Schedule 2 (continuation)
                        </th>
                    </tr>
                    <tr>
                        <th rowspan="2">
                            Seq.<br />
                            No
                        </th>
                        <th rowspan="2">
                            NAME OF EMPLOYEES
                        </th>
                        <th rowspan="2">
                            Total Taxable<br />
                            Compensation<br />
                            Income<br />
                            (Present & Previous<br />
                            Employer)
                        </th>
                        <th rowspan="2">
                            Tax Due<br />
                            (January to<br />
                            December)
                        </th>
                        <th colspan="2">
                            Tax Withheld<br />
                            (January to November)
                        </th>
                        <th rowspan="2">
                            5% Tax Credit<br />
                            (PERA Act of<br />
                            2008)
                        </th>
                        <th colspan="2">
                            Year-End Adjustment (17a or 17b)
                        </th>
                        <th rowspan="2">
                            AMOUNT OF TAX WITHHELD AS ADJUSTED<br />
                            (To be reflected in BIR Form No. 2316 issued by the present employer)
                        </th>
                        <th rowspan="2">
                            Substituted Filing?***<br />
                            Yes/No
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Previous<br />
                            Employer
                        </th>
                        <th>
                            Present<br />
                            Employer
                        </th>
                        <th>
                            Amount Withheld and Paid for in<br />
                            December or Last Salary
                        </th>
                        <th>
                            Over Withheld Tax Refunded<br />
                            to Employee
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>13</th>
                        <th>14</th>
                        <th>15a</th>
                        <th>15b</th>
                        <th>16</th>
                        <th>
                            17a = 14 - (15a + 15b) - 16
                        </th>
                        <th>
                            17b = (15a + 15b + 16) - 14
                        </th>
                        <th>
                            18 = (15a + 15b + 16 + 17a) OR (15a + 15b + 16 – 17b)
                        </th>
                        <th>19</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var j = 0; j < maxPageCount; j++)
                    {
                        var cell = (i * maxPageCount) + j;
                        var seqNo = cell + 1;

                        if (cell < rowCount)
                        {
                            <tr>
                                <td>@seqNo</td>
                                <td>@Model.Alphalist[0].NameOfEmployees</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div style='page-break-after: always;'></div>
    }

</body>
</html>
