﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForBIR2316

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">

    <style>

        #header {
            width: 100%;
            height: 107px;
            font-size: 10px;
            font-family: Arial;
        }

            #header .header-box-1 {
                width: 130px;
                height: 100%;
                float: left;
            }

            #header .header-box-2 {
                width: 410px;
                height: 100%;
                float: left;
            }

            #header .header-box-3 {
                width: 200px;
                height: 100%;
                float: left;
            }

            #header #header-1 {
                float: left;
                height: 40px;
            }

                #header #header-1 .header-box-1 {
                    font-size: 10px;
                    padding-top: 18px;
                }

                #header #header-1 .header-box-2 {
                    font-size: 9px;
                    font-weight: bold;
                    line-height: 1.4;
                }

                #header #header-1 .header-box-3 {
                }

            #header #header-2 {
                float: left;
                height: 55px;
                border: 1px solid black;
            }

                #header #header-2 .header-box-1 {
                    text-align: center;
                    align-items: center;
                    vertical-align: middle;
                    line-height: 0.9;
                    padding-top: 3px;
                }

                #header #header-2 .header-box-2 {
                    border-left: 1px solid black;
                    border-right: 1px solid black;
                    text-align: center;
                    align-items: center;
                    vertical-align: middle;
                    line-height: 1.15;
                    font-weight: bold;
                    font-size: 19px;
                    padding-left: 60px;
                }

                #header #header-2 .header-box-3 {
                    line-height: 1;
                }

            #header #header-3 {
                font-size: 8px;
                float: left;
                padding: 0 0 1px 3px;
                height: 12px;
                width: 100%;
                border-left: 1px solid black;
                border-right: 1px solid black;
                border-bottom: 1px solid black;
                vertical-align: text-top;
            }


        #body {
            background-color: lightgray;
            height: 872px;
            font-size: 10px;
            font-family: Arial;
            border-left: 1px solid black;
            border-right: 1px solid black;
        }

            #body #body-left {
                width: 50%;
                height: 838px;
                /*background-color: lightgreen;*/
                float: left;
            }

            #body #body-right {
                width: 50%;
                height: 838px;
                /*background-color: lightskyblue;*/
                float: left;
                border-left: 1px solid black;
            }

            #body #body-mid {
                width: 100%;
                float: left;
                height: 35px;
                border-bottom: 1px solid black;
                line-height: 1;
                text-indent: 20px;
                padding-left: 10px;
                padding-right: 10px;
                font-stretch: condensed;
            }

            #body .box {
                width: 100%;
                border-bottom: 1px solid black;
                padding-top: 1px;
                padding-left: 5px;
                float: left;
            }

            #body .summary {
                float: left;
                margin-bottom: 5px;
            }

            #body .title {
                font-weight: bold;
                text-align: center;
                vertical-align: middle;
                width: 100%;
                border-bottom: 1px solid black;
                height: 12px;
                float: left;
                padding: 1px 0 1px 0;
                line-height: 1;
            }

            #body .display-number {
                font-weight: bold;
                padding-right: 5px;
                float: left;
                line-height: 1;
            }

            #body .display-name {
                float: left;
                line-height: 1;
            }

            #body .textbox {
                border: 1px solid black;
                height: 20px;
                background-color: white;
                float: left;
                padding-left: 5px;
            }

        #footer {
            height: 205px;
            width: 100%;
            border: 1px solid black;
            border-top: 0;
            font-size: 10px;
        }

            #footer #footer-top {
                height: 105px;
            }

            #footer #footer-top-left {
                height: 100%;
                width: 410px;
                float: left;
            }

            #footer #footer-top-right {
                height: 100%;
                width: 330px;
                float: left;
                padding-left: 15px;
            }

            #footer #footer-mid {
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                height: 12px;
                background-color: lightgray;
                font-weight: bold;
                text-align: center;
                line-height: 0.8;
            }

            #footer #footer-bottom {
            }

            #footer #footer-bottom-left {
                width: 50%;
                height: 87px;
                padding-left: 20px;
                padding-right: 20px;
                float: left;
                border-right: 1px solid black;
            }

                #footer #footer-bottom-left p {
                    line-height: 1.2;
                    text-indent: 5px;
                    font-stretch: condensed;
                    font-size: 9px;
                }

            #footer #footer-bottom-right {
                width: 50%;
                height: 87px;
                padding-left: 10px;
                padding-right: 10px;
                float: left;
            }

                #footer #footer-bottom-right p {
                    line-height: 1.2;
                    text-indent: 20px;
                    font-stretch: condensed;
                    font-size: 7px;
                }

            #footer .textbox {
                border: 1px solid black;
                height: 20px;
                background-color: white;
                float: left;
            }

            #footer .date-signed {
                float: left;
                padding-top: 14px;
                font-size: 9px;
            }

            #footer .signature {
                float: left;
                display: flex;
                justify-content: center;
            }

                #footer .signature .signature-number {
                    float: left;
                    font-weight: bold;
                }

                #footer .signature .signature-line {
                    float: left;
                }

                #footer .signature .signature-name {
                    float: left;
                    text-align: center;
                    border-bottom: 1px solid black;
                    width: 100%;
                    height: 15px;
                }

                #footer .signature .signature-label {
                    text-align: center;
                    line-height: 0.9;
                    width: 100%;
                    float: left;
                }

        #note {
            font-size: 10px;
            line-height: 1;
        }
    </style>

</head>

<body>
    @foreach (var bir2316 in Model.BIR2316)
    {
        <div id="header">
            <div id="header-1">
                <div class="header-box-1">
                    <div style="float: left; background-color: lightgrey; width: 42px; line-height: 1; height: 23px;">
                        For BIR
                        Use Only
                    </div>
                    <div style="float: left; width: 30px; padding-left: 5px; line-height: 1; height: 23px;">
                        BCS/
                        Item:
                    </div>
                </div>
                <div class="header-box-2">
                    <div style="margin-left: 115px; margin-right: 20px; float:left;">
                        <img src="~/Common/Images/bir-logo.jpg" />
                    </div>
                    <div style="text-align: center; float: left; font-size: 10px; line-height: 1.3;">
                        Republic of the Philippines<br />
                        Department of Finance<br />
                        Bureau of Internal Revenue
                    </div>
                </div>
                <div class="header-box-3"></div>
            </div>
            <div id="header-2">
                <div class="header-box-1">
                    <div>
                        BIR Form No.
                    </div>
                    <div style="font-size: 30px; font-weight: bold;">
                        2316
                    </div>
                    <div>
                        September 2021(ENCS)
                    </div>
                </div>
                <div class="header-box-2">
                    <div>
                        Certificate of Compensation
                    </div>
                    <div>
                        Payment/Tax Withheld
                    </div>
                    <div style="font-weight: normal; font-size: 10px;">
                        For Compensation Payment With or Without Tax Withheld
                    </div>
                </div>
                <div class="header-box-3">
                    <div style="padding: 2px 2px 0 2px;">
                        <img src="~/Common/Images/bir-bar.jpg" width="195" />
                    </div>
                    <div style="text-align: right; padding-right: 10px; font-size: 9px;">
                        2316 9/21ENCS
                    </div>
                </div>
            </div>
            <div id="header-3">
                Fill in all applicable spaces. Mark all appropriate boxes with an "X".
            </div>
        </div>

        <div id="body">
            <div id="body-left">
                <div class="box" style="height: 25px;">
                    <div class="display-number">
                        1
                    </div>
                    <div class="display-name">
                        For the Year<br />
                        (YYYY)
                    </div>
                    <div class="textbox" style="width: 90px; margin-left: 50px;">
                        @bir2316.Year
                    </div>
                </div>
                <div class="title">
                    Part I - Employee Information
                </div>
                <div class="box" style="height: 25px;">
                    <div class="display-number">
                        3
                    </div>
                    <div class="display-name">
                        TIN
                    </div>
                    <div class="textbox" style="width: 305px; margin-left: 25px;">
                        @bir2316.TIN
                    </div>
                </div>
                <div class="box" style="height: 35px;">
                    <div class="display-number">
                        4
                    </div>
                    <div class="display-name">
                        Employee's Name <i>(Last Name, First Name, Middle Name)</i>
                    </div>
                    <div class="display-number" style="padding-left: 20px;">
                        5
                    </div>
                    <div class="display-name">
                        RDO Code
                    </div>
                    <div class="textbox" style="width: 280px; margin-left: 5px;">
                        @bir2316.EmployeeName
                    </div>
                    <div class="textbox" style="width: 60px; margin-left: 12px;">
                        @bir2316.RDOCode
                    </div>
                </div>
                <div class="box" style="height: 35px;">
                    <div class="display-number">
                        6
                    </div>
                    <div class="display-name">
                        Registered Address
                    </div>
                    <div class="display-number" style="padding-left: 190px;">
                        6A
                    </div>
                    <div class="display-name">
                        ZIP Code
                    </div>
                    <div class="textbox" style="width: 280px; margin-left: 5px;">
                        @bir2316.RegisteredAddress
                    </div>
                    <div class="textbox" style="width: 60px; margin-left: 12px;">
                        @bir2316.RegisteredZipCode
                    </div>
                </div>
                <div class="box" style="height: 35px;">
                    <div class="display-number">
                        6B
                    </div>
                    <div class="display-name">
                        Local Address
                    </div>
                    <div class="display-number" style="padding-left: 210px;">
                        6C
                    </div>
                    <div class="display-name">
                        ZIP Code
                    </div>
                    <div class="textbox" style="width: 280px; margin-left: 5px;">
                        @bir2316.LocalAddress
                    </div>
                    <div class="textbox" style="width: 60px; margin-left: 12px;">
                        @bir2316.LocalZipCode
                    </div>
                </div>
                <div class="box" style="height: 35px;">
                    <div class="display-number">
                        6D
                    </div>
                    <div class="display-name">
                        Foreign Address
                    </div>
                    <div class="textbox" style="width: 352px; margin-left: 5px;">
                        @bir2316.ForeignAddress
                    </div>
                </div>
                <div class="box" style="height: 35px; width: 165px; border-right: 1px solid black;">
                    <div class="display-number">
                        7
                    </div>
                    <div class="display-name">
                        Date of Birth <i>(MM/DD/YYYY)</i>
                    </div>
                    <div class="textbox" style="width: 140px; margin-left: 5px;">
                        @bir2316.DateOfBirth
                    </div>
                </div>
                <div class="box" style="height: 35px; width: 205px;">
                    <div class="display-number">
                        8
                    </div>
                    <div class="display-name">
                        Contact Number
                    </div>
                    <div class="textbox" style="width: 187px; margin-left: 5px;">
                        @bir2316.ContactNumber
                    </div>
                </div>
                <div class="box" style="height: 25px;">
                    <div class="display-number">
                        9
                    </div>
                    <div class="display-name">
                        Statutory Minimum Wage rate per day
                    </div>
                    <div class="textbox" style="width: 125px; margin-left: 53px;">
                        @bir2316.StatutoryMinimumWagePerDay
                    </div>
                </div>
                <div class="box" style="height: 25px;">
                    <div class="display-number">
                        10
                    </div>
                    <div class="display-name">
                        Statutory Minimum Wage rate per month
                    </div>
                    <div class="textbox" style="width: 125px; margin-left: 36px;">
                        @bir2316.StatutoryMinimumWagePerMonth
                    </div>
                </div>
                <div class="box" style="height: 25px;">
                    <div class="display-number">
                        11
                    </div>
                    <div class="textbox" style="width: 20px;">
                        @if (bir2316.IsMWE)
                        {
                            <a>X</a>
                        }
                    </div>
                    <div class="display-name" style="width: 320px; margin-left: 5px;">
                        Minimum Wage Earner (MWE) whose compensation is exempt from
                        withholding tax and not subject to income tax
                    </div>
                </div>
                <div class="title">
                    Part II - Employer Information (Present)
                </div>
                <div class="box" style="height: 25px;">
                    <div class="display-number">
                        12
                    </div>
                    <div class="display-name">
                        TIN
                    </div>
                    <div class="textbox" style="width: 300px; margin-left: 25px;">
                        @bir2316.Employer.TIN
                    </div>
                </div>
                <div class="box" style="height: 35px;">
                    <div class="display-number">
                        13
                    </div>
                    <div class="display-name">
                        Employer's Name
                    </div>
                    <div class="textbox" style="width: 352px; margin-left: 5px;">
                        @bir2316.Employer.EmployerName
                    </div>
                </div>
                <div class="box" style="height: 35px;">
                    <div class="display-number">
                        14
                    </div>
                    <div class="display-name">
                        Registered Address
                    </div>
                    <div class="display-number" style="padding-left: 190px;">
                        14A
                    </div>
                    <div class="display-name">
                        ZIP Code
                    </div>
                    <div class="textbox" style="width: 280px; margin-left: 5px;">
                        @bir2316.Employer.Address
                    </div>
                    <div class="textbox" style="width: 60px; margin-left: 12px;">
                        @bir2316.Employer.ZipCode
                    </div>
                </div>
                <div class="box" style="height: 25px;">
                    <div class="display-number">
                        15
                    </div>
                    <div class="display-name" style="width: 80px;">
                        Type of Employer
                    </div>
                    <div class="textbox" style="width: 20px; margin-left: 5px;">
                        @if (bir2316.TypeOfEmployer == "M")
                        {
                            <a>X</a>
                        }
                    </div>
                    <div class="display-name" style="width: 90px; margin-left: 5px;">
                        Main Employer
                    </div>
                    <div class="textbox" style="width: 20px;">
                        @if (bir2316.TypeOfEmployer == "S")
                        {
                            <a>X</a>
                        }
                    </div>
                    <div class="display-name" style="width: 100px; margin-left: 5px;">
                        Secondary Employer
                    </div>
                </div>
                <div class="title">
                    Part III - Employer Information (Previous)
                </div>
                <div class="box" style="height: 25px;">
                    <div class="display-number">
                        16
                    </div>
                    <div class="display-name">
                        TIN
                    </div>
                    <div class="textbox" style="width: 300px; margin-left: 25px;">
                        @bir2316.PrevEmployer.TIN
                    </div>
                </div>
                <div class="box" style="height: 35px;">
                    <div class="display-number">
                        17
                    </div>
                    <div class="display-name">
                        Employer's Name
                    </div>
                    <div class="textbox" style="width: 352px; margin-left: 5px;">
                        @bir2316.PrevEmployer.EmployerName
                    </div>
                </div>
                <div class="box" style="height: 35px;">
                    <div class="display-number">
                        18
                    </div>
                    <div class="display-name">
                        Registered Address
                    </div>
                    <div class="display-number" style="padding-left: 190px;">
                        18A
                    </div>
                    <div class="display-name">
                        ZIP Code
                    </div>
                    <div class="textbox" style="width: 280px; margin-left: 5px;">
                        @bir2316.PrevEmployer.Address
                    </div>
                    <div class="textbox" style="width: 60px; margin-left: 12px;">
                        @bir2316.PrevEmployer.ZipCode
                    </div>
                </div>
                <div class="title">
                    Part IV-A - Summary
                </div>
                <div class="box" style="height: 275px;">
                    <div class="summary">
                        <div class="display-number">
                            19
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Gross Compensation Income from Present<br />
                            Employer <i>(Sum of Items 38 and 52)</i>
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.GrossCompensationIncome
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            20
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Less: Total Non-Taxable/Exempt Compensation<br />
                            Income from Present Employer <i>(From Item 38)</i>
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.ExcemptCompensationIncome
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            21
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Taxable Compensation Income from Present<br />
                            Employer <i>(Item 19 Less Item 20) (From Item 52)</i>
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.Employer.TaxableCompensationIncome
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            22
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Add: Taxable Compensation Income from
                            Previous Employer, if applicable
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.PrevEmployer.TaxableCompensationIncome

                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            23
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Gross Taxable Compensation Income<br />
                            <i>(Sum of Items 21 and 22)</i>
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.GrossTaxableCompensationIncome
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            24
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Tax Due
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TaxDue
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            25
                        </div>
                        <div style="width: 217px; float: left;">
                            <div class="display-name">
                                Amount of Taxes Withheld
                            </div>
                            <br />
                            <div class="display-number">
                                25A
                            </div>
                            <div class="display-name">
                                Present Employer
                            </div>
                            <br />
                            <div class="display-number">
                                25B
                            </div>
                            <div class="display-name">
                                Previous Employer, if applicable
                            </div>
                        </div>
                        <div style="width: 125px; float: left;">
                            <div class="textbox" style="width: 125px; margin-bottom: 5px;">
                                @bir2316.Employer.TaxesWithheld
                            </div>
                            <div class="textbox" style="width: 125px;">
                                @bir2316.PrevEmployer.TaxesWithheld
                            </div>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            26
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Total Amount of Taxes Withheld as adjusted 52<br />
                            <i>(Sum of Items 25A and 25B)</i>
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TotalTaxesWithheldAdjusted
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            27
                        </div>
                        <div class="display-name" style="width: 217px;">
                            5% Tax Credit (PERA Act of 2008)
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TaxCredit
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            28
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Total Taxes Withheld <i>(Sum of Items 26 and 27)</i>
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TotalTaxesWithheld
                        </div>
                    </div>
                </div>
            </div>
            <div id="body-right">
                <div class="box" style="height: 25px;">
                    <div class="display-number">
                        2
                    </div>
                    <div class="display-name">
                        For the Period<br />
                        From <i>(MM/DD)</i>
                    </div>
                    <div class="textbox" style="width: 90px; margin-left: 15px; margin-right: 10px;"></div>
                    <div class="display-name">
                        <br />
                        To <i>(MM/DD)</i>
                    </div>
                    <div class="textbox" style="width: 90px; margin-left: 15px;"></div>
                </div>
                <div class="title" style="font-stretch: condensed;">
                    Part IV-B Details of Compensation Income & Tax Withheld from Present Employer
                </div>
                <div class="box" style="height: 801px;">
                    <div class="summary" style="margin-top: 5px; margin-bottom: 10px;">
                        <div class="display-number" style="width: 233px;font-stretch: condensed;">
                            A. NON-TAXABLE/EXEMPT COMPENSATION INCOME
                        </div>
                        <div class="display-name" style="width: 125px; text-align: center;">
                            Amount
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            29
                        </div>
                        <div class="display-name" style="width: 217px; font-stretch: condensed;">
                            Basic Salary (including the exempt P250,000 & below)<br />
                            or the Statutory Minimum Wage of the MWE
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.NTxBasicSalary
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            30
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Holiday Pay (MWE)
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.NTxHolidayPay
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            31
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Overtime Pay (MWE)
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.NTxOvertimePay
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            32
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Night Shift Differential (MWE)
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.NTxNightShiftDifferential
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            33
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Hazard Pay (MWE)
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.NTxHazardPay
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            34
                        </div>
                        <div class="display-name" style="width: 217px;">
                            13th Month Pay and Other Benefits<br />
                            <i>(maximum of P90,000)</i>
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.NTxOtherBenefits
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            35
                        </div>
                        <div class="display-name" style="width: 217px;">
                            De Minimis Benefits
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.NTxDeMinimis
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            36
                        </div>
                        <div class="display-name" style="width: 217px;">
                            SSS, GSIS, PHIC & PAG-IBIG Contributions<br />
                            and Union Dues <i>(Employee share only)</i>
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.NTxUnionDues
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            37
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Salaries and Other Forms of Compensation
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.NTxOtherCompensation
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            38
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Total Non-Taxable/Exempt Compensation<br />
                            Income <i>(Sum of Items 29 to 37)</i>
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.NTxExemptCompensation
                        </div>
                    </div>
                    <div class="summary" style="margin-top: 5px; margin-bottom: 10px;">
                        <div class="display-number" style="font-stretch: condensed;">
                            B. TAXABLE COMPENSATION INCOME REGULAR
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            39
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Basic Salary
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TxBasicSalary
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            40
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Representation
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TxRepresentation
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            41
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Transportation
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TxTransportation
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            42
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Cost of Living Allowance (COLA)
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TxCostOfLiving
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            43
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Fixed Housing Allowance
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TxFixedHousing
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            44
                        </div>
                        <div class="display-name">
                            Others <i>(specify)</i>
                        </div>
                        <br />
                        <div style="margin-left: 15px; float: left;">
                            <div class="display-number">
                                44A
                            </div>
                            <div class="textbox" style="width: 190px;">
                                @bir2316.TxOthers1
                            </div>
                            <div class="textbox" style="width: 125px; margin-left: 5px;">
                                @bir2316.TxOthers2
                            </div>
                        </div>
                        <div style="margin-left: 15px; float: left; margin-top: 5px;">
                            <div class="display-number">
                                44B
                            </div>
                            <div class="textbox" style="width: 190px;">
                                @bir2316.TxOthers3
                            </div>
                            <div class="textbox" style="width: 125px; margin-left: 5px;">
                                @bir2316.TxOthers4
                            </div>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            45
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Commission
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TxCommission
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            46
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Profit Sharing
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TxProfitSharing
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            47
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Fees Including Director's Fees
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TxDirectorFees
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            48
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Taxable 13th Month Benefits
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.Tx13thMonthBenefits
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            49
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Hazard Pay
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TxHazardPay
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            50
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Overtime Pay
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TxOvertimePay
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            51
                        </div>
                        <div class="display-name">
                            Others <i>(specify)</i>
                        </div>
                        <br />
                        <div style="margin-left: 15px; float: left;">
                            <div class="display-number">
                                51A
                            </div>
                            <div class="textbox" style="width: 190px;">
                                @bir2316.TxOthers5
                            </div>
                            <div class="textbox" style="width: 125px; margin-left: 5px;">
                                @bir2316.TxOthers6
                            </div>
                        </div>
                        <div style="margin-left: 15px; float: left; margin-top: 5px;">
                            <div class="display-number">
                                51B
                            </div>
                            <div class="textbox" style="width: 190px;">
                                @bir2316.TxOthers7
                            </div>
                            <div class="textbox" style="width: 125px; margin-left: 5px;">
                                @bir2316.TxOthers8
                            </div>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="display-number">
                            52
                        </div>
                        <div class="display-name" style="width: 217px;">
                            Total Taxable Compensation Income<br />
                            <i>(Sum of Items 39 to 51B)</i>
                        </div>
                        <div class="textbox" style="width: 125px;">
                            @bir2316.TxCompensationIncome
                        </div>
                    </div>
                </div>
            </div>
            <div id="body-mid">
                <p>
                    I/We declare, under the penalties of perjury that this certificate has been made in good faith, verified by me/us, and to the best of my/our knowledge and belief, is true and correct, pursuant to<br />
                    the provisions of the National Internal Revenue Code, as amended, and the regulations issued under authority thereof. Further, I/we give my/our consent to the processing of my/our information<br />
                    as contemplated under the *Data Privacy Act of 2012 (R.A. No. 10173) for legitimate and lawful purposes.
                </p>
            </div>
        </div>

        <div id="footer">
            <div id="footer-top">
                <div id="footer-top-left">
                    <div class="signature" style="width:350px; margin-top: 12px;">
                        <div class="signature-number">
                            53
                        </div>
                        <div class="signature-line" style="width: 300px;">
                            <div class="signature-name"></div>
                            <div class="signature-label">
                                Present Employer/Authorized Agent Signature over Printed Name
                            </div>
                        </div>
                    </div>
                    <div style="font-weight: bold; width: 350px; float: left; margin-top: 2px; margin-left: 2px;">
                        CONFORME:
                    </div>
                    <div class="signature" style="width:350px; margin-top: 2px; margin-bottom: 2px;">
                        <div class="signature-number">
                            54
                        </div>
                        <div class="signature-line" style="width: 300px;">
                            <div class="signature-name">
                                @bir2316.EmployeeName
                            </div>
                            <div class="signature-label">
                                Employee Signature over Printed Name
                            </div>
                        </div>
                    </div>
                    <div style="float: left; line-height: 1.1; margin-left: 2px;">
                        CTC/Valid ID No.<br />
                        of Employee
                    </div>
                    <div class="textbox" style="width: 120px; margin-left: 10px; margin-right: 20px;"></div>
                    <div style="float: left; line-height: 1.1; margin-left: 2px;">
                        Place of<br />
                        Issue
                    </div>
                    <div class="textbox" style="width: 120px; margin-left: 10px;"></div>
                </div>
                <div id="footer-top-right">
                    <div class="date-signed">
                        <div style="float: left; margin-right: 10px;">
                            Date Signed
                        </div>
                        <div class="textbox" style="width: 150px;"></div>
                    </div>
                    <div class="date-signed">
                        <div style="float: left; margin-right: 10px;">
                            Date Signed
                        </div>
                        <div class="textbox" style="width: 150px;"></div>
                    </div>
                    <div class="date-signed">
                        <div style="float: left; margin-right: 10px;">
                            Date Signed
                        </div>
                        <div class="textbox" style="width: 150px;"></div>
                    </div>
                    <div style="width: 100px; float: left; margin-left: 5px; padding-top: 2px;">
                        <div style="font-size: 8px; width: 100%; float: left; text-align:center;">
                            Amount of paid, if CTC
                        </div>
                        <div class="textbox" style="width: 50px; float: left; margin-left: 25px;"></div>
                    </div>
                </div>

            </div>
            <div id="footer-mid">
                To be accomplished under substituted filing
            </div>
            <div id="footer-bottom">
                <div id="footer-bottom-left">
                    <p>
                        I declare, under the penalties of perjury that the information herein stated are<br />
                        reported under the BIR Form No. 1604-C which has been filed with the Bureau of<br>
                        Internal Revenue.
                    </p>
                    <div class="signature" style="width:100%; margin-top: 31px;">
                        <div class="signature-number">
                            55
                        </div>
                        <div class="signature-line" style="width: 250px;">
                            <div class="signature-name">
                                @bir2316.EmployeeName
                            </div>
                            <div class="signature-label">
                                Employee Signature over Printed Name
                            </div>
                        </div>
                    </div>
                </div>
                <div id="footer-bottom-right">
                    <p>
                        I declare, under the penalties of perjury that I am qualified under substituted filing of Income Tax Return<br />
                        (BIR Form No. 1700), since I received purely compensation income from only one employer in th Philippines<br />
                        for the calendary year; that taxes have been correctly withheld by my employer (tax due equals tax withheld); that<br />
                        the BIR Form No. 1604-C filed by my employer to the BIR shall constitute as my income tax return; and that BIR<br />
                        FORM No. 2316 shall serve the same purpose as if BIR No. 1700 has been filed pursuant to the provisions<br />
                        of Revenue Regulations (RR) No. 3-2002, as amended.
                    </p>
                    <div class="signature" style="width:100%; margin-top: 13px;">
                        <div class="signature-number">
                            56
                        </div>
                        <div class="signature-line" style="width: 250px;">
                            <div class="signature-name">
                                @bir2316.EmployeeName
                            </div>
                            <div class="signature-label">
                                Employee Signature over Printed Name
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="note">
            *NOTE: The BIR Data Privacy is in the BIR website (www.bir.gov.ph)
        </div>

        <div style='page-break-after: always;'></div>
    }

</body>
</html>