﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.PayrollTmp
@model CreateOrEditPayrollTmpModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditPayrollTmp")) : L("CreateNewPayrollTmp")))

<div class="modal-body">
    <div id="PayrollTmpInformationsTab">
        <form name="PayrollTmpInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.PayrollTmp.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_PayrollNo" value="@Model.PayrollTmp.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_Salary">@L("Salary")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_Salary" value="@Model.PayrollTmp.Salary.ToString(CultureInfo.InvariantCulture)" type="number" name="salary" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_DailyRate">@L("DailyRate")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_DailyRate" value="@Model.PayrollTmp.DailyRate.ToString(CultureInfo.InvariantCulture)" type="number" name="dailyRate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_HourlyRate">@L("HourlyRate")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_HourlyRate" value="@Model.PayrollTmp.HourlyRate.ToString(CultureInfo.InvariantCulture)" type="number" name="hourlyRate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_Timesheet">@L("Timesheet")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_Timesheet" value="@Model.PayrollTmp.Timesheet.ToString(CultureInfo.InvariantCulture)" type="number" name="timesheet" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_Overtime">@L("Overtime")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_Overtime" value="@Model.PayrollTmp.Overtime.ToString(CultureInfo.InvariantCulture)" type="number" name="overtime" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_TxEarningAmt">@L("TxEarningAmt")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_TxEarningAmt" value="@Model.PayrollTmp.TxEarningAmt.ToString(CultureInfo.InvariantCulture)" type="number" name="txEarningAmt" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_NtxEarningAmt">@L("NtxEarningAmt")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_NtxEarningAmt" value="@Model.PayrollTmp.NtxEarningAmt.ToString(CultureInfo.InvariantCulture)" type="number" name="ntxEarningAmt" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_DedTaxAmt">@L("DedTaxAmt")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_DedTaxAmt" value="@Model.PayrollTmp.DedTaxAmt.ToString(CultureInfo.InvariantCulture)" type="number" name="dedTaxAmt" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_DeductionAmt">@L("DeductionAmt")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_DeductionAmt" value="@Model.PayrollTmp.DeductionAmt.ToString(CultureInfo.InvariantCulture)" type="number" name="deductionAmt" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_LoanAmt">@L("LoanAmt")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_LoanAmt" value="@Model.PayrollTmp.LoanAmt.ToString(CultureInfo.InvariantCulture)" type="number" name="loanAmt" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_BasicPay">@L("BasicPay")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_BasicPay" value="@Model.PayrollTmp.BasicPay.ToString(CultureInfo.InvariantCulture)" type="number" name="basicPay" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_GrossPay">@L("GrossPay")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_GrossPay" value="@Model.PayrollTmp.GrossPay.ToString(CultureInfo.InvariantCulture)" type="number" name="grossPay" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_NetPay">@L("NetPay")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_NetPay" value="@Model.PayrollTmp.NetPay.ToString(CultureInfo.InvariantCulture)" type="number" name="netPay" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_EmployeeId" value="@Model.PayrollTmp.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_PayCodeId">@L("PayCodeId")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_PayCodeId" value="@Model.PayrollTmp.PayCodeId.ToString(CultureInfo.InvariantCulture)" type="number" name="payCodeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_BankBranchId">@L("BankBranchId")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_BankBranchId" value="@Model.PayrollTmp.BankBranchId.ToString(CultureInfo.InvariantCulture)" type="number" name="bankBranchId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollTmp_SessionId">@L("SessionId")</label>
                <div class="col-9">
                    <input class="form-control" id="PayrollTmp_SessionId" value="@Model.PayrollTmp.SessionId" type="text" name="sessionId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")