﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.PayrollTmp
@model PayrollTmpViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="PayrollTmpInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.PayrollTmp.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Salary") :</h6>
                @Model.PayrollTmp.Salary
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DailyRate") :</h6>
                @Model.PayrollTmp.DailyRate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("HourlyRate") :</h6>
                @Model.PayrollTmp.HourlyRate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Timesheet") :</h6>
                @Model.PayrollTmp.Timesheet
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Overtime") :</h6>
                @Model.PayrollTmp.Overtime
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TxEarningAmt") :</h6>
                @Model.PayrollTmp.TxEarningAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("NtxEarningAmt") :</h6>
                @Model.PayrollTmp.NtxEarningAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DedTaxAmt") :</h6>
                @Model.PayrollTmp.DedTaxAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DeductionAmt") :</h6>
                @Model.PayrollTmp.DeductionAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("LoanAmt") :</h6>
                @Model.PayrollTmp.LoanAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("BasicPay") :</h6>
                @Model.PayrollTmp.BasicPay
            </div>
            <div class="col-6 mb-3">
                <h6>@L("GrossPay") :</h6>
                @Model.PayrollTmp.GrossPay
            </div>
            <div class="col-6 mb-3">
                <h6>@L("NetPay") :</h6>
                @Model.PayrollTmp.NetPay
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.PayrollTmp.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PayCodeId") :</h6>
                @Model.PayrollTmp.PayCodeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("BankBranchId") :</h6>
                @Model.PayrollTmp.BankBranchId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("SessionId") :</h6>
                @Model.PayrollTmp.SessionId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")