﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.PayrollTmp
@using MMB.ePay.Web.Areas.App.Startup
@model PayrollTmpViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.PayrollTmp;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/PayrollTmp/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("PayrollTmp")" description="@L("PayrollTmpHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_PayrollTmp_Create))
        {
        <button id="CreateNewPayrollTmpButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewPayrollTmp")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="PayrollTmpTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetPayrollTmpButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinPayrollNoFilterId">@L("MinMax") @L("PayrollNo")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minPayrollNoFilter" id="MinPayrollNoFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxPayrollNoFilter" id="MaxPayrollNoFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinSalaryFilterId">@L("MinMax") @L("Salary")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minSalaryFilter" id="MinSalaryFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxSalaryFilter" id="MaxSalaryFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinDailyRateFilterId">@L("MinMax") @L("DailyRate")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDailyRateFilter" id="MinDailyRateFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDailyRateFilter" id="MaxDailyRateFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinHourlyRateFilterId">@L("MinMax") @L("HourlyRate")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minHourlyRateFilter" id="MinHourlyRateFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxHourlyRateFilter" id="MaxHourlyRateFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinTimesheetFilterId">@L("MinMax") @L("Timesheet")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minTimesheetFilter" id="MinTimesheetFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxTimesheetFilter" id="MaxTimesheetFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinOvertimeFilterId">@L("MinMax") @L("Overtime")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minOvertimeFilter" id="MinOvertimeFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxOvertimeFilter" id="MaxOvertimeFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinTxEarningAmtFilterId">@L("MinMax") @L("TxEarningAmt")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minTxEarningAmtFilter" id="MinTxEarningAmtFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxTxEarningAmtFilter" id="MaxTxEarningAmtFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinNtxEarningAmtFilterId">@L("MinMax") @L("NtxEarningAmt")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minNtxEarningAmtFilter" id="MinNtxEarningAmtFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxNtxEarningAmtFilter" id="MaxNtxEarningAmtFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinDedTaxAmtFilterId">@L("MinMax") @L("DedTaxAmt")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDedTaxAmtFilter" id="MinDedTaxAmtFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDedTaxAmtFilter" id="MaxDedTaxAmtFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinDeductionAmtFilterId">@L("MinMax") @L("DeductionAmt")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDeductionAmtFilter" id="MinDeductionAmtFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDeductionAmtFilter" id="MaxDeductionAmtFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinLoanAmtFilterId">@L("MinMax") @L("LoanAmt")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minLoanAmtFilter" id="MinLoanAmtFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxLoanAmtFilter" id="MaxLoanAmtFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinBasicPayFilterId">@L("MinMax") @L("BasicPay")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minBasicPayFilter" id="MinBasicPayFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxBasicPayFilter" id="MaxBasicPayFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinGrossPayFilterId">@L("MinMax") @L("GrossPay")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minGrossPayFilter" id="MinGrossPayFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxGrossPayFilter" id="MaxGrossPayFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinNetPayFilterId">@L("MinMax") @L("NetPay")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minNetPayFilter" id="MinNetPayFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxNetPayFilter" id="MaxNetPayFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinEmployeeIdFilterId">@L("MinMax") @L("EmployeeId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minEmployeeIdFilter" id="MinEmployeeIdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxEmployeeIdFilter" id="MaxEmployeeIdFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinPayCodeIdFilterId">@L("MinMax") @L("PayCodeId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minPayCodeIdFilter" id="MinPayCodeIdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxPayCodeIdFilter" id="MaxPayCodeIdFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinLevel1IdFilterId">@L("MinMax") @L("Level1Id")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minLevel1IdFilter" id="MinLevel1IdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxLevel1IdFilter" id="MaxLevel1IdFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinLevel2IdFilterId">@L("MinMax") @L("Level2Id")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minLevel2IdFilter" id="MinLevel2IdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxLevel2IdFilter" id="MaxLevel2IdFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinLevel3IdFilterId">@L("MinMax") @L("Level3Id")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minLevel3IdFilter" id="MinLevel3IdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxLevel3IdFilter" id="MaxLevel3IdFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinBankBranchIdFilterId">@L("MinMax") @L("BankBranchId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minBankBranchIdFilter" id="MinBankBranchIdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxBankBranchIdFilter" id="MaxBankBranchIdFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SessionIdFilterId">@L("SessionId")</label>
                            <input type="text" class="form-control" name="sessionIdFilter" id="SessionIdFilterId">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="PayrollTmpTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("PayrollNo")</th>
                                <th>@L("Salary")</th>
                                <th>@L("DailyRate")</th>
                                <th>@L("HourlyRate")</th>
                                <th>@L("Timesheet")</th>
                                <th>@L("Overtime")</th>
                                <th>@L("TxEarningAmt")</th>
                                <th>@L("NtxEarningAmt")</th>
                                <th>@L("DedTaxAmt")</th>
                                <th>@L("DeductionAmt")</th>
                                <th>@L("LoanAmt")</th>
                                <th>@L("BasicPay")</th>
                                <th>@L("GrossPay")</th>
                                <th>@L("NetPay")</th>
                                <th>@L("EmployeeId")</th>
                                <th>@L("PayCodeId")</th>
                                <th>@L("Level1Id")</th>
                                <th>@L("Level2Id")</th>
                                <th>@L("Level3Id")</th>
                                <th>@L("BankBranchId")</th>
                                <th>@L("SessionId")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>