﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OTSheetProcess
@model CreateOrEditOTSheetProcessModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditOTSheetProcess")) : L("CreateNewOTSheetProcess")))

<div class="modal-body">
    <div id="OTSheetProcessInformationsTab">
        <form name="OTSheetProcessInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.OTSheetProcess.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OTSheetProcess_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="OTSheetProcess_PayrollNo" value="@Model.OTSheetProcess.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OTSheetProcess_OTCode">@L("OTCode")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="OTSheetProcess.OvertimeTypeId" asp-items="Model.OvertimeTypeList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OTSheetProcess_CostCenter">@L("CostCenter")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="OTSheetProcess_CostCenter" value="@Model.OTSheetProcess.CostCenter?.ToString(CultureInfo.InvariantCulture)" type="number" name="costCenter" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OTSheetProcess_Hrs">@L("Hrs")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="OTSheetProcess_Hrs" value="@Model.OTSheetProcess.Hrs.ToString(CultureInfo.InvariantCulture)" type="number" name="hrs" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OTSheetProcess_Mins">@L("Mins")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="OTSheetProcess_Mins" value="@Model.OTSheetProcess.Mins.ToString(CultureInfo.InvariantCulture)" type="number" name="mins" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OTSheetProcess_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="OTSheetProcess_Amount" value="@Model.OTSheetProcess.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OTSheetProcess_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="OTSheetProcess_EmployeeId" value="@Model.OTSheetProcess.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")