﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OTSheetProcess
@model OTSheetProcessViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="OTSheetProcessInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.OTSheetProcess.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("OTCode") :</h6>
                @Model.OTSheetProcess.OvertimeType
            </div>
            <div class="col-6 mb-3">
                <h6>@L("CostCenter") :</h6>
                @Model.OTSheetProcess.CostCenter
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Hrs") :</h6>
                @Model.OTSheetProcess.Hrs
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Mins") :</h6>
                @Model.OTSheetProcess.Mins
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.OTSheetProcess.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.OTSheetProcess.EmployeeId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")