﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LoanPosted
@model CreateOrEditLoanPostedModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLoanPosted")) : L("CreateNewLoanPosted")))

<div class="modal-body">
    <div id="LoanPostedInformationsTab">
        <form name="LoanPostedInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            { 
                <input type="hidden" name="id" value="@Model.LoanPosted.Id" />            
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LoanPosted_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="LoanPosted_PayrollNo" value="@Model.LoanPosted.PayrollNo?.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LoanPosted_PayDate">@L("PayDate")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker" id="LoanPosted_PayDate" type="text" name="payDate" value="@Model.LoanPosted.PayDate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LoanPosted_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="LoanPosted_Amount" value="@Model.LoanPosted.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LoanPosted_Remarks">@L("Remarks")</label>
                <div class="col-9">
                    <input class="form-control" id="LoanPosted_Remarks" value="@Model.LoanPosted.Remarks" type="text" name="remarks" maxlength="@MMB.ePay.Payroll.LoanPostedConsts.MaxRemarksLength" minlength="@MMB.ePay.Payroll.LoanPostedConsts.MinRemarksLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LoanPosted_CreatedBy">@L("CreatedBy")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="LoanPosted_CreatedBy" value="@Model.LoanPosted.CreatedBy.ToString(CultureInfo.InvariantCulture)" type="number" name="createdBy" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LoanPosted_CreatedDate">@L("CreatedDate")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker" id="LoanPosted_CreatedDate" type="text" name="createdDate" value="@Model.LoanPosted.CreatedDate" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")