﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LoanPosted
@model LoanPostedViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="LoanPostedInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.LoanPosted.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PayDate") :</h6>
                @Model.LoanPosted.PayDate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.LoanPosted.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Remarks") :</h6>
                @Model.LoanPosted.Remarks
            </div>
            <div class="col-6 mb-3">
                <h6>@L("CreatedBy") :</h6>
                @Model.LoanPosted.CreatedBy
            </div>
            <div class="col-6 mb-3">
                <h6>@L("CreatedDate") :</h6>
                @Model.LoanPosted.CreatedDate
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")