﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.LoanPosted
@using MMB.ePay.Web.Areas.App.Startup
@model LoanPostedViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.LoanPosted;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/LoanPosted/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("LoanPosted")" description="@L("LoanPostedHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_LoanPosted_Create))
        {
        <button id="CreateNewLoanPostedButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewLoanPosted")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="LoanPostedTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetLoanPostedButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinPayrollNoFilterId">@L("MinMax") @L("PayrollNo")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minPayrollNoFilter" id="MinPayrollNoFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxPayrollNoFilter" id="MaxPayrollNoFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinPayDateFilterId">@L("PayDateRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")" id="MinPayDateFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")" id="MaxPayDateFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinAmountFilterId">@L("MinMax") @L("Amount")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minAmountFilter" id="MinAmountFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxAmountFilter" id="MaxAmountFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="RemarksFilterId">@L("Remarks")</label>
                            <input type="text" class="form-control" name="remarksFilter" id="RemarksFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinCreatedByFilterId">@L("MinMax") @L("CreatedBy")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minCreatedByFilter" id="MinCreatedByFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxCreatedByFilter" id="MaxCreatedByFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinCreatedDateFilterId">@L("CreatedDateRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")" id="MinCreatedDateFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")" id="MaxCreatedDateFilterId">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="LoanPostedTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("PayrollNo")</th>
                                <th>@L("PayDate")</th>
                                <th>@L("Amount")</th>
                                <th>@L("Remarks")</th>
                                <th>@L("CreatedBy")</th>
                                <th>@L("CreatedDate")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>