﻿@using MMB.ePay.Web.Areas.App.Startup
@model MMB.ePay.Web.Areas.App.Models.Persons.PersonsIndexViewModel
@using MMB.ePay.Authorization

@{
    ViewBag.CurrentPageName = AppPageNames.Tenant.ePay;
}

@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Areas/App/Views/ePay/index.css" asp-append-version="true" />
    </environment>
}

@section Scripts
{
    <environment names="Development">
        <script src="~/view-resources/Areas/App/Views/ePay/_CreatePersonModal.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/ePay/Index.js" asp-append-version="true"></script>
    </environment>
}

<div class="row kt-margin-b-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("ePay")</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="col-xs-6 text-right">
        @if (IsGranted(AppPermissions.Pages_Tenant_ePay_CreatePerson))
        {
            <button id="CreateNewPersonButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewPerson")</button>
        }
    </div>
</div>

<div class="portlet light">
    <div class="portlet-body">

        <h3>@L("AllPeople")</h3>

        <div id="AllPeopleList" class="list-group">
            @foreach (var person in Model.Items)
            {
                <a href="javascript:;" class="list-group-item" data-person-id="@person.Id">
                    <h4 class="list-group-item-heading">
                        @person.Name @person.Surname
                        @if (IsGranted(AppPermissions.Pages_Tenant_ePay_DeletePerson))
                        {
                            <button title="@L("Delete")" class="btn btn-circle btn-icon-only btn-danger delete-person" href="javascript:;">
                                <i class="la la-trash"></i>
                            </button>
                        }
                    </h4>
                    <p class="list-group-item-text">
                        @person.EmailAddress
                    </p>
                </a>
            }
        </div>

    </div>
</div>
