﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LoanTmp
@model CreateOrEditLoanTmpModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLoanTmp")) : L("CreateNewLoanTmp")))

<div class="modal-body">
    <div id="LoanTmpInformationsTab">
        <form name="LoanTmpInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.LoanTmp.Id" />
            }

            <div class="form-group">
                <label for="LoanTmp_PayrollNo">@L("PayrollNo")</label>
                <input class="form-control m-input" id="LoanTmp_PayrollNo" value="@Model.LoanTmp.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
            </div>

            <div class="form-group">
                <label for="LoanTmp_Amount">@L("Amount")</label>
                <input class="form-control m-input" id="LoanTmp_Amount" value="@Model.LoanTmp.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
            </div>

            <div class="form-group">
                <label for="LoanTmp_EmployeeId">@L("EmployeeId")</label>
                <input class="form-control m-input" id="LoanTmp_EmployeeId" value="@Model.LoanTmp.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
            </div>

            <div class="form-group">
                <label for="LoanTmp_EmployeeLoanId">@L("EmployeeLoanId")</label>
                <input class="form-control m-input" id="LoanTmp_EmployeeLoanId" value="@Model.LoanTmp.EmployeeLoanId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeLoanId" />
            </div>

            <div class="form-group">
                <label for="LoanTmp_SessionId">@L("SessionId")</label>
                <input class="form-control" id="LoanTmp_SessionId" value="@Model.LoanTmp.SessionId" type="text" name="sessionId" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")