﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LoanTmp
@model LoanTmpViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="LoanTmpInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.LoanTmp.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.LoanTmp.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.LoanTmp.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeLoanId") :</h6>
                @Model.LoanTmp.EmployeeLoanId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("SessionId") :</h6>
                @Model.LoanTmp.SessionId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")