﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ChangePassword")))

<div class="modal-body">
    <form name="ChangePasswordModalForm" class="form">
        <div class="form-group">
            <label for="CurrentPassword">@L("CurrentPassword")</label>
            <input id="CurrentPassword" type="password" autocomplete="new-password" name="CurrentPassword" class="form-control" required maxlength="@MMB.ePay.Authorization.Users.User.MaxPlainPasswordLength">
            <span class="form-text text-muted">@Html.Raw(L("PasswordChangeDontRememberMessage", "<a href=\"" + Url.Action("ForgotPassword", "Account", new {area = ""}) + "\">" + L("ClickHere") + "</a>"))</span>
        </div>
        <div class="form-group">
            <label for="NewPassword">@L("NewPassword")</label>
            <input id="NewPassword" type="password" autocomplete="new-password" name="NewPassword" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="NewPasswordRepeat">@L("NewPasswordRepeat")</label>
            <input id="NewPasswordRepeat" type="password" autocomplete="new-password" name="NewPasswordRepeat" class="form-control" required equalto="#NewPassword">
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
