﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("LinkNewAccount")))

<div class="modal-body">
    <form name="LinkAccountModalForm" role="form" novalidate class="form-validation">
        <div class="form-group">
            <label for="TenancyName">@L("TenancyName")</label>
            <input id="TenancyName" type="text" name="TenancyName" class="form-control" value="@(ViewBag.TenancyName ?? "")" maxlength="@MMB.ePay.MultiTenancy.Tenant.MaxTenancyNameLength">
        </div>

        <div class="form-group">
            <label for="UsernameOrEmailAddress">@L("UserName")</label>
            <input id="UsernameOrEmailAddress" class="form-control" type="text" name="UsernameOrEmailAddress" required maxlength="@MMB.ePay.Authorization.Users.User.MaxEmailAddressLength">
        </div>

        <div class="form-group">
            <label for="Password">@L("Password")</label>
            <input id="Password" type="password" name="Password"  autocomplete="new-password" class="form-control" required maxlength="@MMB.ePay.Authorization.Users.User.MaxPasswordLength">
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")