﻿<div class="modal-header">
    <h4 class="modal-title">
        <span>@L("LinkedAccounts")</span>
    </h4>
    <button id="LinkNewAccountButton" class="btn btn-primary pull-right"><i class="la la-plus"></i>@L("LinkNewAccount")</button>
</div>
<div class="modal-body">
    <table id="LinkedAccountsTable" class="display table table-separate table-head-custom no-footer dtr-inline dt-responsive nowrap">
        <thead>
        <tr>
            <th></th>
            <th>@L("UserName")</th>
            <th>@L("Delete")</th>
        </tr>
        </thead>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-dismiss="modal">@L("Close")</button>
</div>