﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.SssTables
@model CreateOrEditSssTablesModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditSssTables")) : L("CreateNewSssTables")))

<div class="modal-body">
    <div id="SssTablesInformationsTab">
        <form name="SssTablesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.SssTables.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="SssTables_MonthlySalCredit">@L("MonthlySalCredit")</label>
                <div class="col-9">
                    <input class="form-control" id="SssTables_MonthlySalCredit" value="@Model.SssTables.MonthlySalCredit.ToString(CultureInfo.InvariantCulture)" type="number" name="monthlySalCredit" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="SssTables_LB">@L("LB")</label>
                <div class="col-9">
                    <input class="form-control" id="SssTables_LB" value="@Model.SssTables.LB.ToString(CultureInfo.InvariantCulture)" type="number" name="lb" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="SssTables_UB">@L("UB")</label>
                <div class="col-9">
                    <input class="form-control" id="SssTables_UB" value="@Model.SssTables.UB.ToString(CultureInfo.InvariantCulture)" type="number" name="ub" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="SssTables_EmployerSSS">@L("EmployerSSS")</label>
                <div class="col-9">
                    <input class="form-control" id="SssTables_EmployerSSS" value="@Model.SssTables.EmployerSSS.ToString(CultureInfo.InvariantCulture)" type="number" name="employerSSS" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="SssTables_EmployerECC">@L("EmployerECC")</label>
                <div class="col-9">
                    <input class="form-control" id="SssTables_EmployerECC" value="@Model.SssTables.EmployerECC.ToString(CultureInfo.InvariantCulture)" type="number" name="employerECC" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="SssTables_EmployeeSSS">@L("EmployeeSSS")</label>
                <div class="col-9">
                    <input class="form-control" id="SssTables_EmployeeSSS" value="@Model.SssTables.EmployeeSSS.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeSSS" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")