﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.SssTables
@model SssTablesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="SssTablesInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("MonthlySalCredit") :</h6>
                @Model.SssTables.MonthlySalCredit
            </div>
            <div class="col-6 mb-3">
                <h6>@L("LB") :</h6>
                @Model.SssTables.LB
            </div>
            <div class="col-6 mb-3">
                <h6>@L("UB") :</h6>
                @Model.SssTables.UB
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployerSSS") :</h6>
                @Model.SssTables.EmployerSSS
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployerECC") :</h6>
                @Model.SssTables.EmployerECC
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeSSS") :</h6>
                @Model.SssTables.EmployeeSSS
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")