﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.SssTables
@using MMB.ePay.Web.Areas.App.Startup
@model SssTablesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.SssTables;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/SssTables/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("SssTables")" description="@L("SssTablesHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_SssTables_Create))
        {
        <button id="CreateNewSssTablesButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewSssTables")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="SssTablesTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetSssTablesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinMonthlySalCreditFilterId">@L("MinMax") @L("MonthlySalCredit")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minMonthlySalCreditFilter" id="MinMonthlySalCreditFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxMonthlySalCreditFilter" id="MaxMonthlySalCreditFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinLBFilterId">@L("MinMax") @L("LB")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minLBFilter" id="MinLBFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxLBFilter" id="MaxLBFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinUBFilterId">@L("MinMax") @L("UB")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minUBFilter" id="MinUBFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxUBFilter" id="MaxUBFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinEmployerSSSFilterId">@L("MinMax") @L("EmployerSSS")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minEmployerSSSFilter" id="MinEmployerSSSFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxEmployerSSSFilter" id="MaxEmployerSSSFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinEmployerECCFilterId">@L("MinMax") @L("EmployerECC")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minEmployerECCFilter" id="MinEmployerECCFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxEmployerECCFilter" id="MaxEmployerECCFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinEmployeeSSSFilterId">@L("MinMax") @L("EmployeeSSS")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minEmployeeSSSFilter" id="MinEmployeeSSSFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxEmployeeSSSFilter" id="MaxEmployeeSSSFilterId" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="SssTablesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("MonthlySalCredit")</th>
                                <th>@L("LB")</th>
                                <th>@L("UB")</th>
                                <th>@L("EmployerSSS")</th>
                                <th>@L("EmployerECC")</th>
                                <th>@L("EmployeeSSS")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>