﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForSSSR3

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        .noborder {
            border: 0;
        }

        .bold {
            font-weight: bold;
        }

        .center {
            text-align: center !important;
            vertical-align: middle;
        }

        hr {
            height: 1px;
            background-color: black;
            border: none;
        }
        
        #sss td, th {
            border: 1px solid black;
            overflow: hidden;
            padding: 5px 10px 5px 10px;
        }

        #sss th {
            font-weight: normal;
            font-size: 11px;
            text-align: center;
            vertical-align: middle;
        }

        #sss td {
            font-size: 9px;
        }

        .checkbox {
            float: left;
            padding: 1px 5px 0 0;
            height: 25px;
            font-size: 14px;
        }

        .number {
            text-align: right;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        #header {
            border: 1px solid black;
            border-width: 1px 1px 0 1px;
            height: 149px;
        }

        #icon {
            float: left;
            padding: 5px 0 0 5px;
            width: 128px;
        }

        #icon-1 {
            float: left;
            padding-right: 10px;
        }

        #icon-2 {
            font-weight: bold;
            font-size: 25px;
            float: left;
            height: 30px;
        }

        #icon-3 {
            float: left;
            font-size: 9px;
        }

        #title {
            text-align: center;
            height: 68px;
            float: left;
            width: 750px;
        }

        #title-1 {
            font-size: 11px;
        }

        #title-2 {
            font-size: 12px;
            font-weight: bold;
        }

        #title-3 {
            font-size: 13px;
            font-weight: bold;
        }

        #title-4 {
            font-size: 10px;
        }

        #header-1 {
            border: 1px solid black;
            border-width: 1px 1px 1px 0;
            float: left;
            width: 200px;
            height: 40px;
            padding: 5px;
            font-size: 11px;
        }

        #header-2 {
            border: 1px solid black;
            border-width: 1px 1px 1px 0;
            float: left;
            width: 600px;
            height: 40px;
            font-size: 11px;
            padding: 5px;
        }

        #header-3 {
            border: 1px solid black;
            border-width: 1px 0 1px 0;
            float: left;
            width: 180px;
            height: 40px;
            font-size: 11px;
            padding: 5px;
        }

        #header-4 {
            border: 1px solid black;
            border-width: 0 1px 0 0;
            float: left;
            width: 200px;
            height: 40px;
            font-size: 11px;
            padding: 5px;
        }

        #header-5 {
            border: 1px solid black;
            border-width: 0 1px 0 0;
            float: left;
            width: 600px;
            height: 40px;
            font-size: 11px;
            padding: 5px;
        }

        #header-6 {
            float: left;
            width: 180px;
            height: 40px;
            font-size: 11px;
            padding: 5px;
        }

        #body {
            height: 395px;
        }

        #footer {
            border: 1px solid black;
            border-width: 1px 1px 1px 0;
            height: 198px;
            font-size: 9px;
        }

        #footer-1 {
            height: 127px;
            width: 857px;
            float: left;
        }

        #totalsforthispage {
            border: 1px solid black;
            border-width: 0 1px 0 1px;
            padding: 5px;
            width: 407px;
            float: left;
            height: 25px;
        }

        .totals {
            border-right: 1px solid black;
            padding: 5px;
            width: 75px;
            float: left;
            height: 25px;
            text-align: right;
        }

        #grandtotal {
            width: 535px;
            float: left;
        }

            #grandtotal th {
                font-size: 9px;
                padding: 0;
                border: 1px solid black;
            }

            #grandtotal td {
                font-size: 9px;
                border: 1px solid black;
                padding: 3px;
                text-align: right;
            }

        #adjustment {
            border: 1px solid black;
            border-width: 1px 1px 1px 0;
            height: 102px;
            width: 161px;
            float: left;
            padding: 2px 0 0 15px;
        }

        #certified {
            border: 1px solid black;
            border-width: 1px 1px 1px 0;
            height: 102px;
            width: 161px;
            float: left;
            padding: 2px 0 0 15px;
        }

        #footer-2 {
            border-bottom: 1px solid black;
            float: left;
            height: 127px;
            width: 124px;
            padding: 30px 0 0 10px;
        }

        #footer-3 {
            border: 1px solid black;
            border-width: 0 1px 0 1px;
            float: left;
            height: 70px;
            width: 51px;
        }

        #footer-4 {
            border-right: 1px solid black;
            float: left;
            height: 70px;
            width: 242px;
            padding-left: 5px;
        }

        #footer-5 {
            border-right: 1px solid black;
            float: left;
            height: 70px;
            width: 242px;
            padding-left: 5px;
        }

        #footer-6 {
            border-right: 1px solid black;
            float: left;
            height: 70px;
            width: 161px;
            padding-left: 5px;
        }

        #footer-7 {
            float: left;
            height: 69px;
            width: 285px;
            padding-left: 5px;
        }

    </style>
</head>

<body>
    @{
        //decimal rowCount = Model.SSSR3.Count;
        decimal rowCount = 20;
        int maxRowCount = 15;
        decimal loopCount = Math.Ceiling(rowCount / maxRowCount);
    }

    @for (var i = 0; i < loopCount; i++)
    {
        int pageCount = i + 1;

        <div id="header">
            <div id="icon">
                <div id="icon-1">
                    <img src="~/Common/Images/SSS-logo.jpg" height="55" />
                </div>
                <div id="icon-2">
                    R-3
                </div>
                <div id="icon-3">
                    Rev. 08-99
                </div>
            </div>
            <div id="title">
                <div id="title-1">
                    Republic of the Philippines
                </div>
                <div id="title-2">
                    SOCIAL SECURITY SYSTEM
                </div>
                <div id="title-3">
                    Contribution Collection List
                </div>
                <div id="title-4">
                    (Please Read Instructions at the Back. Print All Information in Black Ink.)
                </div>
            </div>
            <div id="header-1">
                <div class="bold">
                    EMPLOYER ID NUMBER
                </div>
                1-23456789-00
            </div>
            <div id="header-2">
                <div class="bold">
                    REGISTERED EMPLOYER NAME
                </div>
                ABC
            </div>
            <div id="header-3">
                <div class="bold">
                    QUARTER ENDING
                </div>
                032019
            </div>
            <div id="header-4">
                <div class="bold">
                    TEL. NO
                </div>
                xxxxxxxxxx
            </div>
            <div id="header-5">
                <div class="bold">
                    ADDRESS
                </div>
                xxxxxxxxxx
            </div>
            <div id="header-6">
                <div class="bold">
                    TYPE OF EMPLOYER
                </div>
                <span style="font-size: 14px;">&#9746;</span> Regular
                &nbsp; &nbsp; &nbsp; 
                &nbsp; &nbsp; &nbsp; 
                <span style="font-size: 14px;">&#9744;</span> Household
            </div>
        </div>

        <div id="body">
            <table id="sss">
                <thead>
                    <tr>
                        <th rowspan="2">
                            SSS NUMBER
                        </th>
                        <th colspan="3" style="border-bottom: 0;">
                            NAME OF MEMBER
                        </th>
                        <th colspan="3">
                            SOCIAL SECURITY
                        </th>
                        <th colspan="3">
                            EMPLOYEE COMPENSATION
                        </th>
                        <th rowspan="2" style="width: 125px;">
                            SEPARATION DATE
                            <br />
                            (MM / DD / YYYY)
                        </th>
                    </tr>
                    <tr>
                        <th class="noborder" style="font-size: 10px; font-style:italic;">
                            (SURNAME)
                        </th>
                        <th class="noborder" style="font-size: 10px; font-style:italic;">
                            (GIVEN NAME)
                        </th>
                        <th class="noborder" style="font-size: 10px; font-style:italic;">
                            (M.I.)
                        </th>
                        <th style="width: 75px; font-size: 10px; font-family: 'Times New Roman'">
                            1st Month
                        </th>
                        <th style="width: 75px; font-size: 10px; font-family: 'Times New Roman'">
                            2nd Month
                        </th>
                        <th style="width: 75px; font-size: 10px; font-family: 'Times New Roman'">
                            3rd Month
                        </th>
                        <th style="width: 75px; font-size: 10px; font-family: 'Times New Roman'">
                            1st Month
                        </th>
                        <th style="width: 75px; font-size: 10px; font-family: 'Times New Roman'">
                            2nd Month
                        </th>
                        <th style="width: 75px; font-size: 10px; font-family: 'Times New Roman'">
                            3rd Month
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (var j = 0; j < maxRowCount; j++)
                    {
                        var cell = (i * maxRowCount) + j;

                        if (cell < rowCount)
                        {
                            <tr>
                                <td>@Model.SSSR3[0].SSSNo</td>
                                <td colspan="3">@Model.SSSR3[0].NameOfMember</td>
                                <td class="number">@Model.SSSR3[0].SS1stMonth</td>
                                <td class="number">@Model.SSSR3[0].SS2ndMonth</td>
                                <td class="number">@Model.SSSR3[0].SS3rdMonth</td>
                                <td class="number">@Model.SSSR3[0].Compensation1stMonth</td>
                                <td class="number">@Model.SSSR3[0].Compensation2ndMonth</td>
                                <td class="number">@Model.SSSR3[0].Compensation3rdMonth</td>
                                <td>@Model.SSSR3[0]?.SeparationDate?.ToString("MM/dd/yyyy")</td>
                            </tr>

                            @*<tr>
                                <td>@Model.SSSR3[cell].SSSNo</td>
                                <td colspan="3">@Model.SSSR3[cell].NameOfMember</td>
                                <td class="number">@Model.SSSR3[cell].SS1stMonth</td>
                                <td class="number">@Model.SSSR3[cell].SS2ndMonth</td>
                                <td class="number">@Model.SSSR3[cell].SS3rdMonth</td>
                                <td class="number">@Model.SSSR3[cell].Compensation1stMonth</td>
                                <td class="number">@Model.SSSR3[cell].Compensation2ndMonth</td>
                                <td class="number">@Model.SSSR3[cell].Compensation3rdMonth</td>
                                <td>@Model.SSSR3[cell]?.SeparationDate?.ToString("MM/dd/yyyy")</td>
                            </tr>*@
                        }
                    }
                </tbody>
            </table>
        </div>

        <div id="footer">
            <div id="footer-1">
                <div id="totalsforthispage">
                    TOTALS FOR THIS PAGE
                    <span style="margin-left: 10px; font-size: 8px;">(To be filled out on every page)</span>
                </div>

                <div class="totals">
                    1200.00
                </div>
                <div class="totals">
                    0.00
                </div>
                <div class="totals">
                    0.00
                </div>
                <div class="totals">
                    10.00
                </div>
                <div class="totals">
                    0.00
                </div>
                <div class="totals">
                    0.00
                </div>

                <table id="grandtotal">
                    <thead>
                        <tr>
                            <th colspan="4">
                                GRAND TOTAL
                            </th>
                            <th colspan="3">
                                PAYMENT DETAILS
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="center" style="width: 50px;">
                                Appl. Mo
                            </td>
                            <td class="center">Social Security</td>
                            <td class="center">
                                Employee <br />
                                Compensation
                            </td>
                            <td class="center">Grand Total</td>
                            <td class="center">TS/SBR NO</td>
                            <td class="center">Date Paid</td>
                            <td class="center">Amount Paid</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">1st</td>
                            <td>1200.00</td>
                            <td>10.00</td>
                            <td>1210.00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">2nd</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">3rd</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <div id="adjustment">
                    <div style="font-weight: bold; margin-bottom: 10px;">
                        ADJUSTMENT TYPE
                    </div>
                    <span class="checkbox">
                        &#9744;
                    </span>
                    <div style="float: left; width: 120px; margin-bottom: 10px;">
                        Addition to Previously <br />
                        Submitted R-3
                    </div>
                    <span class="checkbox">
                        &#9744;
                    </span>
                    <div style="float: left;">
                        Deduction from Previously <br />
                        Submitted R-3
                    </div>

                </div>

                <div id="certified">
                    <div style="font-weight: bold; margin-bottom: 15px; float: left;">
                        CERTIFIED CORRECT AND PAID
                    </div>
                    <div style="text-align:center; width: 130px; margin-bottom: 15px; float: left;">
                        <hr />
                        Signature Over Printed Name
                    </div>
                    <div style="text-align: center; width: 80px; float: left; margin-right: 10px;">
                        <hr />
                        Official Designation
                    </div>
                    <div style="text-align: center; width: 40px; float: left;">
                        <hr />
                        Date
                    </div>

                </div>

            </div>

            <div id="footer-2">
                PAGE &nbsp; &nbsp; &nbsp; &nbsp; <b>@pageCount</b>
                <br />
                <br />
                OF
                <br />
                <br />
                PAGE &nbsp; &nbsp; &nbsp; &nbsp; <b>@rowCount</b>
            </div>

            <div id="footer-3"></div>
            <div id="footer-4">
                PROCESSED BY / DATE:
                <div style="width: 225px; text-align:center; margin-top: 30px; padding-left: 5px;">
                    <hr />
                    Signature Over Printed Name
                </div>
            </div>
            <div id="footer-5">
                ENCODED BY / DATE:
                <div style="width: 225px; text-align:center; margin-top: 30px; padding-left: 5px;">
                    <hr />
                    Signature Over Printed Name
                </div>
            </div>
            <div id="footer-6">
                OTHER NOTATIONS:
            </div>
            <div id="footer-7">
                RECEIVED BY / DATE:
            </div>
        </div>

        <div style='page-break-after: always;'></div>
    }
</body>
</html>
