﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LeaveTypes
@model CreateOrEditLeaveTypesModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLeaveTypes")) : L("CreateNewLeaveTypes")))

<div class="modal-body">
    <div id="LeaveTypesInformationsTab">
        <form name="LeaveTypesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            { 
                <input type="hidden" name="id" value="@Model.LeaveTypes.Id" />            
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveTypes_DisplayName">@L("DisplayName")</label>
                <div class="col-9">
                    <input class="form-control" id="LeaveTypes_DisplayName" value="@Model.LeaveTypes.DisplayName" type="text" name="displayName" required maxlength="@MMB.ePay.Payroll.LeaveTypesConsts.MaxDisplayNameLength" minlength="@MMB.ePay.Payroll.LeaveTypesConsts.MinDisplayNameLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveTypes_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control" id="LeaveTypes_Description" value="@Model.LeaveTypes.Description" type="text" name="description" required maxlength="@MMB.ePay.Payroll.LeaveTypesConsts.MaxDescriptionLength" minlength="@MMB.ePay.Payroll.LeaveTypesConsts.MinDescriptionLength" />
                </div>
            </div>

            <div class="m-checkbox-list">
                <label for="LeaveTypes_WithPay" class="kt-checkbox">
                    <input id="LeaveTypes_WithPay" type="checkbox" name="withPay" value="true" @Html.Raw(Model.LeaveTypes.WithPay ? "checked=\"checked\"" : "") />
                    @L("WithPay")
                    <span></span>
                </label>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")