﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Reviewers
@model CreateOrEditReviewersModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditReviewers")) : L("CreateNewReviewers")))

<div class="modal-body">
    <div id="ReviewersInformationsTab">
        <form name="ReviewersInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Reviewers.Id" />
            }
            <div class="form-group row">
                <label class="col-3 col-form-label" for="Reviewers_ReviewerType">@L("ReviewerType")</label>
                <div class="col-9">
                    <select class="form-control" id="Reviewers_ReviewedBy" asp-for="Reviewers.ReviewerType"
                            asp-items="Model.ReviewerTypeList" name="reviewerType"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Reviewers_ReviewedBy">@L("ReviewedBy")</label>
                <div class="col-9">
                    <select class="form-control" id="Reviewers_ReviewedBy" asp-for="Reviewers.ReviewedBy"
                        asp-items="Model.ReviewedByList" name="reviewedBy"></select>
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")