﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Reviewers
@model ReviewersViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ReviewersInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("ReviewerType") :</h6>
            <div class="col-6 col-form-label">
                @Model.Reviewers.ReviewerType
            </div>
            <h6 class="col-6 col-form-label">@L("ReviewedBy") :</h6>
            <div class="col-6 col-form-label">
                @Model.Reviewers.ReviewedBy
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")