﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.Reviewers
@using MMB.ePay.Web.Areas.App.Startup
@model ReviewersViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.Reviewers;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/Reviewers/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("Reviewers")">
        @if (IsGranted(AppPermissions.Pages_Reviewers_Create))
        {
        <button id="CreateNewReviewersButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewReviewers")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="ReviewersTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("ReviewerType")</th>
                                <th>@L("ReviewedBy")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>