﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.TaxTables
@model CreateOrEditTaxTablesModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditTaxTables")) : L("CreateNewTaxTables")))

<div class="modal-body">
    <div id="TaxTablesInformationsTab">
        <form name="TaxTablesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.TaxTables.Id" />
                <input type="hidden" name="year" value="@Model.TaxTables.Year" />
                <input type="hidden" name="payFreq" value="@Model.TaxTables.PayFreq" />
                <input type="hidden" name="code" value="@Model.TaxTables.Code" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="TaxTables_Year">@L("Year")</label>
                    <div class="col-9">
                        <select class="form-control" asp-for="TaxTables.Year" asp-items="Model.YearList" name="year" disabled></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="TaxTables_PayFreq">@L("PayFreq")</label>
                    <div class="col-9">
                        <select class="form-control" asp-for="TaxTables.PayFreq" asp-items="Model.PayFreqList" name="payFreq" disabled></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="TaxTables_Code">@L("Code")</label>
                    <div class="col-9">
                        <select class="form-control" asp-for="TaxTables.Code" asp-items="Model.CodeList" name="code" disabled></select>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="TaxTables_Year">@L("Year")</label>
                    <div class="col-9">
                        <select class="form-control" id="TaxTables_Year" asp-for="TaxTables.Year" asp-items="Model.YearList" name="year"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="TaxTables_PayFreq">@L("PayFreq")</label>
                    <div class="col-9">
                        <select class="form-control" id="TaxTables_PayFreq" asp-for="TaxTables.PayFreq" asp-items="Model.PayFreqList" name="payFreq"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="TaxTables_Code">@L("Code")</label>
                    <div class="col-9">
                        <select class="form-control" id="TaxTables_Code" asp-for="TaxTables.Code" asp-items="Model.CodeList" name="code"></select>
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TaxTables_Bracket1">@L("Bracket1")</label>
                <div class="col-9">
                    <input class="form-control" id="TaxTables_Bracket1" required
                           value="@Model.TaxTables.Bracket1?.ToString(CultureInfo.InvariantCulture)" type="number" name="bracket1" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TaxTables_Bracket2">@L("Bracket2")</label>
                <div class="col-9">
                    <input class="form-control" id="TaxTables_Bracket2" required
                           value="@Model.TaxTables.Bracket2?.ToString(CultureInfo.InvariantCulture)" type="number" name="bracket2" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TaxTables_Bracket3">@L("Bracket3")</label>
                <div class="col-9">
                    <input class="form-control" id="TaxTables_Bracket3" required
                           value="@Model.TaxTables.Bracket3?.ToString(CultureInfo.InvariantCulture)" type="number" name="bracket3" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TaxTables_Bracket4">@L("Bracket4")</label>
                <div class="col-9">
                    <input class="form-control" id="TaxTables_Bracket4" required
                           value="@Model.TaxTables.Bracket4?.ToString(CultureInfo.InvariantCulture)" type="number" name="bracket4" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TaxTables_Bracket5">@L("Bracket5")</label>
                <div class="col-9">
                    <input class="form-control" id="TaxTables_Bracket5" required
                           value="@Model.TaxTables.Bracket5?.ToString(CultureInfo.InvariantCulture)" type="number" name="bracket5" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TaxTables_Bracket6">@L("Bracket6")</label>
                <div class="col-9">
                    <input class="form-control" id="TaxTables_Bracket6" required
                           value="@Model.TaxTables.Bracket6?.ToString(CultureInfo.InvariantCulture)" type="number" name="bracket6" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="TaxTables_Bracket7">@L("Bracket7")</label>
                <div class="col-9">
                    <input class="form-control" id="TaxTables_Bracket7" required
                           value="@Model.TaxTables.Bracket7?.ToString(CultureInfo.InvariantCulture)" type="number" name="bracket7" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")