﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.TaxTables
@model TaxTablesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="TaxTablesInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("Year") :</h6>
            <div class="col-6 col-form-label">
                @Model.TaxTables.Year
            </div>
            <h6 class="col-6 col-form-label">@L("PayFreq") :</h6>
            <div class="col-6 col-form-label">
                @Model.TaxTables.PayFreq
            </div>
            <h6 class="col-6 col-form-label">@L("Code") :</h6>
            <div class="col-6 col-form-label">
                @Model.TaxTables.Code
            </div>
            <h6 class="col-6 col-form-label">@L("Bracket1") :</h6>
            <div class="col-6 col-form-label">
                @Model.TaxTables.Bracket1
            </div>
            <h6 class="col-6 col-form-label">@L("Bracket2") :</h6>
            <div class="col-6 col-form-label">
                @Model.TaxTables.Bracket2
            </div>
            <h6 class="col-6 col-form-label">@L("Bracket3") :</h6>
            <div class="col-6 col-form-label">
                @Model.TaxTables.Bracket3
            </div>
            <h6 class="col-6 col-form-label">@L("Bracket4") :</h6>
            <div class="col-6 col-form-label">
                @Model.TaxTables.Bracket4
            </div>
            <h6 class="col-6 col-form-label">@L("Bracket5") :</h6>
            <div class="col-6 col-form-label">
                @Model.TaxTables.Bracket5
            </div>
            <h6 class="col-6 col-form-label">@L("Bracket6") :</h6>
            <div class="col-6 col-form-label">
                @Model.TaxTables.Bracket6
            </div>
            <h6 class="col-6 col-form-label">@L("Bracket7") :</h6>
            <div class="col-6 col-form-label">
                @Model.TaxTables.Bracket7
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")