﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.TaxTables
@using MMB.ePay.Web.Areas.App.Startup
@model TaxTablesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.TaxTables;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/TaxTables/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("TaxTables")">
        @if (IsGranted(AppPermissions.Pages_TaxTables_Create))
        {
        <button id="CreateNewTaxTablesButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewTaxTables")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="YearFilterId">@L("Year")</label>
                            <select class="form-control" name="yearIdFilter" id="YearFilterId" asp-items="Model.YearList"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="PayFreqFilterId">@L("PayFreq")</label>
                            <select class="form-control" name="payFreqIdFilter" id="PayFreqFilterId" asp-items="Model.PayFreqList"></select>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="TaxTablesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("Code")</th>
                                <th>@L("Bracket1")</th>
                                <th>@L("Bracket2")</th>
                                <th>@L("Bracket3")</th>
                                <th>@L("Bracket4")</th>
                                <th>@L("Bracket5")</th>
                                <th>@L("Bracket6")</th>
                                <th>@L("Bracket7")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>