﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OTSheetPosted
@model CreateOrEditOTSheetPostedModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditOTSheetPosted")) : L("CreateNewOTSheetPosted")))

<div class="modal-body">
    <div id="OTSheetPostedInformationsTab">
        <form name="OTSheetPostedInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.OTSheetPosted.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OTSheetPosted_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="OTSheetPosted_PayrollNo" value="@Model.OTSheetPosted.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OTSheetPosted_OvertimeType">@L("OvertimeType")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="OTSheetPosted.OvertimeTypeId" asp-items="Model.OvertimeTypeList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OTSheetPosted_CostCenter">@L("CostCenter")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="OTSheetPosted_CostCenter" value="@Model.OTSheetPosted.CostCenter?.ToString(CultureInfo.InvariantCulture)" type="number" name="costCenter" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OTSheetPosted_Hrs">@L("Hrs")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="OTSheetPosted_Hrs" value="@Model.OTSheetPosted.Hrs.ToString(CultureInfo.InvariantCulture)" type="number" name="hrs" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OTSheetPosted_Mins">@L("Mins")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="OTSheetPosted_Mins" value="@Model.OTSheetPosted.Mins.ToString(CultureInfo.InvariantCulture)" type="number" name="mins" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OTSheetPosted_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="OTSheetPosted_Amount" value="@Model.OTSheetPosted.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OTSheetPosted_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="OTSheetPosted_EmployeeId" value="@Model.OTSheetPosted.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")