﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Banks
@model CreateOrEditBanksModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditBanks")) : L("CreateNewBanks")))

<div class="modal-body">
    <div id="BanksInformationsTab">
        <form name="BanksInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Banks.Id" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="Banks_BankId">@L("BankCode")</label>
                    <div class="col-9">
                        <input class="form-control" value="@Model.Banks.Id" type="text" disabled />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="Banks_Id">@L("BankCode")</label>
                    <div class="col-9">
                        <input class="form-control" id="Banks_Id" value="@Model.Banks.DisplayName" type="text" name="id"
                               required maxlength="@MMB.ePay.Payroll.BanksConsts.MaxIdLength" minlength="@MMB.ePay.Payroll.BanksConsts.MinIdLength" />
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Banks_DisplayName">@L("BankName")</label>
                <div class="col-9">
                    <input class="form-control" id="Banks_DisplayName" value="@Model.Banks.DisplayName" type="text" name="displayName"
                           required maxlength="@MMB.ePay.Payroll.BanksConsts.MaxDisplayNameLength" minlength="@MMB.ePay.Payroll.BanksConsts.MinDisplayNameLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Banks_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control" id="Banks_Description" value="@Model.Banks.Description" type="text" name="description"
                           required maxlength="@MMB.ePay.Payroll.BanksConsts.MaxDescriptionLength" minlength="@MMB.ePay.Payroll.BanksConsts.MinDescriptionLength" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")