﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Banks
@model BanksViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="BanksInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("BankCode") :</h6>
            <div class="col-6 col-form-label">
                @Model.Banks.Id
            </div>
            <h6 class="col-6 col-form-label">@L("DisplayName") :</h6>
            <div class="col-6 col-form-label">
                @Model.Banks.DisplayName
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")