﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.PayrollTransactions
@using MMB.ePay.Web.Areas.App.Startup
@model PayrollTransactionsViewModel
@using MMB.ePay.Web.TagHelpers
@{
    ViewBag.CurrentPageName = AppPageNames.Common.PayrollTransactions;
}
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/_Bundles/IInputTypes.js" asp-append-version="true"></script>
    <script src="/view-resources/Areas/App/Views/_Bundles/dynamic-properties-index.js" asp-append-version="true"></script>
    <script src="/view-resources/Areas/App/Views/PayrollTransactions/Index.js" asp-append-version="true"></script>
    <script src="/view-resources/Areas/App/Views/Timesheets/Index.min.js" asp-append-version="true"></script>
}

<input type="hidden" id="SearchFilterId" value="0" />

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("PayrollTransactions")">
        @*<label for="SearchFilterName">@L("Search")</label> &nbsp; &nbsp; &nbsp;
        <input class="form-control" name="filter" id="SearchFilterName" />*@
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SearchFilterName">@L("Search")</label>
                            <input class="form-control" name="filter" id="SearchFilterName" />
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#timesheet" id="btnTimesheetTab" class="nav-link active" data-toggle="tab" role="tab" data-id="timesheet">
                            @L("Timesheet")
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#overtime" id="btnOvertimeTab" class="nav-link" data-toggle="tab" role="tab" data-id="overtime"
                           data-url="@Url.Action("Index","Overtimes")">
                            @L("Overtime")
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#income" id="btnIncomeTab" class="nav-link" data-toggle="tab" role="tab" data-id="income"
                           data-url="@Url.Action("Index","Earnings")">
                            @L("Income")
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#deduction" id="btnDeductionTab" class="nav-link" data-toggle="tab" role="tab" data-id="deduction"
                           data-url="@Url.Action("Index","Deductions")">
                            @L("Deduction")
                        </a>
                    </li>
                </ul>

                <div class="tab-content p-5">
                    @*TIMESHEET*@
                    <div id="timesheet" class="tab-pane active">
                        <div id="TimesheetTab" class="row">
                            <div class="col">
                                <div class="card card-custom gutter-b">
                                    <div class="card-header align-items-center">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="font-weight-bolder text-dark">@L("Timesheets")</span>
                                        </h3>
                                        <div class="card-toolbar">
                                            @if (IsGranted(AppPermissions.Pages_Timesheets_Edit))
                                            {
                                                <button id="saveBtnTimesheets" class="btn btn-success" disabled>
                                                    <i class="fa fa-save"></i>
                                                    @L("Update")
                                                </button>
                                            }
                                        </div>
                                    </div>
                                    <form name="TimesheetsInformationsForm" role="form" novalidate class="form-validation">
                                        <div class="card-body">
                                            <div class="form">
                                                <div class="row align-items-center">
                                                    <table id="TimesheetsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>@L("TimesheetType")</th>
                                                                <th width="30%">@L("Days")</th>
                                                                <th width="30%">@L("Hrs")</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach(var menu in Model.TimesheetTypesMenu)
                                                            {
                                                                <tr>
                                                                    <td>@menu</td>
                                                                    <td><input class="form-control" name="days" type="number" /></td>
                                                                    <td><input class="form-control" name="hrs" type="number" /></td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*OVERTIME*@
                    <div id="overtime" class="tab-pane">
                        <div id="OvertimeTab" class="row">
                            <div class="col">
                                <div class="card card-custom gutter-b">
                                    <div class="card-header align-items-center">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="font-weight-bolder text-dark">@L("OTSheet")</span>
                                        </h3>
                                        <div class="card-toolbar">
                                            @if (IsGranted(AppPermissions.Pages_OTSheet_Edit))
                                            {
                                                <button id="saveBtnOTSheet" class="btn btn-success" disabled>
                                                    <i class="fa fa-save"></i>
                                                    @L("Update")
                                                </button>
                                            }
                                        </div>
                                    </div>
                                    <form name="OTSheetInformationsForm" role="form" novalidate class="form-validation">
                                        <div class="card-body">
                                            <div class="form">
                                                <div class="row align-items-center">
                                                    <table id="OTSheetTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 100px">OT Type</th>
                                                                <th style="width: 100px">Description</th>
                                                                @foreach(var menu in Model.OvertimeSubTypesMenu)
                                                                {
                                                                    <th>@menu</th>
                                                                }
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var menu in Model.OvertimeMainTypesMenu)
                                                            {
                                                            <tr>
                                                                <td>@menu.Item1</td>
                                                                <td>@menu.Item2</td>
                                                                @for(var i = 0; i < Model.OvertimeSubTypesMenu.Count; i++)
                                                                {
                                                                    <td>
                                                                        <input class="form-control" name="rate" type="number" />
                                                                    </td>
                                                                }
                                                            </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*INCOME*@
                    <div id="income" class="tab-pane">
                        <div id="IncomeTab" class="row">
                            <div class="col">
                                <div class="card card-custom gutter-b">
                                    <div class="card-header align-items-center">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="font-weight-bolder text-dark">@L("OneTimeIncomes")</span>
                                        </h3>
                                        <div class="card-toolbar">
                                            @if (IsGranted(AppPermissions.Pages_Earnings_Create))
                                            {
                                                <button id="CreateNewEarningsButton" class="btn btn-primary blue" disabled>
                                                    <i class="fa fa-plus"></i>
                                                    @L("CreateNewOneTimeIncome")
                                                </button>
                                            }
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <table id="EarningsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th>@L("EarningType")</th>
                                                        <th>@L("Amount")</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-custom gutter-b">
                                    <div class="card-header align-items-center">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="font-weight-bolder text-dark">@L("RecurringIncomes")</span>
                                        </h3>
                                        <div class="card-toolbar">
                                            @if (IsGranted(AppPermissions.Pages_RecurEarnings_Create))
                                            {
                                                <button id="CreateNewRecurEarningsButton" class="btn btn-primary blue" disabled>
                                                    <i class="fa fa-plus"></i>
                                                    @L("CreateNewRecurringIncome")
                                                </button>
                                            }
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <table id="RecurEarningsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th>@L("EarningType")</th>
                                                        <th>@L("Amount")</th>
                                                        <th>@L("StartDate")</th>
                                                        <th>@L("EndDate")</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*DEDUCTIONS*@
                    <div id="deduction" class="tab-pane">
                        <div id="DeductionTab" class="row">
                            <div class="col">
                                <div class="card card-custom gutter-b">
                                    <div class="card-header align-items-center">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="font-weight-bolder text-dark">@L("OneTimeDeductions")</span>
                                        </h3>
                                        <div class="card-toolbar">
                                            @if (IsGranted(AppPermissions.Pages_Deductions_Create))
                                            {
                                                <button id="CreateNewDeductionsButton" class="btn btn-primary blue" disabled>
                                                    <i class="fa fa-plus"></i>
                                                    @L("CreateNewOneTimeDeduction")
                                                </button>
                                            }
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <table id="DeductionsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th>@L("DeductionType")</th>
                                                        <th>@L("Amount")</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-custom gutter-b">
                                    <div class="card-header align-items-center">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="font-weight-bolder text-dark">@L("RecurringDeductions")</span>
                                        </h3>
                                        <div class="card-toolbar">
                                            @if (IsGranted(AppPermissions.Pages_RecurDeductions_Create))
                                            {
                                                <button id="CreateNewRecurDeductionsButton" class="btn btn-primary blue" disabled>
                                                    <i class="fa fa-plus"></i>
                                                    @L("CreateNewRecurringDeduction")
                                                </button>
                                            }
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <table id="RecurDeductionsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th>@L("DeductionType")</th>
                                                        <th>@L("Amount")</th>
                                                        <th>@L("StartDate")</th>
                                                        <th>@L("EndDate")</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
