﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Employees
@model CreateOrEditEmployeesModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEmployees")) : L("CreateNewEmployees")))

<div class="modal-body">
    <div id="EmployeesInformationsTab">
        <form name="EmployeesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
        <input type="hidden" name="id" value="@Model.Employees.Id" />            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employees_EmployeeCode">@L("EmployeeCode")</label>
                <div class="col-9">
                    <input class="form-control" id="Employees_EmployeeCode" value="@Model.Employees.EmployeeCode" type="text" name="employeeCode" required maxlength="@MMB.ePay.HR.EmployeesConsts.MaxEmployeeCodeLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinEmployeeCodeLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employees_LastName">@L("LastName")</label>
                <div class="col-9">
                    <input class="form-control" id="Employees_LastName" value="@Model.Employees.LastName" type="text" name="lastName" required maxlength="@MMB.ePay.HR.EmployeesConsts.MaxLastNameLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinLastNameLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employees_FirstName">@L("FirstName")</label>
                <div class="col-9">
                    <input class="form-control" id="Employees_FirstName" value="@Model.Employees.FirstName" type="text" name="firstName" required maxlength="@MMB.ePay.HR.EmployeesConsts.MaxFirstNameLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinFirstNameLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employees_MiddleName">@L("MiddleName")</label>
                <div class="col-9">
                    <input class="form-control" id="Employees_MiddleName" value="@Model.Employees.MiddleName" type="text" name="middleName" maxlength="@MMB.ePay.HR.EmployeesConsts.MaxMiddleNameLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinMiddleNameLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employees_Email">@L("Email")</label>
                <div class="col-9">
                    <input class="form-control" id="Employees_Email" value="@Model.Employees.Email" type="text" name="email" maxlength="@MMB.ePay.HR.EmployeesConsts.MaxEmailLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinEmailLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employees_Address">@L("Address")</label>
                <div class="col-9">
                    <input class="form-control" id="Employees_Address" value="@Model.Employees.Address" type="text" name="address" maxlength="@MMB.ePay.HR.EmployeesConsts.MaxAddressLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinAddressLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employees_Position">@L("Position")</label>
                <div class="col-9">
                    <input class="form-control" id="Employees_Position" value="@Model.Employees.Position" type="text" name="position" maxlength="@MMB.ePay.HR.EmployeesConsts.MaxPositionLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinPositionLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employees_DateOfBirth">@L("DateOfBirth")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker" id="Employees_DateOfBirth" type="text" name="dateOfBirth" value="@Model.Employees.DateOfBirth" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employees_DateEmployed">@L("DateEmployed")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker" id="Employees_DateEmployed" type="text" name="dateEmployed" value="@Model.Employees.DateEmployed" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employees_DateTerminated">@L("DateTerminated")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker" id="Employees_DateTerminated" type="text" name="dateTerminated" value="@Model.Employees.DateTerminated" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employees_Gender">@L("Gender")</label>
                <div class="radio-inline col-9">
                    <label class="radio ">
                        <input asp-for="Employees.Gender" name="gender" class="form-control" type="radio" value="M">
                        <span></span>
                        Male
                    </label>
                    <label class="radio radio">
                        <input asp-for="Employees.Gender" name="gender" class="form-control" type="radio" value="F">
                        <span></span>
                        Female
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employees_EmploymentTypeId">@L("EmploymentType")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="Employees.EmploymentTypeId" asp-items="Model.EmploymentTypeList" name="employmentTypeId"></select>
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")