﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Employees
@model EmployeesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="EmployeesInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("EmployeeId") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employees.EmployeeId
            </div>
            <h6 class="col-6 col-form-label">@L("FullName") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employees.FullName
            </div>
            <h6 class="col-6 col-form-label">@L("Email") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employees.Email
            </div>
            <h6 class="col-6 col-form-label">@L("Address") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employees.Address
            </div>
            <h6 class="col-6 col-form-label">@L("Position") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employees.Position
            </div>
            <h6 class="col-6 col-form-label">@L("DateOfBirth") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employees.DateOfBirth?.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("DateEmployed") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employees.DateEmployed?.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("DateTerminated") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employees.DateTerminated?.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("Gender") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employees.Gender
            </div>
            <h6 class="col-6 col-form-label">@L("EmployeeStatus") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employees.EmployeeStatus
            </div>
            <h6 class="col-6 col-form-label">@L("EmploymentType") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employees.EmploymentType
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")