﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.Employees
@using MMB.ePay.Web.Areas.App.Startup
@model EmployeesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.Employees;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/Employees/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("Employees")">
        @if (IsGranted(AppPermissions.Pages_Employees_Create))
        {
        <button id="CreateNewEmployeesButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewEmployees")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SearchFilterId">@L("Search")</label>
                            <input class="form-control" name="filter" id="SearchFilterId" />
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="EmployeesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("Employee")</th>
                                <th>@L("EmployeeId")</th>
                                <th>@L("Position")</th>
                                <th>@L("Status")</th>
                                <th>@L("Type")</th>
                                <th>@L("DateEmployed")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>