﻿@using MMB.ePay.Web.Areas.App.Startup
@using MMB.ePay.Web.Areas.App.Models.Employees
@model ProfileEmployeesModalViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Common.Employees; }

@section Styles {
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/AuditLogs/index.css" asp-append-version="true" />
}

@section Scripts {
    <script src="/view-resources/Areas/App/Views/Employees/Profile.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("Profile")"></abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b col-md-10">
            <div class="card-body">
                <div id="SettingsTabPanel" class="tabbable-line">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a href="#PersonalTab" class="nav-link active" data-toggle="tab" role="tab">
                                @L("Personal")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#EmployeePayrollTab" class="nav-link" data-toggle="tab" role="tab">
                                @L("PayrollInfo")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#StatutoryInfoTab" class="nav-link" data-toggle="tab" role="tab">
                                @L("StatutoryInfo")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#EmployersTab" class="nav-link" data-toggle="tab" role="tab">
                                @L("PreviousEmployment")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#DependentsTab" class="nav-link" data-toggle="tab" role="tab">
                                @L("Dependents")
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="PersonalTab">
                            <form name="EmployeesInformationsForm" role="form" novalidate class="form-validation">
                                <input type="hidden" name="id" value="@Model.Employees.Id" />
                                <div class="row mb-3 mt-5">
                                    <div class="col-sm-12 text-right">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" id="btnPersonalCancel">
                                            @L("Back")
                                        </button>

                                        <input type="hidden" id="HasView" value="@Model.HasView" />
                                        @if (!Model.HasView)
                                        {
                                            <button type="button" class="btn btn-primary" id="btnPersonalSave">
                                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                                            </button>
                                        }
                                    </div>
                                </div>
                                <div class="form">
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_EmployeeCode">@L("EmployeeId")</label>
                                        <div class="col-9">
                                            <input class="form-control" id="Employees_EmployeeCode" value="@Model.Employees.EmployeeCode"
                                                   type="text" name="employeeCode"
                                                   required maxlength="@MMB.ePay.HR.EmployeesConsts.MaxEmployeeCodeLength"
                                                   minlength="@MMB.ePay.HR.EmployeesConsts.MinEmployeeCodeLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_LastName">@L("LastName")</label>
                                        <div class="col-9">
                                            <input class="form-control" id="Employees_LastName" value="@Model.Employees.LastName" type="text" name="lastName" required maxlength="@MMB.ePay.HR.EmployeesConsts.MaxLastNameLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinLastNameLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_FirstName">@L("FirstName")</label>
                                        <div class="col-9">
                                            <input class="form-control" id="Employees_FirstName" value="@Model.Employees.FirstName" type="text" name="firstName" required maxlength="@MMB.ePay.HR.EmployeesConsts.MaxFirstNameLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinFirstNameLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_MiddleName">@L("MiddleName")</label>
                                        <div class="col-9">
                                            <input class="form-control" id="Employees_MiddleName" value="@Model.Employees.MiddleName" type="text" name="middleName" maxlength="@MMB.ePay.HR.EmployeesConsts.MaxMiddleNameLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinMiddleNameLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_Email">@L("Email")</label>
                                        <div class="col-9">
                                            <input class="form-control" id="Employees_Email" value="@Model.Employees.Email" type="text" name="email" required maxlength="@MMB.ePay.HR.EmployeesConsts.MaxEmailLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinEmailLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_Gender">@L("Gender")</label>
                                        <div class="radio-inline col-9">
                                            <label class="radio ">
                                                <input asp-for="Employees.Gender" name="gender" class="form-control" type="radio" value="M">
                                                <span></span>
                                                Male
                                            </label>
                                            <label class="radio radio">
                                                <input asp-for="Employees.Gender" name="gender" class="form-control" type="radio" value="F">
                                                <span></span>
                                                Female
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_DateOfBirth">@L("DateOfBirth")</label>
                                        <div class="col-9">
                                            <input class="form-control m-input date-picker" id="Employees_DateOfBirth" type="text" name="dateOfBirth" value="@Model.Employees.DateOfBirth" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_DateEmployed">@L("DateEmployed")</label>
                                        <div class="col-9">
                                            <input class="form-control m-input date-picker" id="Employees_DateEmployed" type="text" name="dateEmployed" value="@Model.Employees.DateEmployed" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_DateTerminated">@L("ResignationDate")</label>
                                        <div class="col-9">
                                            <input class="form-control m-input date-picker" id="Employees_DateTerminated" type="text" name="dateTerminated" value="@Model.Employees.DateTerminated" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_Address">@L("Address")</label>
                                        <div class="col-9">
                                            <input class="form-control" id="Employees_Address" value="@Model.Employees.Address" type="text" name="address" maxlength="@MMB.ePay.HR.EmployeesConsts.MaxAddressLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinAddressLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_Position">@L("Position")</label>
                                        <div class="col-9">
                                            <input class="form-control" id="Employees_Position" value="@Model.Employees.Position" type="text" name="position" maxlength="@MMB.ePay.HR.EmployeesConsts.MaxPositionLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinPositionLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_EmployeeStatus">@L("Status")</label>
                                        <div class="col-9">
                                            <select asp-for="Employees.EmployeeStatus" class="form-control" id="Employees_EmployeeStatus"
                                                    asp-items="Model.EmployeeStatusList" name="employeeStatus"></select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_EmploymentTypeId">@L("EmploymentType")</label>
                                        <div class="col-9">
                                            <select asp-for="Employees.EmploymentTypeId" class="form-control" id="Employees_EmploymentTypeId"
                                                    asp-items="Model.EmploymentTypeList" name="employmentTypeId"></select>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <div class="tab-pane" id="EmployeePayrollTab">
                            <form name="EmployeePayrollForm" role="form" novalidate class="form-validation">
                                <div class="row mb-3 mt-5">
                                    <div class="col-sm-12 text-right">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" id="btnEmployeePayrollCancel">
                                            @L("Back")
                                        </button>

                                        @if (!Model.HasView)
                                        {
                                            <button type="button" class="btn btn-primary" id="btnEmployeePayrollSave">
                                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                                            </button>
                                        }
                                    </div>
                                </div>

                                <input type="hidden" id="EmployeePayroll_Id" name="id" value="@Model.EmployeePayroll.Id" />
                                <input type="hidden" id="EmployeePayroll_EmployeeId" name="employeeId" value="@Model.EmployeePayroll.EmployeeId" />

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="EmployeePayroll_PayCodeId">@L("PayCode")</label>
                                    <div class="col-9">
                                        <select asp-for="EmployeePayroll.PayCodeId" class="form-control" id="EmployeePayroll_PayCodeId"
                                                asp-items="Model.PayCodeList" name="payCodeId"></select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="EmployeePayroll_BankId">@L("Bank")</label>
                                    <div class="col-9">
                                        <select class="form-control" id="EmployeePayroll_BankId" asp-items="Model.BankList" name="bankId"></select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="EmployeePayroll_BankBranchId">@L("BankBranch")</label>
                                    <div class="col-9">
                                        <select asp-for="EmployeePayroll.BankBranchId" class="form-control" id="EmployeePayroll_BankBranchId"
                                                asp-items="Model.BankBranchList" name="bankBranchId"></select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="EmployeePayroll_BankAccountNo">@L("AccountNo")</label>
                                    <div class="col-9">
                                        <input class="form-control" id="EmployeePayroll_BankAccountNo" value="@Model.EmployeePayroll.BankAccountNo" type="text" name="bankAccountNo"
                                               maxlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MaxBankAccountNoLength"
                                               minlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MinBankAccountNoLength" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="EmployeePayroll_PayrollType">@L("PayrollType")</label>
                                    <div class="col-9">
                                        <input class="form-control" id="EmployeePayroll_PayrollType" value="@Model.EmployeePayroll.PayrollType" type="text" name="payrollType"
                                               maxlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MaxPayrollTypeLength"
                                               minlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MinPayrollTypeLength" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="EmployeePayroll_Salary">@L("Salary")</label>
                                    <div class="col-9">
                                        <input class="form-control" id="EmployeePayroll_Salary" value="@Model.EmployeePayroll.Salary" type="number" name="salary" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="EmployeePayroll_PagibigNumber">@L("PagibigNumber")</label>
                                    <div class="col-9">
                                        <input class="form-control" id="EmployeePayroll_PagibigNumber" value="@Model.EmployeePayroll.PagibigNumber" type="text" name="pagibigNumber"
                                               maxlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MaxPagibigNumberLength"
                                               minlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MinPagibigNumberLength" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="EmployeePayroll_PagibigAdd">@L("PagibigAdd")</label>
                                    <div class="col-9">
                                        <input class="form-control" id="EmployeePayroll_PagibigAdd" value="@Model.EmployeePayroll.PagibigAdd" type="number" name="pagibigAdd" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="EmployeePayroll_PagibigRate">@L("PagibigRate")</label>
                                    <div class="col-9">
                                        <input class="form-control" id="EmployeePayroll_PagibigRate" value="@Model.EmployeePayroll.PagibigRate" type="number" name="pagibigRate" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="EmployeePayroll_SSSNumber">@L("SSSNumber")</label>
                                    <div class="col-9">
                                        <input class="form-control" id="EmployeePayroll_SSSNumber" value="@Model.EmployeePayroll.SSSNumber" type="number" name="sssNumber" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="EmployeePayroll_TIN">@L("TIN")</label>
                                    <div class="col-9">
                                        <input class="form-control" id="EmployeePayroll_TIN" value="@Model.EmployeePayroll.TIN" type="text" name="tin"
                                               maxlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MaxTINLength"
                                               minlength="@MMB.ePay.Payroll.EmployeePayrollConsts.MinTINLength" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="EmployeePayroll_TaxRate">@L("TaxRate")</label>
                                    <div class="col-9">
                                        <input class="form-control" id="EmployeePayroll_TaxRate" value="@Model.EmployeePayroll.TaxRate" type="number" name="taxRate" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="EmployeePayroll_PaymentType">@L("PaymentType")</label>
                                    <div class="col-9">
                                        <select asp-for="EmployeePayroll.PaymentType" class="form-control" id="EmployeePayroll_PaymentType"
                                                asp-items="Model.PaymentTypeList" name="paymentType"></select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="EmployeePayroll_RankId">@L("Rank")</label>
                                    <div class="col-9">
                                        <select asp-for="EmployeePayroll.RankId" class="form-control" id="EmployeePayroll_RankId"
                                                asp-items="Model.RankList" name="rankId"></select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3">@L("Exemptions")</label>
                                    <div class="checkbox-list col-9">
                                        <label for="EmployeePayroll_OT_exempt" class="checkbox">
                                            <input class="form-control" id="EmployeePayroll_OT_exempt" type="checkbox" name="ot_exempt" value="true" asp-for="EmployeePayroll.OT_exempt" />
                                            <span></span>
                                            @L("Overtime")
                                        </label>
                                        <label for="EmployeePayroll_SSS_exempt" class="checkbox">
                                            <input class="form-control" id="EmployeePayroll_SSS_exempt" type="checkbox" name="sss_exempt" value="true" asp-for="EmployeePayroll.SSS_exempt" />
                                            <span></span>
                                            @L("SSS")
                                        </label>
                                        <label for="EmployeePayroll_PH_exempt" class="checkbox">
                                            <input class="form-control" id="EmployeePayroll_PH_exempt" type="checkbox" name="ph_exempt" value="true" asp-for="EmployeePayroll.PH_exempt" />
                                            <span></span>
                                            @L("PH")
                                        </label>
                                        <label for="EmployeePayroll_PAG_exempt" class="checkbox">
                                            <input class="form-control" id="EmployeePayroll_PAG_exempt" type="checkbox" name="pag_exempt" value="true" asp-for="EmployeePayroll.PAG_exempt" />
                                            <span></span>
                                            @L("Pag-ibig")
                                        </label>
                                        <label for="EmployeePayroll_Tax_exempt" class="checkbox">
                                            <input class="form-control" id="EmployeePayroll_Tax_exempt" type="checkbox" name="tax_exempt" value="true" asp-for="EmployeePayroll.Tax_exempt" />
                                            <span></span>
                                            @L("Tax")
                                        </label>
                                        <label for="EmployeePayroll_ComputeAsDaily" class="checkbox">
                                            <input class="form-control" id="EmployeePayroll_ComputeAsDaily" type="checkbox" name="computeAsDaily" value="true" asp-for="EmployeePayroll.ComputeAsDaily" />
                                            <span></span>
                                            @L("ComputeAsDaily")
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane" id="StatutoryInfoTab">
                            <form name="StatutoryInfoForm" role="form" novalidate class="form-validation">
                                <div class="row mb-3 mt-5">
                                    <div class="col-sm-12 text-right">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" id="btnStatutoryInfoCancel">
                                            @L("Back")
                                        </button>

                                        @if (!Model.HasView)
                                        {
                                            <button type="button" class="btn btn-primary" id="btnStatutoryInfoSave">
                                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                                            </button>
                                        }
                                    </div>
                                </div>

                                @for (var i = 0; i < Model.StatutoryTypeList.Count; i++)
                                {
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">@Model.StatutoryTypeList[i]</label>
                                        <div class="col-9">
                                            <input class="form-control" type="text" name="@Model.StatutoryTypeList[i]" value="@Model.StatutoryTypes[i]" />
                                        </div>
                                    </div>
                                }
                            </form>
                        </div>

                        <div class="tab-pane" id="EmployersTab">
                            <div class="row mb-3 mt-5">
                                <div class="col-sm-12 text-right">
                                    <button type="button" class="btn btn-light-primary font-weight-bold" id="btnEmployersCancel">
                                        @L("Back")
                                    </button>

                                    @if (!Model.HasView)
                                    {
                                        <button type="button" id="CreateNewEmployersButton" class="btn btn-primary blue">
                                            <i class="fa fa-plus"></i> @L("CreateNewEmployers")
                                        </button>
                                    }
                                </div>
                            </div>
                            <table id="EmployersTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        @*<th></th>*@
                                        <th></th>
                                        <th>@L("Employer")</th>
                                        <th>@L("BasicPay")</th>
                                        <th>@L("Deminimis")</th>
                                        <th>@L("GrossPay")</th>
                                        @*<th>@L("TxBonus")</th>
                                        <th>@L("TxOther")</th>
                                        <th>@L("WTax")</th>*@
                                        <th>@L("SSS")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="tab-pane" id="DependentsTab">
                            <div class="row mb-3 mt-5">
                                <div class="col-sm-12 text-right">
                                    <button type="button" class="btn btn-light-primary font-weight-bold" id="btnDependentsCancel">
                                        @L("Back")
                                    </button>

                                    @if (!Model.HasView)
                                    {
                                        <button type="button" id="CreateNewDependentsButton" class="btn btn-primary blue">
                                            <i class="fa fa-plus"></i> @L("CreateNewDependents")
                                        </button>
                                    }
                                </div>
                            </div>
                            <table id="DependentsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        @*<th></th>*@
                                        <th></th>
                                        <th>@L("Dependent")</th>
                                        <th>@L("BirthDate")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>