﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Employers
@model CreateOrEditEmployersModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEmployers")) : L("CreateNewEmployers")))

<div class="modal-body">
    <div id="EmployersInformationsTab">
        <form name="EmployersInformationsForm" role="form" novalidate class="form-validation">
            <input type="hidden" name="employeeId" value="@Model.Employers.EmployeeId" />

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Employers.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_EmployerName">@L("EmployerName")</label>
                <div class="col-9">
                    <input class="form-control" id="Employers_EmployerName" value="@Model.Employers.EmployerName" type="text" name="employerName" required maxlength="@MMB.ePay.Payroll.EmployersConsts.MaxEmployerNameLength" minlength="@MMB.ePay.Payroll.EmployersConsts.MinEmployerNameLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_EmployedFrom">@L("EmployedFrom")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker" id="Employers_EmployedFrom" type="text" name="employedFrom" value="@Model.Employers.EmployedFrom" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_EmployedTo">@L("EmployedTo")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker" id="Employers_EmployedTo" type="text" name="employedTo" value="@Model.Employers.EmployedTo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_TIN">@L("TIN")</label>
                <div class="col-9">
                    <input class="form-control" id="Employers_TIN" value="@Model.Employers.TIN" type="text" name="tin" maxlength="@MMB.ePay.Payroll.EmployersConsts.MaxTINLength" minlength="@MMB.ePay.Payroll.EmployersConsts.MinTINLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_Address1">@L("Address1")</label>
                <div class="col-9">
                    <input class="form-control" id="Employers_Address1" value="@Model.Employers.Address1" type="text" name="address1" maxlength="@MMB.ePay.Payroll.EmployersConsts.MaxAddress1Length" minlength="@MMB.ePay.Payroll.EmployersConsts.MinAddress1Length" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_Address2">@L("Address2")</label>
                <div class="col-9">
                    <input class="form-control" id="Employers_Address2" value="@Model.Employers.Address2" type="text" name="address2" maxlength="@MMB.ePay.Payroll.EmployersConsts.MaxAddress2Length" minlength="@MMB.ePay.Payroll.EmployersConsts.MinAddress2Length" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_BasicPay">@L("BasicPay")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="Employers_BasicPay" value="@Model.Employers.BasicPay?.ToString(CultureInfo.InvariantCulture)" type="number" name="basicPay" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_Deminimis">@L("Deminimis")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="Employers_Deminimis" value="@Model.Employers.Deminimis?.ToString(CultureInfo.InvariantCulture)" type="number" name="deminimis" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_GrossPay">@L("GrossPay")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="Employers_GrossPay" value="@Model.Employers.GrossPay?.ToString(CultureInfo.InvariantCulture)" type="number" name="grosspay" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_TxBonus">@L("TxBonus")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="Employers_TxBonus" value="@Model.Employers.TxBonus?.ToString(CultureInfo.InvariantCulture)" type="number" name="txBonus" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_TxOtherIncome">@L("TxOtherIncome")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="Employers_TxOtherIncome" value="@Model.Employers.TxOtherIncome?.ToString(CultureInfo.InvariantCulture)" type="number" name="txOtherIncome" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_NtxBonus">@L("NtxBonus")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="Employers_NtxBonus" value="@Model.Employers.NtxBonus?.ToString(CultureInfo.InvariantCulture)" type="number" name="ntxBonus" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_NtxOtherIncome">@L("NtxOtherIncome")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="Employers_NtxOtherIncome" value="@Model.Employers.NtxOtherIncome?.ToString(CultureInfo.InvariantCulture)" type="number" name="ntxOtherIncome" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_WTax">@L("WTax")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="Employers_WTax" value="@Model.Employers.WTax?.ToString(CultureInfo.InvariantCulture)" type="number" name="wTax" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_SSS">@L("SSS")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="Employers_SSS" value="@Model.Employers.SSS?.ToString(CultureInfo.InvariantCulture)" type="number" name="sss" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_Philhealth">@L("Philhealth")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="Employers_Philhealth" value="@Model.Employers.Philhealth?.ToString(CultureInfo.InvariantCulture)" type="number" name="philhealth" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Employers_Pagibig">@L("Pagibig")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="Employers_Pagibig" value="@Model.Employers.Pagibig?.ToString(CultureInfo.InvariantCulture)" type="number" name="pagibig" />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")