﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Employers
@model EmployersViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="EmployersInformationsTab">
        <div class="row">
            <h6 class="col-6 col-form-label">@L("EmployerName") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.EmployerName
            </div>
            <h6 class="col-6 col-form-label">@L("EmployedFrom") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.EmployedFrom.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("EmployedTo") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.EmployedTo?.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("TIN") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.TIN
            </div>
            <h6 class="col-6 col-form-label">@L("Address1") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.Address1
            </div>
            <h6 class="col-6 col-form-label">@L("Address2") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.Address2
            </div>
            <h6 class="col-6 col-form-label">@L("BasicPay") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.BasicPay
            </div>
            <h6 class="col-6 col-form-label">@L("Deminimis") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.Deminimis
            </div>
            <h6 class="col-6 col-form-label">@L("GrossPay") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.GrossPay
            </div>
            <h6 class="col-6 col-form-label">@L("TxBonus") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.TxBonus
            </div>
            <h6 class="col-6 col-form-label">@L("TxOtherIncome") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.TxOtherIncome
            </div>
            <h6 class="col-6 col-form-label">@L("NtxBonus") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.NtxBonus
            </div>
            <h6 class="col-6 col-form-label">@L("NtxOtherIncome") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.NtxOtherIncome
            </div>
            <h6 class="col-6 col-form-label">@L("WTax") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.WTax
            </div>
            <h6 class="col-6 col-form-label">@L("SSS") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.SSS
            </div>
            <h6 class="col-6 col-form-label">@L("Philhealth") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.Philhealth
            </div>
            <h6 class="col-6 col-form-label">@L("Pagibig") :</h6>
            <div class="col-6 col-form-label">
                @Model.Employers.Pagibig
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")