﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LoanProcess
@model CreateOrEditLoanProcessModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLoanProcess")) : L("CreateNewLoanProcess")))

<div class="modal-body">
    <div id="LoanProcessInformationsTab">
        <form name="LoanProcessInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.LoanProcess.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LoanProcess_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="LoanProcess_PayrollNo" value="@Model.LoanProcess.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LoanProcess_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="LoanProcess_Amount" value="@Model.LoanProcess.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LoanProcess_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="LoanProcess_EmployeeId" value="@Model.LoanProcess.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LoanProcess_EmployeeLoanId">@L("EmployeeLoanId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="LoanProcess_EmployeeLoanId" value="@Model.LoanProcess.EmployeeLoanId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeLoanId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")