﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LoanProcess
@model LoanProcessViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="LoanProcessInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.LoanProcess.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.LoanProcess.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.LoanProcess.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeLoanId") :</h6>
                @Model.LoanProcess.EmployeeLoanId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")