﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.LoanProcess
@using MMB.ePay.Web.Areas.App.Startup
@model LoanProcessViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.LoanProcess;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/LoanProcess/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("LoanProcess")" description="@L("LoanProcessHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_LoanProcess_Create))
        {
        <button id="CreateNewLoanProcessButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewLoanProcess")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="LoanProcessTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetLoanProcessButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinPayrollNoFilterId">@L("MinMax") @L("PayrollNo")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minPayrollNoFilter" id="MinPayrollNoFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxPayrollNoFilter" id="MaxPayrollNoFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinAmountFilterId">@L("MinMax") @L("Amount")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minAmountFilter" id="MinAmountFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxAmountFilter" id="MaxAmountFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinEmployeeIdFilterId">@L("MinMax") @L("EmployeeId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minEmployeeIdFilter" id="MinEmployeeIdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxEmployeeIdFilter" id="MaxEmployeeIdFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinEmployeeLoanIdFilterId">@L("MinMax") @L("EmployeeLoanId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minEmployeeLoanIdFilter" id="MinEmployeeLoanIdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxEmployeeLoanIdFilter" id="MaxEmployeeLoanIdFilterId" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="LoanProcessTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("PayrollNo")</th>
                                <th>@L("Amount")</th>
                                <th>@L("EmployeeId")</th>
                                <th>@L("EmployeeLoanId")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>