﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EarningTypeSettings
@model CreateOrEditEarningTypeSettingsModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEarningTypeSettings")) : L("CreateNewEarningTypeSettings")))

<div class="modal-body">
    <div id="EarningTypeSettingsInformationsTab">
        <form name="EarningTypeSettingsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.EarningTypeSettings.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningTypeSettings_Key">@L("Key")</label>
                <div class="col-9">
                    <input class="form-control" id="EarningTypeSettings_Key" value="@Model.EarningTypeSettings.Key" type="text" name="key" required maxlength="@MMB.ePay.Payroll.EarningTypeSettingsConsts.MaxKeyLength" minlength="@MMB.ePay.Payroll.EarningTypeSettingsConsts.MinKeyLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningTypeSettings_Value">@L("Value")</label>
                <div class="col-9">
                    <input class="form-control" id="EarningTypeSettings_Value" value="@Model.EarningTypeSettings.Value" type="text" name="value" required maxlength="@MMB.ePay.Payroll.EarningTypeSettingsConsts.MaxValueLength" minlength="@MMB.ePay.Payroll.EarningTypeSettingsConsts.MinValueLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningTypeSettings_EarningTypeId">@L("EarningTypeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningTypeSettings_EarningTypeId" value="@Model.EarningTypeSettings.EarningTypeId.ToString(CultureInfo.InvariantCulture)" type="number" name="earningTypeId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")