﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.EarningTypeSettings
@using MMB.ePay.Web.Areas.App.Startup
@model EarningTypeSettingsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.EarningTypeSettings;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/EarningTypeSettings/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("EarningTypeSettings")" description="@L("EarningTypeSettingsHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_EarningTypeSettings_Create))
        {
        <button id="CreateNewEarningTypeSettingsButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewEarningTypeSettings")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="EarningTypeSettingsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetEarningTypeSettingsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="KeyFilterId">@L("Key")</label>
                            <input type="text" class="form-control" name="keyFilter" id="KeyFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ValueFilterId">@L("Value")</label>
                            <input type="text" class="form-control" name="valueFilter" id="ValueFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinEarningTypeIdFilterId">@L("MinMax") @L("EarningTypeId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minEarningTypeIdFilter" id="MinEarningTypeIdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxEarningTypeIdFilter" id="MaxEarningTypeIdFilterId" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="EarningTypeSettingsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("Key")</th>
                                <th>@L("Value")</th>
                                <th>@L("EarningTypeId")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>