﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.OvertimeMainTypes
@using MMB.ePay.Web.Areas.App.Startup
@model OvertimeMainTypesViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.OvertimeFormats;
}
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/OvertimeFormats/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("OvertimeFormats")"></abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="row">
            <div class="col">
                <div class="card card-custom gutter-b">
                    <div class="card-header align-items-center mt-4">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="font-weight-bolder text-dark">@L("OvertimeMainTypes")</span>
                        </h3>
                        <div class="card-toolbar">
                            @if (IsGranted(AppPermissions.Pages_OvertimeMainTypes_Create))
                            {
                                <button id="CreateNewOvertimeMainTypesButton" class="btn btn-primary blue">
                                    <i class="fa fa-plus"></i>
                                    @L("CreateNewOvertimeMainTypes")
                                </button>
                            }
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center">
                            <table id="OvertimeMainTypesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>@L("DisplayName")</th>
                                        <th>@L("Description")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-custom gutter-b">
                    <div class="card-header align-items-center mt-4">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="font-weight-bolder text-dark">@L("OvertimeSubTypes")</span>
                        </h3>
                        <div class="card-toolbar">
                            @if (IsGranted(AppPermissions.Pages_OvertimeSubTypes_Create))
                            {
                                <button id="CreateNewOvertimeSubTypesButton" class="btn btn-primary blue">
                                    <i class="fa fa-plus"></i>
                                    @L("CreateNewOvertimeSubTypes")
                                </button>
                            }
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center">
                            <table id="OvertimeSubTypesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>@L("DisplayName")</th>
                                        <th>@L("Description")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>