﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.PaySettings
@model CreateOrEditPaySettingsModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditPaySettings")) : L("CreateNewPaySettings")))

<div class="modal-body">
    <div id="PaySettingsInformationsTab">
        <form name="PaySettingsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.PaySettings.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PaySettings_Key">@L("Key")</label>
                <div class="col-9">
                    <input class="form-control" id="PaySettings_Key" value="@Model.PaySettings.Key" type="text" name="key" required maxlength="@MMB.ePay.Payroll.PaySettingsConsts.MaxKeyLength" minlength="@MMB.ePay.Payroll.PaySettingsConsts.MinKeyLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PaySettings_Value">@L("Value")</label>
                <div class="col-9">
                    <input class="form-control" id="PaySettings_Value" value="@Model.PaySettings.Value" type="text" name="value" required maxlength="@MMB.ePay.Payroll.PaySettingsConsts.MaxValueLength" minlength="@MMB.ePay.Payroll.PaySettingsConsts.MinValueLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PaySettings_DataType">@L("DataType")</label>
                <div class="col-9">
                    <input class="form-control" id="PaySettings_DataType" value="@Model.PaySettings.DataType" type="text" name="dataType" required maxlength="@MMB.ePay.Payroll.PaySettingsConsts.MaxDataTypeLength" minlength="@MMB.ePay.Payroll.PaySettingsConsts.MinDataTypeLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PaySettings_Caption">@L("Caption")</label>
                <div class="col-9">
                    <input class="form-control" id="PaySettings_Caption" value="@Model.PaySettings.Caption" type="text" name="caption" required maxlength="@MMB.ePay.Payroll.PaySettingsConsts.MaxCaptionLength" minlength="@MMB.ePay.Payroll.PaySettingsConsts.MinCaptionLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PaySettings_DisplayOrder">@L("DisplayOrder")</label>
                <div class="col-9">
                    <input class="form-control" id="PaySettings_DisplayOrder" value="@Model.PaySettings.DisplayOrder?.ToString(CultureInfo.InvariantCulture)" type="number" name="displayOrder" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PaySettings_GroupSettingId">@L("GroupSettingId")</label>
                <div class="col-9">
                    <select class="form-control" asp-for="PaySettings.GroupSettingId" asp-items="Model.GroupSettingList"></select>
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")