﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.PaySettings
@model PaySettingsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="PaySettingsInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Key") :</h6>
                @Model.PaySettings.Key
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Value") :</h6>
                @Model.PaySettings.Value
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DataType") :</h6>
                @Model.PaySettings.DataType
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Caption") :</h6>
                @Model.PaySettings.Caption
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DisplayOrder") :</h6>
                @Model.PaySettings.DisplayOrder
            </div>
            <div class="col-6 mb-3">
                <h6>@L("GroupSetting") :</h6>
                @Model.PaySettings.GroupSetting
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")