﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ContactPersons
@model CreateOrEditContactPersonsModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditContactPersons")) : L("CreateNewContactPersons")))

<div class="modal-body">
    <div id="ContactPersonsInformationsTab">
        <form name="ContactPersonsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.ContactPersons.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ContactPersons_FullName">@L("FullName")</label>
                <div class="col-9">
                    <input class="form-control" id="ContactPersons_FullName" value="@Model.ContactPersons.FullName" type="text" name="fullName"
                           maxlength="@MMB.ePay.Payroll.ContactPersonsConsts.MaxFullNameLength"
                           minlength="@MMB.ePay.Payroll.ContactPersonsConsts.MinFullNameLength" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label" for="ContactPersons_ContactNo">@L("ContactNo")</label>
                <div class="col-9">
                    <input class="form-control" id="ContactPersons_ContactNo" value="@Model.ContactPersons.ContactNo" type="text" name="contactNo"
                           maxlength="@MMB.ePay.Payroll.ContactPersonsConsts.MaxContactNoLength"
                           minlength="@MMB.ePay.Payroll.ContactPersonsConsts.MinContactNoLength" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label" for="ContactPersons_Position">@L("Position")</label>
                <div class="col-9">
                    <input class="form-control" id="ContactPersons_Position" value="@Model.ContactPersons.Position" type="text" name="position"
                           maxlength="@MMB.ePay.Payroll.ContactPersonsConsts.MaxPositionLength"
                           minlength="@MMB.ePay.Payroll.ContactPersonsConsts.MinPositionLength" />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")