﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ContactPersons
@model ContactPersonsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ContactPersonsInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("FullName") :</h6>
            <div class="col-6 col-form-label">
                @Model.ContactPersons.FullName
            </div>
            <h6 class="col-6 col-form-label">@L("ContactNo") :</h6>
            <div class="col-6 col-form-label">
                @Model.ContactPersons.ContactNo
            </div>
            <h6 class="col-6 col-form-label">@L("Position") :</h6>
            <div class="col-6 col-form-label">
                @Model.ContactPersons.Position
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")