﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.ContactPersons
@using MMB.ePay.Web.Areas.App.Startup
@model ContactPersonsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.ContactPersons;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/ContactPersons/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("ContactPersons")">
        @if (IsGranted(AppPermissions.Pages_ContactPersons_Create))
        {
        <button id="CreateNewContactPersonsButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewContactPersons")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="ContactPersonsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("FullName")</th>
                                <th>@L("ContactNo")</th>
                                <th>@L("Position")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>