﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EarningPosted
@model CreateOrEditEarningPostedModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEarningPosted")) : L("CreateNewEarningPosted")))

<div class="modal-body">
    <div id="EarningPostedInformationsTab">
        <form name="EarningPostedInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.EarningPosted.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningPosted_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningPosted_PayrollNo" value="@Model.EarningPosted.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningPosted_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningPosted_Amount" value="@Model.EarningPosted.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningPosted_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningPosted_EmployeeId" value="@Model.EarningPosted.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningPosted_EarningTypeId">@L("EarningTypeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningPosted_EarningTypeId" value="@Model.EarningPosted.EarningTypeId.ToString(CultureInfo.InvariantCulture)" type="number" name="earningTypeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningPosted_RecurEarningId">@L("RecurEarningId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningPosted_RecurEarningId" value="@Model.EarningPosted.RecurEarningId.ToString(CultureInfo.InvariantCulture)" type="number" name="recurEarningId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")