﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Earnings
@model CreateOrEditEarningsModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEarnings")) : L("CreateNewEarnings")))

<div class="modal-body">
    <div id="EarningsInformationsTab">
        <form name="EarningsInformationsForm" role="form" novalidate class="form-validation">
            <input type="hidden" name="employeeId" value="@Model.Earnings.EmployeeId" />

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Earnings.Id" />
                <input type="hidden" name="earningTypeId" value="@Model.Earnings.EarningTypeId" />
                <input type="hidden" name="payrollNo" value="@Model.Earnings.PayrollNo" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="Earnings_EarningTypeId">@L("EarningType")</label>
                    <div class="col-9">
                        <select class="form-control" asp-for="Earnings.EarningTypeId" asp-items="Model.EarningTypeList" disabled></select>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="Earnings_EarningTypeId">@L("EarningType")</label>
                    <div class="col-9">
                        <select class="form-control" id="Earnings_EarningTypeId" name="earningTypeId"
                                asp-for="Earnings.EarningTypeId" asp-items="Model.EarningTypeList"></select>
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Earnings_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="Earnings_Amount" value="@Model.Earnings.Amount?.ToString(CultureInfo.InvariantCulture)" required type="number" name="amount" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")