﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Ranks
@model CreateOrEditRanksModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditRanks")) : L("CreateNewRanks")))

<div class="modal-body">
    <div id="RanksInformationsTab">
        <form name="RanksInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
<input type="hidden" name="id" value="@Model.Ranks.Id" />            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Ranks_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control" id="Ranks_Description" value="@Model.Ranks.Description" type="text" name="description" required maxlength="@MMB.ePay.Payroll.RanksConsts.MaxDescriptionLength" minlength="@MMB.ePay.Payroll.RanksConsts.MinDescriptionLength" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")