﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LoanTypes
@model CreateOrEditLoanTypesModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLoanTypes")) : L("CreateNewLoanTypes")))

<div class="modal-body">
    <div id="LoanTypesInformationsTab">
        <form name="LoanTypesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.LoanTypes.Id" />
                <input type="hidden" name="sysCode" value="@Model.LoanTypes.SysCode" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="LoanTypes_SysCode">@L("SysCode")</label>
                    <div class="col-9">
                        <input class="form-control" value="@Model.LoanTypes.SysCode" type="text" disabled />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="LoanTypes_SysCode">@L("SysCode")</label>
                    <div class="col-9">
                        <input class="form-control" id="LoanTypes_SysCode" value="@Model.LoanTypes.SysCode" type="text" name="sysCode"
                               required maxlength="@MMB.ePay.Payroll.LoanTypesConsts.MaxSysCodeLength" minlength="@MMB.ePay.Payroll.LoanTypesConsts.MinSysCodeLength" />
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LoanTypes_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control" id="LoanTypes_Description" value="@Model.LoanTypes.Description" type="text" name="description" required maxlength="@MMB.ePay.Payroll.LoanTypesConsts.MaxDescriptionLength" minlength="@MMB.ePay.Payroll.LoanTypesConsts.MinDescriptionLength" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")