﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LoanTypes
@model LoanTypesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="LoanTypesInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("SysCode") :</h6>
            <div class="col-6 col-form-label">
                @Model.LoanTypes.SysCode
            </div>
            <h6 class="col-6 col-form-label">@L("Description") :</h6>
            <div class="col-6 col-form-label">
                @Model.LoanTypes.Description
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")