﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.RecurEarnings
@model CreateOrEditRecurEarningsModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditRecurEarnings")) : L("CreateNewRecurEarnings")))

<div class="modal-body">
    <div id="RecurEarningsInformationsTab">
        <form name="RecurEarningsInformationsForm" role="form" novalidate class="form-validation">
            <input type="hidden" name="employeeId" value="@Model.RecurEarnings.EmployeeId" />

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.RecurEarnings.Id" />
                <input type="hidden" name="earningTypeId" value="@Model.RecurEarnings.EarningTypeId" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="RecurEarnings_EarningTypeId">@L("EarningType")</label>
                    <div class="col-9">
                        <select class="form-control" asp-for="RecurEarnings.EarningTypeId" asp-items="Model.EarningTypeList" disabled></select>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="RecurEarnings_EarningTypeId">@L("EarningType")</label>
                    <div class="col-9">
                        <select class="form-control" id="RecurEarnings_EarningTypeId" name="earningTypeId" asp-for="RecurEarnings.EarningTypeId" asp-items="Model.EarningTypeList"></select>
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="RecurEarnings_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control" id="RecurEarnings_Amount" value="@Model.RecurEarnings.Amount?.ToString(CultureInfo.InvariantCulture)" required type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="RecurEarnings_StartDate">@L("StartDate")</label>
                <div class="col-9">
                    <input class="form-control date-picker" id="RecurEarnings_StartDate" type="text" name="startDate" required value="@Model.RecurEarnings.StartDate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="RecurEarnings_EndDate">@L("EndDate")</label>
                <div class="col-9">
                    <input class="form-control date-picker" id="RecurEarnings_EndDate" type="text" name="endDate" required value="@Model.RecurEarnings.EndDate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="RecurEarnings_Frequency">@L("Frequency")</label>
                <div class="checkbox-list">
                    @{
                        var payFreq = Model.RecurEarnings.PayFreq;
                    }

                    @if (payFreq == "M" || payFreq == "S" || payFreq == "W")
                    {
                        <label class="checkbox">
                            <input type="checkbox" name="firstPeriod" class="form-control" asp-for="RecurEarnings.FirstPeriod" />
                            <span></span>
                            1st Period
                        </label>
                    }

                    @if (payFreq == "S" || payFreq == "W")
                    {
                        <label class="checkbox">
                            <input type="checkbox" name="secondPeriod" class="form-control" asp-for="RecurEarnings.SecondPeriod" />
                            <span></span>
                            2nd Period
                        </label>
                    }

                    @if (payFreq == "W")
                    {
                        <label class="checkbox">
                            <input type="checkbox" name="thirdPeriod" class="form-control" asp-for="RecurEarnings.ThirdPeriod" />
                            <span></span>
                            3rd Period
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="fourthPeriod" class="form-control" asp-for="RecurEarnings.FourthPeriod" />
                            <span></span>
                            4th Period
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="lastPeriod" class="form-control" asp-for="RecurEarnings.LastPeriod" />
                            <span></span>
                            Last Period
                        </label>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")