﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.RecurEarnings
@model RecurEarningsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="RecurEarningsInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.RecurEarnings.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Frequency") :</h6>
                @Model.RecurEarnings.Frequency
            </div>
            <div class="col-6 mb-3">
                <h6>@L("StartDate") :</h6>
                @Model.RecurEarnings.StartDate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EndDate") :</h6>
                @Model.RecurEarnings.EndDate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.RecurEarnings.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EarningTypeId") :</h6>
                @Model.RecurEarnings.EarningTypeId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")