﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EarningProcess
@model CreateOrEditEarningProcessModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEarningProcess")) : L("CreateNewEarningProcess")))

<div class="modal-body">
    <div id="EarningProcessInformationsTab">
        <form name="EarningProcessInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.EarningProcess.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningProcess_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningProcess_PayrollNo" value="@Model.EarningProcess.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningProcess_Amount">@L("Amount")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningProcess_Amount" value="@Model.EarningProcess.Amount.ToString(CultureInfo.InvariantCulture)" type="number" name="amount" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningProcess_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningProcess_EmployeeId" value="@Model.EarningProcess.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningProcess_EarningTypeId">@L("EarningTypeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="EarningProcess_EarningTypeId" value="@Model.EarningProcess.EarningTypeId.ToString(CultureInfo.InvariantCulture)" type="number" name="earningTypeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="EarningProcess_RecurEarningId">@L("RecurEarningId")</label>
                <div class="col-9">
                    <input class="form-control" id="EarningProcess_RecurEarningId" value="@Model.EarningProcess.RecurEarningId" type="text" name="recurEarningId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")