﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EarningProcess
@model EarningProcessViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="EarningProcessInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.EarningProcess.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Amount") :</h6>
                @Model.EarningProcess.Amount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.EarningProcess.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EarningTypeId") :</h6>
                @Model.EarningProcess.EarningTypeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("RecurEarningId") :</h6>
                @Model.EarningProcess.RecurEarningId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")