﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.PayrollPosted
@model CreateOrEditPayrollPostedModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditPayrollPosted")) : L("CreateNewPayrollPosted")))

<div class="modal-body">
    <div id="PayrollPostedInformationsTab">
        <form name="PayrollPostedInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.PayrollPosted.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_PayrollNo">@L("PayrollNo")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_PayrollNo" value="@Model.PayrollPosted.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_Salary">@L("Salary")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_Salary" value="@Model.PayrollPosted.Salary.ToString(CultureInfo.InvariantCulture)" type="number" name="salary" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_DailyRate">@L("DailyRate")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_DailyRate" value="@Model.PayrollPosted.DailyRate.ToString(CultureInfo.InvariantCulture)" type="number" name="dailyRate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_HourlyRate">@L("HourlyRate")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_HourlyRate" value="@Model.PayrollPosted.HourlyRate.ToString(CultureInfo.InvariantCulture)" type="number" name="hourlyRate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_Timesheet">@L("Timesheet")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_Timesheet" value="@Model.PayrollPosted.Timesheet.ToString(CultureInfo.InvariantCulture)" type="number" name="timesheet" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_Overtime">@L("Overtime")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_Overtime" value="@Model.PayrollPosted.Overtime.ToString(CultureInfo.InvariantCulture)" type="number" name="overtime" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_TxEarningAmt">@L("TxEarningAmt")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_TxEarningAmt" value="@Model.PayrollPosted.TxEarningAmt.ToString(CultureInfo.InvariantCulture)" type="number" name="txEarningAmt" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_NtxEarningAmt">@L("NtxEarningAmt")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_NtxEarningAmt" value="@Model.PayrollPosted.NtxEarningAmt.ToString(CultureInfo.InvariantCulture)" type="number" name="ntxEarningAmt" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_DedTaxAmt">@L("DedTaxAmt")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_DedTaxAmt" value="@Model.PayrollPosted.DedTaxAmt.ToString(CultureInfo.InvariantCulture)" type="number" name="dedTaxAmt" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_DeductionAmt">@L("DeductionAmt")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_DeductionAmt" value="@Model.PayrollPosted.DeductionAmt.ToString(CultureInfo.InvariantCulture)" type="number" name="deductionAmt" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_LoanAmt">@L("LoanAmt")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_LoanAmt" value="@Model.PayrollPosted.LoanAmt.ToString(CultureInfo.InvariantCulture)" type="number" name="loanAmt" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_BasicPay">@L("BasicPay")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_BasicPay" value="@Model.PayrollPosted.BasicPay.ToString(CultureInfo.InvariantCulture)" type="number" name="basicPay" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_GrossPay">@L("GrossPay")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_GrossPay" value="@Model.PayrollPosted.GrossPay.ToString(CultureInfo.InvariantCulture)" type="number" name="grossPay" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_NetPay">@L("NetPay")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_NetPay" value="@Model.PayrollPosted.NetPay.ToString(CultureInfo.InvariantCulture)" type="number" name="netPay" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_EmployeeId">@L("EmployeeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_EmployeeId" value="@Model.PayrollPosted.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_PayCodeId">@L("PayCodeId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_PayCodeId" value="@Model.PayrollPosted.PayCodeId.ToString(CultureInfo.InvariantCulture)" type="number" name="payCodeId" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="PayrollPosted_BankBranchId">@L("BankBranchId")</label>
                <div class="col-9">
                    <input class="form-control m-input" id="PayrollPosted_BankBranchId" value="@Model.PayrollPosted.BankBranchId.ToString(CultureInfo.InvariantCulture)" type="number" name="bankBranchId" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")