﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.PayrollPosted
@model PayrollPostedViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="PayrollPostedInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PayrollNo") :</h6>
                @Model.PayrollPosted.PayrollNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Salary") :</h6>
                @Model.PayrollPosted.Salary
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DailyRate") :</h6>
                @Model.PayrollPosted.DailyRate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("HourlyRate") :</h6>
                @Model.PayrollPosted.HourlyRate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Timesheet") :</h6>
                @Model.PayrollPosted.Timesheet
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Overtime") :</h6>
                @Model.PayrollPosted.Overtime
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TxEarningAmt") :</h6>
                @Model.PayrollPosted.TxEarningAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("NtxEarningAmt") :</h6>
                @Model.PayrollPosted.NtxEarningAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DedTaxAmt") :</h6>
                @Model.PayrollPosted.DedTaxAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DeductionAmt") :</h6>
                @Model.PayrollPosted.DeductionAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("LoanAmt") :</h6>
                @Model.PayrollPosted.LoanAmt
            </div>
            <div class="col-6 mb-3">
                <h6>@L("BasicPay") :</h6>
                @Model.PayrollPosted.BasicPay
            </div>
            <div class="col-6 mb-3">
                <h6>@L("GrossPay") :</h6>
                @Model.PayrollPosted.GrossPay
            </div>
            <div class="col-6 mb-3">
                <h6>@L("NetPay") :</h6>
                @Model.PayrollPosted.NetPay
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.PayrollPosted.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PayCodeId") :</h6>
                @Model.PayrollPosted.PayCodeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("BankBranchId") :</h6>
                @Model.PayrollPosted.BankBranchId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")