﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForEmployeePayslip

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    @*<link href="~/view-resources/Areas/App/Views/Reports/report.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        table {
            font-size: 10px;
            width: 100%;
            border-collapse: collapse;
        }

        tr, td {
            padding-bottom: 10px;
        }

        .summary {
            padding-top: 10px;
        }

        .summary div {
            font-size: 10px;
        }

        .summary-container {
            margin-top: 10px;
            width: 23%;
            float: left;
            margin-left: 5px;
            margin-right: 5px;
        }

        .summary-header {
            text-align: center;
            padding-bottom: 5px;
            
        }

        .summary-item {
            font-size: 9px;
        }

        .summary-total {
            align-items: center;
            margin-top: 10px;
            font-size: 9px;
            border-top: 1px solid;
            border-bottom: 1px solid;
        }

        .summary-none {
            margin-top: 10px;
            border-top: 1px dashed;
            border-bottom: 1px dashed;
            text-align: center;
        }
    </style>
</head>
<body>

    @foreach (var payslip in Model.EmployeePayslip)
    {
        <table>
            <tr>
                <td>Company Name:</td>
                <td><b>@payslip.CompanyName</b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Emp. No. / Name:</td>
                <td>@payslip.Employee</td>
                <td></td>
                <td>Period: @payslip.Period</td>
                <td>Pay Date: @payslip.PayDate.ToString("MM/dd/yyyy")</td>
            </tr>
            <tr>
                <td>Tax Exemption:</td>
                <td></td>
                <td></td>
                <td>Cut-off period: @payslip.CutOffPeriod</td>
                <td></td>
            </tr>
        </table>

        <div class="summary">
            <div class="summary-container">
                <div class="summary-header">
                    INCOME
                </div>
                <div class="summary-body">
                    @if (payslip.Income.Count > 0)
                    {
                        <table class="summary-item">
                            @foreach(var income in payslip.Income)
                            { 
                                <tr>
                                    <td>@income.Item1</td>
                                    <td>@income.Item2</td>
                                    <td>@income.Item3</td>
                                </tr>
                            }
                            <tr class="summary-total"> 
                                <td>Total Income:</td>
                                <td></td>
                                <td>@payslip.Income.Sum(e => e.Item3)</td>
                            </tr>
                        </table>
                    }
                    else
                    {
                        <div class="summary-none">
                            none
                        </div>
                    }
                </div>
            </div>
            <div class="summary-container">
                <div class="summary-header">
                    DEDUCTIONS
                </div>
                <div class="summary-body">
                    @if (payslip.Deductions.Count > 0)
                    {
                        <table class="summary-item">
                            @foreach (var deduction in payslip.Deductions)
                            {
                                <tr>
                                    <td>@deduction.Item1</td>
                                    <td>@deduction.Item2</td>
                                </tr>
                            }
                            <tr class="summary-total"> 
                                <td>Total Deductions:</td>
                                <td>@payslip.Deductions.Sum(e => e.Item2)</td>
                            </tr>
                        </table>
                    }
                    else
                    {
                        <div class="summary-none">
                            none
                        </div>
                    }
                </div>
            </div>
            <div class="summary-container">
                <div class="summary-header">
                    NET PAY
                </div>
                <div class="summary-body">
                    @if (payslip.NetPay.Count > 0)
                    {
                        <table class="summary-item">
                            @foreach (var netPay in payslip.NetPay)
                            {
                                <tr>
                                    <td>@netPay.Item1</td>
                                    <td>@netPay.Item2</td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <div class="summary-none">
                            none
                        </div>
                    }
                </div>

                <div class="summary-header" style="margin-top: 10px; border-top: 1px solid; border-bottom: 1px solid;">
                    Year-to-Date Summary
                </div>
                <div class="summary-body">
                    @if (payslip.YtdSummary.Count > 0)
                    {
                        <table class="summary-item">
                            @foreach (var ytdSummary in payslip.YtdSummary)
                            {
                                <tr>
                                    <td>@ytdSummary.Item1</td>
                                    <td>@ytdSummary.Item2</td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <div class="summary-none">
                            none
                        </div>
                    }
                </div>

            </div>
            <div class="summary-container">
                <div class="summary-header">
                    LOAN BALANCES
                </div>
                <div class="summary-body">
                    @if (payslip.LoanBalances.Count > 0)
                    {
                        <table class="summary-item">
                            @foreach (var loanBalances in payslip.LoanBalances)
                            {
                                <tr>
                                    <td>@loanBalances.Item1</td>
                                    <td>@loanBalances.Item2</td>
                                </tr>
                            }
                            <tr class="summary-total">
                                <td>Total Loan Balances:</td>
                                <td>@payslip.LoanBalances.Sum(e => e.Item2)</td>
                            </tr>
                        </table>
                    }
                    else
                    {
                        <div class="summary-none">
                            none
                        </div>
                    }
                </div>
            </div>
        </div>

        <div style='page-break-after: always;'></div>
    }
</body>
</html>