﻿@model MMB.ePay.Payroll.Dtos.MonthlyReportHeaderDto

<div style="font-size: 8px; position:absolute; right:30%;">
    Page&nbsp;<span class="pageNumber"></span>&nbsp;of&nbsp;<span class="totalPages"></span>
</div>

<div style='text-align:center; font-size: 8px; width:100%;'>
    <div style="font-size: 10px">
        <b>@Html.DisplayFor(modelItem => Model.TenancyName)</b>
    </div>
    <div style="margin-top: 5px;">
        <b>@Html.DisplayFor(modelItem => Model.ReportName)</b>
    </div>
    <div style="margin-top: 5px;">
        @{ var ftm = string.Format("For the Month of {0} {1}", Model.Month, Model.Year); }
        <b>@ftm</b>
    </div>
</div>

