﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForOvertimeRegister

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        td, th {
            border: 1px solid black;
            overflow: hidden;
            padding: 5px 10px 5px 10px;
        }

        .noborder {
            border: 0;
        }

        table {
            margin-top: 25px;
            font-size: 10px;
            width: 100%;
            border-collapse: collapse;
        }

        tfoot:before {
            line-height: 5px;
            content: "-";
            color: white;
            display: block;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>@L("EmployeeId")</th>
                <th>@L("EmployeeName")</th>
                <th>@L("OTCode")</th>

                @foreach(var overtimeType in Model.OvertimeTypes)
                { 
                    <th>@overtimeType</th>
                }
            </tr>
        </thead>
        <tbody>
            @{ 
                var groupName = Model.Grouping switch
                {
                    "None" => "Overtime Code:",
                    "PayCode" => "Pay Code:",
                    "Department" => "Department:",
                    _ => ""
                };
            }

            @foreach (var group in Model.OvertimeRegisterGroup)
            {
                <tr>
                    <td class="noborder"><b>@groupName</b></td>
                    <td class="noborder" colspan="4"><b>@group.GroupBy</b></td>
                </tr>

                @foreach (var item in group.OvertimeRegister)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.EmployeeId)</td>
                        <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.OvertimeCode)</td>
                    
                        @foreach(var overtimeType in Model.OvertimeTypes)
                        {
                            var amount = group.Amounts
                                .Where(e => e.Item1 == overtimeType)
                                .Select(e => e.Item2)
                                .FirstOrDefault();

                            <td>
                                @amount
                            </td>
                        }
                    </tr>
                }


                <tr>
                    <td style="border-right: 0;"><b>Sub Totals:</b></td>
                    <td style="border-left: 0;" colspan="2"><b>@group.GroupBy</b></td>

                    @foreach(var overtimeType in Model.OvertimeTypes)
                    {
                        var total = group.Amounts
                            .Where(e => e.Item1 == overtimeType)
                            .Sum(e => e.Item2);

                        <td>@total</td>
                    }
                </tr>

            }
        </tbody>
        <tfoot>
            <tr>
                <td style="border-right: 0;"><b>Grand Totals:</b></td>
                <td style="border-left: 0; border-right: 0;" colspan="2"></td>

                @foreach (var overtimeType in Model.OvertimeTypes)
                {
                    var grandTotal = Model.OvertimeRegisterGroup
                        .Sum(e => e.Amounts
                            .Where(f => f.Item1 == overtimeType)
                            .Sum(f => f.Item2));

                    <td>@grandTotal</td>
                }
            </tr>
        </tfoot>
    </table>

    <div style='page-break-after: always;'>
        </div>
</body>
</html>
