﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForPagibigM11

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        td, th {
            border: 1px solid black;
            overflow: hidden;
            padding: 5px 10px 5px 10px;
        }

        .noborder {
            border: 0;
        }

        table {
            margin-top: 25px;
            width: 100%;
            border-collapse: collapse;
        }

        tfoot:before {
            line-height: 5px;
            content: "-";
            color: white;
            display: block;
        }

        #icon {
            width: 80px;
            height: 90px;
            float: left;
        }

        #title-1 {
            font-size: 20px;
            font-weight: bold;
            align-content: center;
            float: left;
            margin-left: 25px;
            margin-right: 75px;
            text-align: left;
        }

        #title-2 {
            font-size: 20px;
            font-weight: bold;
            align-content: center;
            float: right;
            text-align: right;
        }

        #checkbox {
            font-size: 11px;
            float: left;
            margin-top: 15px;
            margin-left: 10px;
        }

        #date {
            font-size: 10px;
            float: right;
            margin-top: 20px;
            border: 1px solid black;
            border-width: 1px 1px 0 1px;
            height: 40px;
            width: 240px;
        }

        .date-item {
            float: left;
            padding-left: 15px;
            padding-right: 50px;
        }

        #employer-info {
            font-size: 10px;
            border: 1px solid black;
            border-collapse: collapse;
            text-align: left;
            vertical-align: text-top;
        }

            #employer-info td {
                padding: 0 0 0 3px;
                height: 35px;
            }

        #table {
            /*border: 1px solid black;*/
            /*background-color: red;*/
            height: 627px;
            margin-top: 4px;
            margin-bottom: 4px;
        }

        #pagibig-info {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 10px;
        }

            #pagibig-info th {
                text-align: center;
                vertical-align: middle;
                height: 30px;
                padding: 0;
            }

            #pagibig-info td {
                border-bottom: 1px solid #808080 !important;
                /*padding: 4px 5px 4px 5px;*/
                padding: 4px 5px 4px 5px
            }

        .number {
            text-align: right;
        }

        #page {
            margin-right: 3px;
            width: 239px;
            height: 166px;
            float: left;
            /*border: 1px solid black;*/
            padding: 0;
        }

        #page-info-1 {
            height: 33px;
            padding: 0;
            margin: 0;
            font-size: 8px;
            border-left: 1px solid black;
            border-right: 1px solid black;
        }

            #page-info-1 td {
                padding: 1px 2px 1px 2px;
                border-bottom: 0;
                vertical-align: middle;
                border-left: 0;
                border-right: 0;
            }

            #page-info-1 .page-info-no {
                font-weight: bold;
                text-align: center;
                font-size: 10px;
                border-left: 0;
                border-right: 1px solid black;
            }

        #page-info-2 {
            padding: 0;
            margin: 0;
            font-size: 8px;
        }

            #page-info-2 td {
                padding: 1px 2px 1px 2px;
            }

        #total-info {
            font-size: 9px;
            width: 500px;
            margin-top: 0;
            margin-bottom: 0;
        }

            #total-info td {
                padding: 2px 5px 2px 5px;
                height: 33px;
            }

        #warning {
            font-weight: bold;
            font-size: 10px;
            text-align: center;
            width: 100%;
            padding: 0;
        }

        .center {
            text-align: center;
        }
    </style>
</head>

<body>
    @{
        decimal rowCount = Model.PagibigM11.Count;
        int maxPageCount = 25;
        decimal loopCount = Math.Ceiling(rowCount / maxPageCount);
    }

    @if (rowCount == 0)
    {

    }
    else
    {
        var gtEmployee = Model.PagibigM11.Sum(f => f.Employee);
        var gtEmployer = Model.PagibigM11.Sum(f => f.Employer);
        var grandTotal = gtEmployee + gtEmployer;

        for (var i = 0; i < loopCount; i++)
        {
            <div id="header">
                <div id="icon">
                    <img src="~/Common/Images/pagibig-logo.jpg" width="80" />
                </div>
                <div id="title-1">
                    MEMBERSHIP REGISTRATION/REMITTANCE FORM
                </div>
                <div id="title-2">
                    M1-1
                </div>
                <div id="checkbox" style="margin-right: 40px;">
                    <div>
                        <span>&#9746;</span> PRIVATE EMPLOYER
                    </div>
                    <div>
                        <span>&#9744;</span> LOCAL GOVERNMENT UNIT
                    </div>
                </div>
                <div id="checkbox">
                    <div>
                        <span>&#9744;</span> GOVERNMENT CONTROLLED CORP.
                    </div>
                    <div>
                        <span>&#9744;</span> NATIONAL GOVERNMENT AGENCY
                    </div>
                </div>
                <div id="date">
                    <div class="date-item">
                        MONTH
                        <div class="center">
                            @Model.Month
                        </div>
                    </div>
                    <div class="date-item">
                        YEAR
                        <div class="center">
                            @Model.Year
                        </div>
                    </div>
                </div>
                <table id="employer-info">
                    <tr>
                        <td width="250px">
                            NAME OF EMPLOYER
                            <br />
                            @Model.Employer.EmployerName
                        </td>
                        <td width="100px">
                            FOR PRIVATE <br />EMPLOYER =>
                        </td>
                        <td width="152px">
                            EMPLOYER SSS ID No.
                        </td>
                        <td>
                            FOR GOV'T. <br />EMPLOYER =>
                        </td>
                        <td width="45px" style="font-size: 8px; border-right: 0;">
                            AGENCY CODE
                        </td>
                        <td width="45px" style="font-size: 8px; border-right: 0; border-left: 0;">
                            BRANCH CODE
                        </td>
                        <td width="45px" style="font-size: 8px; border-left: 0;">
                            Region CODE
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            ADDRESS OF EMPLOYER
                            <br />
                            @Model.Employer.EmployerAddress
                        </td>
                        <td>
                            TIN
                            <div class="center">
                                @Model.Employer.TIN
                            </div>
                        </td>
                        <td>
                            ZIP CODE
                        </td>
                        <td colspan="3">
                            TELEPHONE NO/S.
                        </td>
                    </tr>
                </table>
            </div>

            <div id="table">
                <table id="pagibig-info">
                    <thead>
                        <tr>
                            <th width="123px">
                                Pag-ibig ID No. <br />
                                or Date of Birth
                            </th>
                            <th>
                                NAME OF BORROWERS<br />
                                <div style="font-weight: normal">Family Name, First Name Middle Name</div>
                            </th>
                            <th width="100px">
                                EMPLOYEE
                            </th>
                            <th width="100px">
                                EMPLOYER
                            </th>
                            <th width="100px">
                                TOTAL
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var j = 0; j < maxPageCount; j++)
                        {
                            var cell = (i * maxPageCount) + j;

                            if (cell < rowCount)
                            {
                                var total = Model.PagibigM11[cell].Employee + Model.PagibigM11[cell].Employer;

                                <tr>
                                    <td>@Model.PagibigM11[cell].PagibigNo</td>
                                    <td>@Model.PagibigM11[cell].BorrowerName</td>
                                    <td class="number">@Model.PagibigM11[cell].Employee</td>
                                    <td class="number">@Model.PagibigM11[cell].Employer</td>
                                    <td class="number">@total</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div id="footer">
                @{
                    var pageNo = i + 1;
                }

                <div id="page">
                    @{
                        decimal empCount = i == (loopCount - 1) ?
                            rowCount - (i * maxPageCount) : maxPageCount;
                    }

                    <table id="page-info-1">
                        <tr>
                            <td>
                                No. of employees <br />
                                on this page
                            </td>
                            <td class="page-info-no">
                                @empCount
                            </td>
                            <td>
                                No. of employees<br />
                                if last page
                            </td>
                            <td class="page-info-no">
                                @rowCount
                            </td>
                        </tr>
                    </table>
                    <table id="page-info-2">
                        <tr>
                            <td colspan="3" style="font-weight: bold; text-align: center; font-size: 12px;">
                                For Pag-IBIG USE ONLY
                            </td>
                        </tr>
                        <tr style="height: 41px;">
                            <td>PFR No.</td>
                            <td>DATE</td>
                            <td>AMOUNT</td>
                        </tr>
                        <tr style="height: 31px;">
                            <td colspan="2">COLLECTING BANK</td>
                            <td>REMARKS</td>
                        </tr>
                        <tr style="height: 41px;">
                            <td>TICKET DATE</td>
                            <td>RECONCILED BY</td>
                            <td>CHECKED BY</td>
                        </tr>
                    </table>
                </div>
                <table id="total-info">
                    <tr>
                        @{
                            var totalEmployee = Model.PagibigM11
                                .Skip(maxPageCount * ((int)loopCount - 1))
                                .Take(maxPageCount)
                                .Sum(f => f.Employee);

                            var totalEmployer = Model.PagibigM11
                                .Skip(maxPageCount * ((int)loopCount - 1))
                                .Take(maxPageCount)
                                .Sum(f => f.Employer);

                            var totalSummary = totalEmployee + totalEmployer;
                        }

                        <td>
                            TOTAL FOR <br />
                            THIS PAGE
                            <div class="number" style="float: right; font-weight: bold;">
                                @totalEmployee
                            </div>
                        </td>
                        <td>
                            <br />
                            <div class="number" style="float: right; font-weight: bold;">
                                @totalEmployer
                            </div>
                        </td>
                        <td>
                            <br />
                            <div class="number" style="float: right; font-weight: bold;">
                                @totalSummary
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            GRAND TOTAL <br />
                            (if last page)
                            <div class="number" style="float: right; font-weight: bold;">
                                @gtEmployee
                            </div>
                        </td>
                        <td>
                            <br />
                            <div class="number" style="float: right; font-weight: bold;">
                                @gtEmployer
                            </div>
                        </td>
                        <td>
                            <br />
                            <div class="number" style="float: right; font-weight: bold;">
                                @grandTotal
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-weight: bold; text-align: center;">
                            CERTIFIED CORRECT BY :
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            SIGNATURE OVER PRINTED NAME
                            <div class="center">
                                @Model.Signatory.SignatoryName
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            OFFICIAL DESIGNATION
                            <div class="center">
                                @Model.Signatory.Position
                            </div>
                        </td>
                        <td>
                            PAGE NO.
                            <div class="center">
                                @pageNo
                            </div>
                        </td>
                        <td>
                            No. of Pages
                            <div class="center">
                                @loopCount
                            </div>
                        </td>
                    </tr>
                </table>
                <div id="warning">
                    THIS FORM CAN BE REPRODUCED. NOT FOR SALE
                </div>
            </div>

            <div style='page-break-after: always;'></div>
        }

    }

</body>
</html>
