﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForPagibigMRCRF

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        td, th {
            border: 1px solid black;
            overflow: hidden;
            padding: 5px 10px 5px 10px;
        }

        .noborder {
            border: 0;
        }

        table {
            margin-top: 25px;
            width: 100%;
            border-collapse: collapse;
        }

        tfoot:before {
            line-height: 5px;
            content: "-";
            color: white;
            display: block;
        }

        hr {
            background-color: black;
            height: 1px;
            margin-top: 4px;
            margin-bottom: 0;
            text-align: center;
        }

        #code {
            width: 100%;
            font-weight: bold;
            text-align: right;
            font-size: 14px;
        }

        #icon {
            float: left;
        }

        #title {
            font-weight: bold;
            font-size: 22px;
            margin-left: 50px;
            float: left;
            padding: 0;
        }

        #employerNo {
            float: right;
            width: 300px;
            margin: 0;
            padding: 0;
        }

            #employerNo td {
                margin: 0;
            }

            #employerNo th {
                font-weight: normal;
                font-size: 10px;
                text-align: left;
                background-color: lightgray;
                padding: 1px 1px 1px 5px;
            }

            #employerNo tr td {
                font-size: 14px;
                font-weight: bold;
                padding: 10px 0 5px 30px;
            }

        #employer {
            font-size: 10px;
            float: left;
            margin-top: 5px;
            width: 100%;
        }

            #employer td {
                padding: 2px 10px 2px 5px;
            }

        .employer-value {
            padding-left: 100px;
            font-weight: bold;
        }

        #pagibig {
            margin: 0;
            padding: 0;
            font-size: 8px;
            width: 100%;
        }

            #pagibig th {
                vertical-align: middle;
                text-align: center;
            }

            #pagibig td {
                vertical-align: middle;
                text-align: center;
                font-size: 9px;
            }

        #names th {
            font-style: italic;
            border: 0;
            border-bottom: 1px solid black;
        }

        #total {
            font-size: 9px;
            font-weight: bold;
        }

        #certification {
            border-top: 0;
            font-size: 11px;
            background-color: lightgray;
        }

        #remarks {
            font-size: 9px;
            border-bottom: 0;
        }

        #signature-name td {
            font-size: 10px;
            border-top: 0;
            border-bottom: 0;
            text-align: center;
        }

        #signature-position td {
            font-size: 10px;
            border-top: 0;
            border-bottom: 0;
            text-align: center;
            padding: 0;
        }

        #signature-position-2 td {
            font-size: 10px;
            border-top: 0;
            text-align: center;
            padding-top: 0;
        }

        #warning {
            font-weight: bold;
            font-size: 10px;
            text-align: center;
            width: 100%;
            padding: 0;
        }

        #header {
            margin: 0;
            padding: 0;
        }

        #body {
            float: left;
            margin-top: 2px;
            margin-bottom: 2px;
            padding: 0;
            height: 630px;
        }

        #footer table {
            margin: 0;
        }

        .number {
            text-align: right;
        }
    </style>
</head>

<body>
    @{
        decimal rowCount = Model.PagibigMRCRF.Count;
        int maxPageCount = 25;
        decimal loopCount = Math.Ceiling(rowCount / maxPageCount);
    }

    @if (rowCount == 0)
    {
        <div id="header">
            <div id="code">
                HQP-PFF-053
            </div>
            <div id="icon">
                <img src="~/Common/Images/pagibig-logo.jpg" width="60" />
            </div>
            <div id="title">
                MEMBER'S CONTRIBUTION <br />
                REMITTANCE FORM (MRCRF)
            </div>
            <table id="employerNo">
                <thead>
                    <tr>
                        <th>
                            Pag-IBIG EMPLOYER'S NUMBER
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.PagibigEmployerNo
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id="employer">
                <tr>
                    <td>
                        <div class="employer-title">
                            EMPLOYER/BUSINESS NAME
                        </div>
                        <div class="employer-value">
                            @Model.Employer.EmployerName
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="employer-title">
                            EMPLOYER/BUSINESS ADDRESS
                        </div>
                        <div class="employer-value">
                            @Model.Employer.EmployerAddress
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="body">
            <table id="pagibig">
                <thead>
                    <tr>
                        <th rowspan="2" width="80">
                            Pag-IBIG MID <br />
                            No./RTN
                        </th>
                        <th rowspan="2">ACCT. NO.</th>
                        <th rowspan="2">
                            MEMBER- <br />
                            SHIP <br />
                            PROGRAM
                        </th>
                        <th colspan="3" style="border-bottom: 0;" width="500">
                            NAME OF MEMBERS
                        </th>
                        <th rowspan="2">PERIOD COVERED</th>
                        <th rowspan="2">
                            MONTHLY <br />
                            COMPEN- <br />
                            SATION
                        </th>
                        <th rowspan="2">EE SHARE</th>
                        <th rowspan="2">ER SHARE</th>
                        <th rowspan="2">TOTAL</th>
                        <th rowspan="2">REMARKS</th>
                    </tr>
                    <tr id="names">
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div id="footer">
            <table id="total">
                <tr>
                    <td>TOTAL FOR THIS PAGE</td>
                    <td class="number"></td>
                    <td class="number"></td>
                    <td class="number"></td>
                </tr>
                <tr>
                    <td>GRAND TOTAL</td>
                    <td class="number"></td>
                    <td class="number"></td>
                    <td class="number"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <th colspan="3" id="certification">EMPLOYER CERTIFICATION</th>
                </tr>
                <tr>
                    <td colspan="3" id="remarks">
                        &nbsp;&nbsp;&nbsp; I hereby certify under pain of perjury that the information given and all statements made herein are true and correct to the best of my knowledge and belief. I further
                        certify that my signature appearing herein is genuine and authentic.
                    </td>
                </tr>
                <tr id="signature-name">
                    <td style="border-right: 0;">
                        @Model.Signatory.SignatoryName
                        <hr width="90%" />
                    </td>
                    <td style="border-right: 0; border-left: 0;">
                        @Model.Signatory.Position
                        <hr />
                    </td>
                    <td style="border-left: 0;">
                        @DateTime.Now.ToString("dd/MM/yyyy")
                        <hr />
                    </td>
                </tr>
                <tr id="signature-position">
                    <td style="border-right: 0;">
                        HEAD OF OFFICE OR AUTHORIZED REPRESENTATIVE
                    </td>
                    <td style="border-right: 0; border-left: 0;">
                        DESIGNATION/POSITION
                    </td>
                    <td style="border-left: 0;">
                        DATE
                    </td>
                </tr>
                <tr id="signature-position-2">
                    <td style="border-right: 0;">(Signature Over Printed Name)</td>
                    <td style="border-right: 0; border-left: 0;"></td>
                    <td style="border-left: 0;"></td>
                </tr>
            </table>
            <div id="warning">
                THIS FORM CAN BE REPRODUCED. NOT FOR SALE
            </div>
        </div>

        <div style='page-break-after: always;'></div>
    }
    else
    {
        var gtEEShare = Model.PagibigMRCRF.Sum(f => f.EEShare);
        var gtERShare = Model.PagibigMRCRF.Sum(f => f.ERShare);
        var grandTotal = gtEEShare + gtERShare;

        @for (var i = 0; i < loopCount; i++)
        {
            <div id="header">
                <div id="code">
                    HQP-PFF-053
                </div>
                <div id="icon">
                    <img src="~/Common/Images/pagibig-logo.jpg" width="60" />
                </div>
                <div id="title">
                    MEMBER'S CONTRIBUTION <br />
                    REMITTANCE FORM (MRCRF)
                </div>
                <table id="employerNo">
                    <thead>
                        <tr>
                            <th>
                                Pag-IBIG EMPLOYER'S NUMBER
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Model.PagibigEmployerNo
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="employer">
                    <tr>
                        <td>
                            <div class="employer-title">
                                EMPLOYER/BUSINESS NAME
                            </div>
                            <div class="employer-value">
                                @Model.Employer.EmployerName
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="employer-title">
                                EMPLOYER/BUSINESS ADDRESS
                            </div>
                            <div class="employer-value">
                                @Model.Employer.EmployerAddress
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="body">
                <table id="pagibig">
                    <thead>
                        <tr>
                            <th rowspan="2" width="80">
                                Pag-IBIG MID <br />
                                No./RTN
                            </th>
                            <th rowspan="2">ACCT. NO.</th>
                            <th rowspan="2">
                                MEMBER- <br />
                                SHIP <br />
                                PROGRAM
                            </th>
                            <th colspan="3" style="border-bottom: 0;" width="500">
                                NAME OF MEMBERS
                            </th>
                            <th rowspan="2">PERIOD COVERED</th>
                            <th rowspan="2">
                                MONTHLY <br />
                                COMPEN- <br />
                                SATION
                            </th>
                            <th rowspan="2">EE SHARE</th>
                            <th rowspan="2">ER SHARE</th>
                            <th rowspan="2">TOTAL</th>
                            <th rowspan="2">REMARKS</th>
                        </tr>
                        <tr id="names">
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var j = 0; j < maxPageCount; j++)
                        {
                            var cell = (i * maxPageCount) + j;

                            if (cell < rowCount)
                            {
                                var eeShare = Model.PagibigMRCRF[cell].EEShare;
                                var erShare = Model.PagibigMRCRF[cell].ERShare;
                                var total = eeShare + erShare;

                                <tr>
                                    <td>@Model.PagibigMRCRF[cell].PagibigNo</td>
                                    <td>@Model.PagibigMRCRF[cell].AcctNo</td>
                                    <td>@Model.PagibigMRCRF[cell].MembershipProgram</td>
                                    <td>@Model.PagibigMRCRF[cell].LastName</td>
                                    <td>@Model.PagibigMRCRF[cell].FirstName</td>
                                    <td>@Model.PagibigMRCRF[cell].MiddleName</td>
                                    <td>@Model.PagibigMRCRF[cell].PeriodCovered</td>
                                    <td>@Model.PagibigMRCRF[cell].MonthlyCompensation</td>
                                    <td class="number">@Model.PagibigMRCRF[cell].EEShare</td>
                                    <td class="number">@Model.PagibigMRCRF[cell].ERShare</td>
                                    <td class="number">@total</td>
                                    <td>@Model.PagibigMRCRF[cell].Remarks</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div id="footer">
                <table id="total">
                    <tr>
                        @{ 
                            var totalEEShare = Model.PagibigMRCRF
                                .Skip(maxPageCount * ((int)loopCount - 1))
                                .Take(maxPageCount)
                                .Sum(f => f.EEShare);

                            var totalERShare = Model.PagibigMRCRF
                                .Skip(maxPageCount * ((int)loopCount - 1))
                                .Take(maxPageCount)
                                .Sum(f => f.ERShare);

                            var totalSummary = totalEEShare + totalERShare;
                        }

                        <td>TOTAL FOR THIS PAGE</td>
                        <td class="number">@totalEEShare</td>
                        <td class="number">@totalERShare</td>
                        <td class="number">@totalSummary</td>
                    </tr>
                    <tr>
                        <td>GRAND TOTAL</td>
                        <td class="number">@gtEEShare</td>
                        <td class="number">@gtERShare</td>
                        <td class="number">@grandTotal</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th colspan="3" id="certification">EMPLOYER CERTIFICATION</th>
                    </tr>
                    <tr>
                        <td colspan="3" id="remarks">
                            &nbsp;&nbsp;&nbsp; I hereby certify under pain of perjury that the information given and all statements made herein are true and correct to the best of my knowledge and belief. I further
                            certify that my signature appearing herein is genuine and authentic.
                        </td>
                    </tr>
                    <tr id="signature-name">
                        <td style="border-right: 0;">
                            @Model.Signatory.SignatoryName
                            <hr width="90%" />
                        </td>
                        <td style="border-right: 0; border-left: 0;">
                            @Model.Signatory.Position
                            <hr />
                        </td>
                        <td style="border-left: 0;">
                            @DateTime.Now.ToString("dd/MM/yyyy")
                            <hr />
                        </td>
                    </tr>
                    <tr id="signature-position">
                        <td style="border-right: 0;">
                            HEAD OF OFFICE OR AUTHORIZED REPRESENTATIVE
                        </td>
                        <td style="border-right: 0; border-left: 0;">
                            DESIGNATION/POSITION
                        </td>
                        <td style="border-left: 0;">
                            DATE
                        </td>
                    </tr>
                    <tr id="signature-position-2">
                        <td style="border-right: 0;">(Signature Over Printed Name)</td>
                        <td style="border-right: 0; border-left: 0;"></td>
                        <td style="border-left: 0;"></td>
                    </tr>
                </table>
                <div id="warning">
                    THIS FORM CAN BE REPRODUCED. NOT FOR SALE
                </div>
            </div>

            <div style='page-break-after: always;'></div>
        }

    }

</body>
</html>
