﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForPayrollRegister

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        td, th {
            border: 1px solid black;
            overflow: hidden;
            padding: 5px 10px 5px 10px;
        }

        .noborder {
            border: 0;
        }

        table {
            /*margin-top: 25px;*/
            font-size: 10px;
            width: 100%;
            border-collapse: collapse;
        }

        tfoot:before {
            line-height: 5px;
            content: "-";
            color: white;
            display: block;
        }

        .person {
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 10px;
            display: flex;
            margin-top: 80px;
            margin-bottom: 5px;
        }

        .person div {
            position: relative;
        }

        .position {
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 10px;
            display: flex;
        }

        .position div {
            border-top: solid 1px black;
            width: 35%;
            position: relative;
            padding-top: 5px;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th style="border-right:0;">@L("EmployeeName")</th>
                <th style="border-left:0;">@L("EmployeeId")</th>
                <th rowspan="2">@L("Earnings")</th>
                <th rowspan="2">
                    @L("Timesheet")<br />
                    @L("Overtime")<br />
                    @L("NtxIncome")<br />
                    @L("GrossPay")
                </th>
                <th rowspan="2">
                    @L("WTax")<br />
                    @L("SSS")<br />
                    @L("Philhealth")<br />
                    @L("Pagibig")
                </th>
                <th rowspan="2">@("Loans")</th>
                <th rowspan="2">@("Deductions")</th>
                <th rowspan="2">
                    @L("SSS(ER)")<br />
                    @L("ECC")<br />
                    @L("PH(ER)")<br />
                    @L("PAG(ER)")
                </th>
                <th rowspan="2">
                    @L("TotalLoans")<br />
                    @L("TotalDed")<br />
                    <br />
                    @L("NetPay")
                </th>
            </tr>
            <tr>
                <th>@L("Timesheet")</th>
                <th>@L("Overtime")</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.PayrollRegister)
            {
                <tr>
                    <td style="border-right:0;">@item.EmployeeName</td>
                    <td style="border-left:0;">@item.EmployeeId</td>
                    <td rowspan="2">
                        @foreach (var statutory in item.PayrollRegisterEarnings)
                        {
                            @statutory.StatutoryName @:&nbsp; @statutory.Value <br />
                        }
                    </td>
                    <td rowspan="2">
                        @item.Timesheet <br />
                        @item.Overtime <br />
                        @item.NtxIncome <br />
                        @item.GrossPay
                    </td>
                    <td rowspan="2">
                        @item.WTax <br />
                        @item.Sss <br />
                        @item.Philhealth <br />
                        @item.Pagibig
                    </td>
                    <td rowspan="2">
                        @foreach (var statutory in item.PayrollRegisterLoans)
                        {
                            @statutory.StatutoryName @:&nbsp; @statutory.Value <br />
                        }
                    </td>
                    <td rowspan="2">
                        @foreach (var statutory in item.PayrollRegisterDeductions)
                        {
                            @statutory.StatutoryName @:&nbsp; @statutory.Value <br />
                        }
                    </td>
                    <td rowspan="2">
                        @item.SssEr <br />
                        @item.Ecc <br />
                        @item.PhEr <br />
                        @item.PagEr
                    </td>
                    <td rowspan="2">
                        @item.TotalLoans <br />
                        @item.TotalDed <br />
                        <br />
                        @item.NetPay
                    </td>
                </tr>
                <tr>
                    <td>
                        @foreach (var statutory in item.PayrollRegisterTimesheet)
                        {
                            @statutory.StatutoryName @:&nbsp; @statutory.Value <br />
                        }
                    </td>
                    <td>
                        @foreach (var statutory in item.PayrollRegisterOvertime)
                        {
                            @statutory.StatutoryName @:&nbsp; @statutory.Value <br />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
