﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForPhilhealthER2

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        td, th {
            border: 1px solid black;
            overflow: hidden;
            padding: 5px 10px 5px 10px;
        }

        .noborder {
            border: 0;
        }

        table {
            margin-top: 25px;
            width: 100%;
            border-collapse: collapse;
        }

        tfoot:before {
            line-height: 5px;
            content: "-";
            color: white;
            display: block;
        }

        .number {
            text-align: right;
        }

        #header {
            border: 1px solid black;
            border-width: 1px 1px 0 1px;
            margin: 0;
            height: 50px;
        }

        #icon {
            margin: 2px 0 1px 10px;
            float: left;
        }

        #title {
            float: left;
        }

        #title-1 {
            margin-top: 5px;
            font-size: 15px;
            text-align: center;
            vertical-align: middle;
            font-weight: bold;
            font-family: 'Times New Roman';
            width: 300px;
        }

        #title-2 {
            margin-bottom: 5px;
            font-size: 10px;
            text-align: center;
            vertical-align: middle;
            width: 300px;
        }

        #checkbox {
            font-size: 10px;
            float: left;
            margin-left: 300px;
        }

        #label {
            float: right;
            font-family: 'Times New Roman';
            font-size: 33px;
            font-weight: bold;
            padding: 0;
            margin: 0 20px 0 0;
        }

        #philhealth-info {
            font-size: 10px;
            margin: 0;
        }

            #philhealth-info td {
                margin: 0;
            }

        .header {
            font-size: 10px;
            text-align: center;
            vertical-align: middle;
        }

        #body {
            margin: 0;
            height: 595px;
        }

        #footer {
            margin: 0;
        }

        #total {
            font-size: 10px;
        }

            #total td {
                text-align: center;
                vertical-align: middle;
            }
    </style>
</head>

<body>
    @{
        decimal rowCount = Model.PhilhealthER2.Count;
        int maxPageCount = 20;
        decimal loopCount = Math.Ceiling(rowCount / maxPageCount);
    }

    @if (rowCount == 0)
    {
        <div id="header">
            <div id="icon">
                <img src="~/Common/Images/philhealth-logo.jpg" height="45" />
            </div>
            <div id="title">
                <div id="title-1">
                    PHILHEALTH
                </div>
                <div id="title-2">
                    REPORT OF EMPLOYEE-MEMBERS
                </div>
            </div>
            <div id="checkbox">
                <div style="text-align: center;">
                    (CHECK APPLICABLE BOX)
                </div>
                <div>
                    <span><span>&#9744;</span> INITIAL LIST (Attach to PhilHealth Form Er1)</span>
                </div>
                <div>
                    <span>&#9744;</span> SUBSEQUENT LIST
                </div>
            </div>
            <div id="label">
                Er2
            </div>
        </div>

        <div id="body">
            <table id="philhealth-info">
                <tr>
                    <td colspan="5">
                        NAME OF EMPLOYER/FIRM: &nbsp; &nbsp; @Model.Employer.EmployerName
                    </td>
                    <td colspan="2">
                        EMPLOYER NO. &nbsp; &nbsp; @Model.PhilhealtEmployerNo
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        ADDRESS: &nbsp; &nbsp; @Model.Employer.EmployerAddress
                    </td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td class="header">
                        PHILHEALTH<br />
                        SSS/GSIS<br />
                        NUMBER
                    </td>
                    <td class="header">
                        NAME OF EMPLOYEE
                    </td>
                    <td class="header">
                        POSITION
                    </td>
                    <td class="header">
                        SALARY
                    </td>
                    <td class="header">
                        DATE OF<br />
                        EMPLOYMENT
                    </td>
                    <td class="header">
                        EFF. DATE OF<br />
                        COVERAGE
                    </td>
                    <td class="header">
                        PREVIOUS EMPLOYER
                    </td>
                </tr>
            </table>
        </div>

        <div id="footer">
            <table id="total">
                <tr>
                    <td rowspan="2" style="text-align: left; vertical-align: text-top;">
                        TOTAL LISTED ABOVE: &nbsp; &nbsp; 0
                    </td>
                    <td rowspan="2">
                        0
                    </td>
                    <td style="font-weight: bold; vertical-align: bottom; height: 45px;">
                        @Model.Signatory.SignatoryName
                    </td>
                </tr>
                <tr>
                    <td>
                        SIGNATURE OVER PRINTED NAME
                    </td>
                </tr>
            </table>
        </div>
    }
    else
    {

    }

    @for (var i = 0; i < loopCount; i++)
    {

        <div id="header">
            <div id="icon">
                <img src="~/Common/Images/philhealth-logo.jpg" height="45" />
            </div>
            <div id="title">
                <div id="title-1">
                    PHILHEALTH
                </div>
                <div id="title-2">
                    REPORT OF EMPLOYEE-MEMBERS
                </div>
            </div>
            <div id="checkbox">
                <div style="text-align: center;">
                    (CHECK APPLICABLE BOX)
                </div>
                <div>
                    <span><span>&#9744;</span> INITIAL LIST (Attach to PhilHealth Form Er1)</span>
                </div>
                <div>
                    <span>&#9744;</span> SUBSEQUENT LIST
                </div>
            </div>
            <div id="label">
                Er2
            </div>
        </div>

        <div id="body">
            <table id="philhealth-info">
                <tr>
                    <td colspan="5">
                        NAME OF EMPLOYER/FIRM: &nbsp; &nbsp; @Model.Employer.EmployerName
                    </td>
                    <td colspan="2">
                        EMPLOYER NO. &nbsp; &nbsp; @Model.PhilhealtEmployerNo
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        ADDRESS: &nbsp; &nbsp; @Model.Employer.EmployerAddress
                    </td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td class="header">
                        PHILHEALTH<br />
                        SSS/GSIS<br />
                        NUMBER
                    </td>
                    <td class="header">
                        NAME OF EMPLOYEE
                    </td>
                    <td class="header">
                        POSITION
                    </td>
                    <td class="header">
                        SALARY
                    </td>
                    <td class="header">
                        DATE OF<br />
                        EMPLOYMENT
                    </td>
                    <td class="header">
                        EFF. DATE OF<br />
                        COVERAGE
                    </td>
                    <td class="header">
                        PREVIOUS EMPLOYER
                    </td>
                </tr>
                @for (var j = 0; j < maxPageCount; j++)
                {
                    var cell = (i * maxPageCount) + j;

                    if (cell < rowCount)
                    {
                        <tr>
                            <td>@Model.PhilhealthER2[cell].PhilhealthNo</td>
                            <td>@Model.PhilhealthER2[cell].EmployeeName</td>
                            <td>@Model.PhilhealthER2[cell].Position</td>
                            <td class="number">@Model.PhilhealthER2[cell].Salary</td>
                            <td>@Model.PhilhealthER2[cell].DateOfEmployment?.ToString("MM/dd/yyyy")</td>
                            <td></td>
                            <td>@Model.PhilhealthER2[cell].PreviousEmployer</td>
                        </tr>
                    }
                }
            </table>
        </div>

        <div id="footer">
            @{
                var loopNo = i + 1;
                decimal totalListed = maxPageCount;

                if (loopNo == loopCount)
                {
                    totalListed = rowCount % maxPageCount;

                    if (totalListed == 0)
                    {
                        totalListed = maxPageCount;
                    }
                }

                var sheets = string.Format("PAGE {0} OF {1} SHEETS", loopNo, loopCount);
            }


            <table id="total">
                <tr>
                    <td rowspan="2" style="text-align: left; vertical-align: text-top;">
                        TOTAL LISTED ABOVE: &nbsp; &nbsp; @totalListed
                    </td>
                    <td rowspan="2">

                        @sheets
                    </td>
                    <td style="font-weight: bold; vertical-align: bottom; height: 45px;">
                        @Model.Signatory.SignatoryName
                    </td>
                </tr>
                <tr>
                    <td>
                        SIGNATURE OVER PRINTED NAME
                    </td>
                </tr>
            </table>
        </div>

        <div style='page-break-after: always;'></div>
    }
</body>
</html>
