﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForPhilhealthRF1

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        td, th {
            border: 1px solid black;
            overflow: hidden;
            padding: 5px 10px 5px 10px;
        }

        .noborder {
            border: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        tfoot:before {
            line-height: 5px;
            content: "-";
            color: white;
            display: block;
        }

        hr {
            background-color: black;
            height: 1px;
            margin: 0;
        }

        #header {
            border: 1px solid black;
            border-width: 1px 1px 0 1px;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 182px;
        }

        #code {
            border-right: 1px solid black;
            text-align: center;
            vertical-align: middle;
            height: 50px;
            width: 100px;
            float: left;
        }

        #code-1 {
            font-size: 23px;
            font-weight: bold;
        }

        #code-2 {
            font-size: 8px;
        }

        #icon {
            margin: 2px 10px 1px 10px;
            float: left;
        }

        #label {
            float: left;
            /*width: 200px;*/
            font-size: 10px;
            text-align: left;
            vertical-align: top;
            margin: 0;
            padding: 0;
        }

        #label-1, #label-3 {
            font-style: italic;
        }

        #label-2 {
            font-weight: bold;
        }

        #report {
            float: left;
            border-right: 1px solid black;
            font-weight: bold;
            font-size: 12px;
            height: 50px;
            padding: 15px 170px 0 80px;
        }

        #portion {
            float: left;
            font-weight: bold;
            font-size: 12px;
            height: 50px;
            width: 475px;
            text-align: center;
            vertical-align: middle;
            padding-top: 15px;
        }

        #employer-no {
            border-top: 1px solid black;
            border-right: 1px solid black;
            float: left;
            padding-left: 90px;
            width: 793px;
            height: 50px;
        }

        #employer-no-1, #employer-no-2 {
            font-weight: bold;
            font-size: 10px;
            padding-top: 5px;
        }

        #date {
            border-top: 1px solid black !important;
            text-align: left;
            font-size: 9px;
            height: 50px;
            width: 475px;
            float: left;
            padding: 5px 0 0 5px;
        }

        #date-1 {
            padding-right: 10px;
            float: left;
        }

        #date-2 {
            width: 215px;
            float: left;
        }

        #date-3 {
            padding-left: 20px;
            float: left;
        }

        #employer-info {
            border-top: 1px solid black;
            border-right: 1px solid black;
            width: 793px;
            float: left;
            font-size: 10px;
            margin: 0 !important;
            height: 80px;
            padding: 5px 20px 0 20px;
        }

            #employer-info hr {
                height: 1px;
            }

        #employer-info-1 {
            float: left;
        }

        #employer-info-2 {
            float: left;
            width: 616px;
            padding-left: 50px;
        }

        #employer-type {
            height: 80px;
            border-top: 1px solid black;
            border-right: 1px solid black;
            float: left;
            font-size: 9px;
            padding-right: 60px;
        }

        #report-type {
            height: 80px;
            border-top: 1px solid black;
            border-right: 1px solid black;
            float: left;
            font-size: 9px;
            padding-right: 25px;
        }

        #applicable-period {
            height: 80px;
            width: 121px;
            border-top: 1px solid black;
            float: left;
            font-size: 10px;
        }

        #rf-1 {
            font-size: 10px;
        }

            #rf-1 th {
                text-align: center;
                vertical-align: middle;
            }

        #body {
            height: 364px;
        }

        #footer td {
            font-size: 10px;
        }

        #signature {
            border: 1px solid black;
            border-width: 0 1px 1px 1px;
            height: 50px;
            padding: 0;
        }

        #signature-1 {
            text-align: center;
            font-weight: bold;
            font-size: 10px;
            float: left;
            width: 100%;
            margin-bottom: 15px;
        }

        #signature-2 {
            font-size: 9px;
            width: 200px;
            float: left;
            text-align: center;
            margin-left: 300px;
            width: 215px;
        }

        #signature-3 {
            font-size: 9px;
            width: 220px;
            float: left;
            text-align: center;
            margin-left: 50px;
        }

        #signature-4 {
            font-size: 9px;
            width: 120px;
            float: left;
            text-align: center;
            margin-left: 50px;
        }

        #page {
            float: right;
            font-size: 11px;
            text-align: center;
        }
    </style>
</head>

<body>
    @{
        decimal rowCount = Model.PhilhealthRF1.Count;
        decimal loopCount = Math.Ceiling(rowCount / 11);
    }

    @for (var i = 0; i < loopCount; i++)
    {
        <div id="header">
            <div id="code">
                <div id="code-1">
                    RF-1
                </div>
                <div id="code-2">
                    Revised January 2012
                </div>
            </div>
            <div id="icon">
                <img src="~/Common/Images/philhealth-logo.jpg" height="45" />
            </div>
            <div id="label">
                <div id="label-1">
                    Republic of the Philippines
                </div>
                <div id="label-2">
                    PHILIPPINE HEALTH INSURANCE
                </div>
                <div id="label-3">
                    Healthline 441-7444 www.philhealth.gov.ph
                </div>
            </div>
            <div id="report">
                EMPLOYER’S REMITTANCE REPORT
            </div>
            <div id="portion">
                THIS PORTION TO BE FILLED UP BY PHILHEALTH
            </div>

            <div id="employer-no">
                <div id="employer-no-1">
                    PHILHEALTH NO. &nbsp; &nbsp; 234567907
                </div>
                <div id="employer-no-2">
                    EMPLOYER TIN &nbsp; &nbsp; &nbsp; 123456
                </div>
            </div>

            <div id="date">
                <div id="date-1">
                    <div>Date Received:</div>
                    <div style="font-weight: bold; padding-top: 5px;">By:</div>
                </div>
                <div id="date-2">
                    <div><hr style="width: 140px; margin-top: 11px;" /></div>
                    <div><hr style="margin-top: 16px;" /></div>
                    <div style="text-align: center">Signature Over Printed Name</div>
                </div>
                <div id="date-3">
                    Action Taken:
                </div>
            </div>

            <div id="employer-info">
                <div id="employer-info-1">
                    <div>COMPLETE EMPLOYER NAME</div>
                    <div style="padding-bottom: 20px; padding-top: 5px;">COMPLETE MAILING ADDRESS</div>
                    <div>TELEPHONE NO</div>
                </div>
                <div id="employer-info-2">
                    <div><hr style="margin-top: 13px;" /></div>
                    <div><hr style="margin-top: 16px;" /></div>
                    <div><hr style="margin-top: 16px;" /></div>
                    <div style="margin-top: 16px;">
                        <hr style="float: left; width: 150px; margin-right: 193px; float: left;" />
                        <div style="float: left;">
                            EMAIL ADDRESS
                        </div>
                        <hr style="float: left; width: 150px;" />
                    </div>
                </div>
            </div>

            <div id="employer-type">
                <div style="font-size: 10px; font-weight: bold; padding-left: 10px;">
                    EMPLOYER TYPE
                </div>
                <div style="padding-left: 30px; padding-top: 5px;">
                    <span>&#9746;</span> PRIVATE
                </div>
                <div style="padding-left: 30px; padding-top: 5px;">
                    <span>&#9744;</span> GOVERNMENT
                </div>
                <div style="padding-left: 30px; padding-top: 5px;">
                    <span>&#9744;</span> HOUSEHOLD
                </div>
            </div>

            <div id="report-type">
                <div style="font-size: 10px; font-weight: bold; padding-left: 10px;">
                    REPORT TYPE
                </div>
                <div style="padding-left: 30px; padding-top: 5px;">
                    <span>&#9746;</span> REGULAR RF-1
                </div>
                <div style="padding-left: 30px; padding-top: 5px;">
                    <span>&#9744;</span> ADDITION TO PREVIOUS RF-1
                </div>
                <div style="padding-left: 30px; padding-top: 5px;">
                    <span>&#9744;</span> DEDUCTION TO PREVIOUS RF-1
                </div>
            </div>

            <div id="applicable-period">
                <div style="font-weight: bold; padding-left: 10px; text-align: center;">
                    APPLICABLE
                    <br />
                    PERIOD
                </div>
                <div style="text-align: center; font-size: 10px;">
                    January 2019
                    <hr style="width: 90%; margin: auto;" />
                </div>
            </div>
        </div>

        <div id="body">
            <table id="rf-1">
                <thead>
                    <tr>
                        <th rowspan="2">
                            PHILHEALTH IDENTIFICATION NUMBER
                            <br />
                            (PIN)
                        </th>
                        <th colspan="4">
                            NAME OF EMPLOYEE/S
                        </th>
                        <th colspan="2" style="font-size: 8px; padding: 0; font-weight: normal;">
                            Fill-out this portion only if declared
                            <br />
                            employee/s has not yet been issued his/her
                        </th>
                        <th rowspan="2">
                            MONTHLY
                            <br />
                            SALARY
                            <br />
                            BRACKET
                            <br />
                            (MSB)
                        </th>
                        <th colspan="2">
                            NHIIP PREMIUM <br />
                            CONTRIBUTION
                        </th>
                        <th rowspan="2">
                            EMPLOYEE STATUS
                            <div style="font-size: 9px; font-weight: normal;">
                                S-Separated, NE-No Earnings,
                                <br />
                                NH-Newly Hired /
                                <br />
                                Effectivity Date
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>LAST NAME</th>
                        <th>NAME <br /> SUFFIX</th>
                        <th>FIRST NAME</th>
                        <th>MIDDLE NAME</th>
                        <th>
                            DATE OF BIRTH
                            <br />
                            (mm/dd/yyyy)
                        </th>
                        <th>
                            SEX
                            <br />
                            (M/F)
                        </th>
                        <th>PS</th>
                        <th>ES</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var j = 0; j < 11; j++)
                    {
                        var cell = (i * 11) + j;

                        if (cell < rowCount)
                        {
                            <tr>
                                <td>@Model.PhilhealthRF1[cell].PhilhealthNo</td>
                                <td>@Model.PhilhealthRF1[cell].LastName</td>
                                <td>@Model.PhilhealthRF1[cell].Suffix</td>
                                <td>@Model.PhilhealthRF1[cell].FirstName</td>
                                <td>@Model.PhilhealthRF1[cell].MiddleName</td>
                                <td>@Model.PhilhealthRF1[cell]?.DateOfBirth?.ToString("MM/dd/yyyy")</td>
                                <td>@Model.PhilhealthRF1[cell].Sex</td>
                                <td>@Model.PhilhealthRF1[cell].MSB</td>
                                <td>@Model.PhilhealthRF1[cell].PS</td>
                                <td>@Model.PhilhealthRF1[cell].ES</td>
                                <td>@Model.PhilhealthRF1[cell].EmployeeStatus</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div id="footer">
            <table>
                <tr>
                    <td colspan="6">
                        ACKNOWLEDGEMENT RECEIPT (PAR/POR/TRANSACTION REFERENCE NO.)
                    </td>
                    <td colspan="2" rowspan="2">
                        SUBTOTAL
                    </td>
                    <td>
                        137.50
                    </td>
                    <td>
                        137.50
                    </td>
                    <td>
                        PREPARED BY
                        <br />
                        Carly A. Rose
                    </td>
                </tr>
                <tr>
                    <td rowspan="3">
                        Indicate Total Number of employees' per page
                    </td>
                    <td>
                        APPLICABLE PERIOD
                    </td>
                    <td>
                        REMITTED AMOUNT
                    </td>
                    <td>
                        ACKNOWLEDGEMENT
                        <br />
                        RECEIPT NO.
                    </td>
                    <td>
                        TRANSACTION DATE
                    </td>
                    <td>
                        NO. OF EMPLOYEES
                    </td>
                    <td colspan="2">
                        275.00
                    </td>
                    <td rowspan="3">
                        SIGNATURE OVER PRINTED NAME
                        <br />
                        Accounting Manager
                        <br />
                        OFFICIAL DESIGNATION
                        <br />
                        DATE
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        January
                    </td>
                    <td rowspan="2">
                        2500.00
                    </td>
                    <td rowspan="2">
                        1518320489
                    </td>
                    <td rowspan="2">
                        Jan 1, 2019
                    </td>
                    <td rowspan="2">
                        1
                    </td>
                    <td rowspan="2" colspan="2">
                        GRAND TOTAL
                    </td>
                    <td style="text-align: right;">
                        137.50
                    </td>
                    <td style="text-align: right;">
                        137.50
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        275.00
                    </td>
                </tr>
            </table>
            <div id="signature">
                <div id="signature-1">
                    UNDER THE PENALTY OF THE LAW, I HEREBY ATTEST THAT THE ABOVE INFORMATIONS PROVIDED HEREIN ARE TRUE AND CORRECT.
                </div>
                <div id="signature-2">
                    <hr />
                    Signature over printed name
                </div>
                <div id="signature-3">
                    <hr />
                    Official Designation
                </div>
                <div id="signature-4">
                    <hr />
                    Date
                </div>
            </div>
            <div id="page">
                PAGE 1 OF 1 PAGES
            </div>
        </div>

        <div style='page-break-after: always;'></div>
    }
</body>
</html>
