﻿
@model MMB.ePay.Payroll.Dtos.GetReportsForSSSML2

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <style>
        td, th {
            border: 1px solid black;
            overflow: hidden;
            padding: 5px 10px 5px 10px;
        }

        .noborder {
            border: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        tfoot:before {
            line-height: 5px;
            content: "-";
            color: white;
            display: block;
        }

        hr {
            background-color: black;
            height: 1px;
            margin: 0;
        }

        .number {
            text-align: right !important;
        }

        #header-1 {
            height: 60px;
            margin-bottom: 10px;
        }

        #icon {
            float: left;
        }

        #icon-1 {
            float: left;
            font-size: 12px;
            width: 50px;
            padding-top: 12px;
        }

        #icon-2 {
            font-size: 10px;
            height: 10px;
        }

        #main-header {
            text-align: center;
            width: 490px;
            float: left;
            height: 60px;
        }

        #header-1-1 {
            font-size: 11px;
            padding-bottom: 5px;
        }

        #header-1-2 {
            font-size: 12px;
            font-weight: bold;
        }

        #header-1-3 {
            font-size: 12px;
        }

        #header-2 {
            font-weight: bold;
            text-align: center;
            padding-bottom: 25px;
        }

        #header-2-1 {
            font-size: 13px;
            padding-bottom: 5px;
        }

        #header-2-2 {
            font-size: 14px;
            padding-bottom: 5px;
        }

        #header-2-3 {
            font-size: 10px;
        }

        #header-3 {
            font-size: 10px;
            padding-left: 10px;
        }

            #header-3 div {
                padding-bottom: 4px;
            }

        #header-3-1 {
            float: left;
            padding-right: 40px;
        }

        #body {
            height: 650px;
        }


            #body th {
                font-size: 10px;
                text-align: center;
                font-weight: normal;
                vertical-align: middle;
            }

            #body td {
                font-size: 10px;
                text-align: left;
                vertical-align: middle;
            }

        #footer {
            height: 129px;
        }

            #footer td {
                font-size: 10px;
            }

        #main-footer {
            border: 1px solid black;
            border-width: 0 1px 1px 1px;
            height: 89px;
            padding-left: 350px;
            padding-top: 20px;
        }

        #footer-1 {
            font-size: 10px;
            float: left;
            margin-right: 50px;
        }

        #footer-2 {
            font-size: 9px;
            text-align: center;
            float: left;
            width: 235px;
        }
    </style>
</head>

<body>
    @{
        decimal rowCount = Model.SSSML2.Count;
        int maxPageCount = 24;
        decimal loopCount = Math.Ceiling(rowCount / maxPageCount);

        var headerDate = string.Format("For the Month of {0} {1}", Model.Month, Model.Year);
    }

    @if (rowCount == 0)
    {
        <div id="header">
            <div id="header-1">
                <div id="icon">
                    <div style="float:left; padding-right: 10px;">
                        <img src="~/Common/Images/SSS-logo.jpg" height="50" />
                    </div>
                    <div id="icon-1">
                        ML-2
                    </div>
                    <div id="icon-2">
                        05-98
                    </div>
                </div>
                <div id="main-header">
                    <div id="header-1-1">Republic of the Philppines</div>
                    <div id="header-1-2">SOCIAL SECURITY SYSTEM</div>
                    <div id="header-1-3">PASIG</div>
                </div>

            </div>
            <div id="header-2">


                <div id="header-2-1">SALARY/CALAMITY/EDUCATIONAL/EMERGENCY LOAN</div>
                <div id="header-2-2">COLLECTION LIST</div>
                <div id="header-2-3">@headerDate</div>
            </div>
            <div id="header-3">
                <div id="header-3-1">
                    <div>Employer Name:</div>
                    <div>Employer ID Number:</div>
                </div>
                <div id="header-3-2">
                    <div>ABC</div>
                    <div>123456789</div>
                </div>
            </div>
        </div>

        <div id="body">
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">SS Number</th>
                        <th rowspan="2">Name of Borrower</th>
                        <th rowspan="2">
                            Loan <br />
                            Type
                        </th>
                        <th rowspan="2">
                            Date <br />
                            Granted
                        </th>
                        <th rowspan="2">
                            Amount of <br />
                            Loan
                        </th>
                        <th colspan="2">Amount Due</th>
                        <th rowspan="2">
                            Total Amount<br />
                            Due
                        </th>
                        <th rowspan="2">Remarks</th>
                    </tr>
                    <tr>
                        <th>Current</th>
                        <th>Overdue</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div id="footer">
            <table>
                <tr>

                    <td>
                        <div>PAGE TOTAL:</div>
                        <div>TOTAL AMOUNT DUE:</div>
                    </td>
                    <td class="number">
                        <div>0</div>
                        <div>0</div>
                    </td>
                    <td class="number">
                        <div>0</div>
                        <div>0</div>
                    </td>
                    <td class="number">
                        <div>0</div>
                        <div>0</div>
                    </td>
                </tr>
            </table>
            <div id="main-footer">
                <div id="footer-1">
                    <div style="padding-bottom: 20px;">
                        CERTIFIED CORRECT:
                    </div>
                    <div>
                        TELEPHONE NUMBER:
                    </div>
                </div>
                <div id="footer-2">
                    <div>
                        @Model.Signatory.SignatoryName
                    </div>
                    <hr />
                    <div style="padding-bottom: 9px;">
                        Signature Over Printed Name
                    </div>
                    <div>
                        @Model.Signatory.ContactNo
                    </div>
                    <hr />
                </div>
            </div>
        </div>

        <div style='page-break-after: always;'></div>
    }
    else
    {
        var gtCurrent = Model.SSSML2.Sum(f => f.CurrentAmountDue);
        var gtOverdue = Model.SSSML2.Sum(f => f.OverdueAmountDue);
        var grandTotal = gtCurrent + gtOverdue;

        @for (var i = 0; i < loopCount; i++)
        {
            <div id="header">
                <div id="header-1">
                    <div id="icon">
                        <div style="float:left; padding-right: 10px;">
                            <img src="~/Common/Images/SSS-logo.jpg" height="50" />
                        </div>
                        <div id="icon-1">
                            ML-2
                        </div>
                        <div id="icon-2">
                            05-98
                        </div>
                    </div>
                    <div id="main-header">
                        <div id="header-1-1">Republic of the Philppines</div>
                        <div id="header-1-2">SOCIAL SECURITY SYSTEM</div>
                        <div id="header-1-3">PASIG</div>
                    </div>

                </div>
                <div id="header-2">


                    <div id="header-2-1">SALARY/CALAMITY/EDUCATIONAL/EMERGENCY LOAN</div>
                    <div id="header-2-2">COLLECTION LIST</div>
                    <div id="header-2-3">@headerDate</div>
                </div>
                <div id="header-3">
                    <div id="header-3-1">
                        <div>Employer Name:</div>
                        <div>Employer ID Number:</div>
                    </div>
                    <div id="header-3-2">
                        <div>ABC</div>
                        <div>123456789</div>
                    </div>
                </div>
            </div>

            <div id="body">
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2">SS Number</th>
                            <th rowspan="2">Name of Borrower</th>
                            <th rowspan="2">
                                Loan <br />
                                Type
                            </th>
                            <th rowspan="2">
                                Date <br />
                                Granted
                            </th>
                            <th rowspan="2">
                                Amount of <br />
                                Loan
                            </th>
                            <th colspan="2">Amount Due</th>
                            <th rowspan="2">
                                Total Amount<br />
                                Due
                            </th>
                            <th rowspan="2">Remarks</th>
                        </tr>
                        <tr>
                            <th>Current</th>
                            <th>Overdue</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var j = 0; j < maxPageCount; j++)
                        {
                            var cell = (i * maxPageCount) + j;

                            if (cell < rowCount)
                            {
                                var current = Model.SSSML2[cell].CurrentAmountDue;
                                var overdue = Model.SSSML2[cell].OverdueAmountDue;
                                var total = current + overdue;

                                <tr>
                                    <td>@Model.SSSML2[cell].SSNo</td>
                                    <td>@Model.SSSML2[cell].BorrowerName</td>
                                    <td>@Model.SSSML2[cell].LoanType</td>
                                    <td>@Model.SSSML2[cell]?.DateGranted?.ToString("MM/dd/yyyy")</td>
                                    <td class="number">@Model.SSSML2[cell].LoanAmount</td>
                                    <td class="number">@current</td>
                                    <td class="number">@overdue</td>
                                    <td class="number">@total</td>
                                    <td>@Model.SSSML2[cell].Remarks</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div id="footer">
                <table>
                    <tr>
                        @{
                            var totalCurrent = Model.SSSML2
                                .Skip(maxPageCount * ((int)loopCount - 1))
                                .Take(maxPageCount)
                                .Sum(f => f.CurrentAmountDue);

                            var totalOverdue = Model.SSSML2
                                .Skip(maxPageCount * ((int)loopCount - 1))
                                .Take(maxPageCount)
                                .Sum(f => f.OverdueAmountDue);

                            var totalSummary = totalCurrent + totalOverdue;
                        }

                        @*<td></td>*@
                        <td>
                            <div>PAGE TOTAL:</div>
                            <div>TOTAL AMOUNT DUE:</div>
                        </td>
                        @*<td></td>
                            <td></td>*@
                        <td class="number">
                            <div>@totalCurrent</div>
                            <div>@gtCurrent</div>
                        </td>
                        <td class="number">
                            <div>@totalOverdue</div>
                            <div>@gtOverdue</div>
                        </td>
                        <td class="number">
                            <div>@totalSummary</div>
                            <div>@grandTotal</div>
                        </td>
                        @*<td></td>*@
                    </tr>
                </table>
                <div id="main-footer">
                    <div id="footer-1">
                        <div style="padding-bottom: 20px;">
                            CERTIFIED CORRECT:
                        </div>
                        <div>
                            TELEPHONE NUMBER:
                        </div>
                    </div>
                    <div id="footer-2">
                        <div>
                            @Model.Signatory.SignatoryName
                        </div>
                        <hr />
                        <div style="padding-bottom: 9px;">
                            Signature Over Printed Name
                        </div>
                        <div>
                            @Model.Signatory.ContactNo
                        </div>
                        <hr />
                    </div>
                </div>
            </div>

            <div style='page-break-after: always;'></div>
        }

    }

</body>
</html>
