﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OTSheetTmp
@model CreateOrEditOTSheetTmpModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditOTSheetTmp")) : L("CreateNewOTSheetTmp")))

<div class="modal-body">
    <div id="OTSheetTmpInformationsTab">
        <form name="OTSheetTmpInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.OTSheetTmp.Id" />
            }

            <div class="form-group">
                <label for="OTSheetTmp_PayrollNo">@L("PayrollNo")</label>
                <input class="form-control m-input" id="OTSheetTmp_PayrollNo" value="@Model.OTSheetTmp.PayrollNo.ToString(CultureInfo.InvariantCulture)" type="number" name="payrollNo" />
            </div>

            <div class="form-group">
                <label for="OTSheetTmp_OvertimeTypeId">@L("OvertimeType")</label>
                <select class="form-control" asp-for="OTSheetTmp.OvertimeTypeId" asp-items="Model.OvertimeTypeList"></select>
            </div>

            <div class="form-group">
                <label for="OTSheetTmp_CostCenter">@L("CostCenter")</label>
                <input class="form-control m-input" id="OTSheetTmp_CostCenter" value="@Model.OTSheetTmp.CostCenter?.ToString(CultureInfo.InvariantCulture)" type="number" name="costCenter" />
            </div>

            <div class="form-group">
                <label for="OTSheetTmp_Hrs">@L("Hrs")</label>
                <input class="form-control m-input" id="OTSheetTmp_Hrs" value="@Model.OTSheetTmp.Hrs.ToString(CultureInfo.InvariantCulture)" type="number" name="hrs" />
            </div>

            <div class="form-group">
                <label for="OTSheetTmp_Mins">@L("Mins")</label>
                <input class="form-control m-input" id="OTSheetTmp_Mins" value="@Model.OTSheetTmp.Mins.ToString(CultureInfo.InvariantCulture)" type="number" name="mins" />
            </div>

            <div class="form-group">
                <label for="OTSheetTmp_EmployeeId">@L("EmployeeId")</label>
                <input class="form-control m-input" id="OTSheetTmp_EmployeeId" value="@Model.OTSheetTmp.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
            </div>

            <div class="form-group">
                <label for="OTSheetTmp_SessionId">@L("SessionId")</label>
                <input class="form-control" id="OTSheetTmp_SessionId" value="@Model.OTSheetTmp.SessionId" type="text" name="sessionId" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")