﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.HRSettings
@model CreateOrEditHRSettingsModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditHRSettings")) : L("CreateNewHRSettings")))

<div class="modal-body">
    <div id="HRSettingsInformationsTab">
        <form name="HRSettingsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.HRSettings.Id" />
            }

            <div class="form-group row">
                <div class="col-9">
                    <label class="col-3 col-form-label" for="HRSettings_Key">@L("Key")</label>
                    <input class="form-control" id="HRSettings_Key" value="@Model.HRSettings.Key" type="text" name="key" required maxlength="@MMB.ePay.HR.HRSettingsConsts.MaxKeyLength" minlength="@MMB.ePay.HR.HRSettingsConsts.MinKeyLength" />
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="HRSettings_Value">@L("Value")</label>
                    <div class="col-9">
                        <input class="form-control" id="HRSettings_Value" value="@Model.HRSettings.Value" type="text" name="value" required maxlength="@MMB.ePay.HR.HRSettingsConsts.MaxValueLength" minlength="@MMB.ePay.HR.HRSettingsConsts.MinValueLength" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="HRSettings_DataType">@L("DataType")</label>
                    <div class="col-9">
                        <input class="form-control" id="HRSettings_DataType" value="@Model.HRSettings.DataType" type="text" name="dataType" required maxlength="@MMB.ePay.HR.HRSettingsConsts.MaxDataTypeLength" minlength="@MMB.ePay.HR.HRSettingsConsts.MinDataTypeLength" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="HRSettings_Caption">@L("Caption")</label>
                    <div class="col-9">
                        <input class="form-control" id="HRSettings_Caption" value="@Model.HRSettings.Caption" type="text" name="caption" required maxlength="@MMB.ePay.HR.HRSettingsConsts.MaxCaptionLength" minlength="@MMB.ePay.HR.HRSettingsConsts.MinCaptionLength" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="HRSettings_Description">@L("Description")</label>
                    <div class="col-9">
                        <input class="form-control" id="HRSettings_Description" value="@Model.HRSettings.Description" type="text" name="description" maxlength="@MMB.ePay.HR.HRSettingsConsts.MaxDescriptionLength" minlength="@MMB.ePay.HR.HRSettingsConsts.MinDescriptionLength" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="HRSettings_DisplayOrder">@L("DisplayOrder")</label>
                    <div class="col-9">
                        <input class="form-control m-input" id="HRSettings_DisplayOrder" value="@Model.HRSettings.DisplayOrder?.ToString(CultureInfo.InvariantCulture)" type="number" name="displayOrder" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="HRSettings_GroupSettingId">@L("GroupSettingId")</label>
                    <div class="col-9">
                        <select class="form-control" asp-for="HRSettings.GroupSettingId" asp-items="Model.GroupSettingList"></select>
                    </div>
                </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")