﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.HRSettings
@model HRSettingsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="HRSettingsInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Key") :</h6>
                @Model.HRSettings.Key
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Value") :</h6>
                @Model.HRSettings.Value
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DataType") :</h6>
                @Model.HRSettings.DataType
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Caption") :</h6>
                @Model.HRSettings.Caption
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.HRSettings.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DisplayOrder") :</h6>
                @Model.HRSettings.DisplayOrder
            </div>
            <div class="col-6 mb-3">
                <h6>@L("GroupSetting") :</h6>
                @Model.HRSettings.GroupSetting
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")